@import url("https://fonts.googleapis.com/css2?family=Martel:wght@400;800&family=Roboto:wght@300;400;500&display=swap");
/* Global styles */
.window-app {
  font-family: "Roboto", sans-serif;
}

.rollable:hover, .rollable:focus {
  color: #000;
  text-shadow: 0 0 10px red;
  cursor: pointer;
}

.grid,
.grid-2col {
  display: grid;
  grid-column: span 2 / span 2;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 10px;
  margin: 10px 0;
  padding: 0;
}

.grid-3col {
  grid-column: span 3 / span 3;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid-4col {
  grid-column: span 4 / span 4;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.grid-5col {
  grid-column: span 5 / span 5;
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.grid-6col {
  grid-column: span 5 / span 5;
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.grid-7col {
  grid-column: span 7 / span 7;
  grid-template-columns: repeat(7, minmax(0, 1fr));
}

.grid-8col {
  grid-column: span 8 / span 8;
  grid-template-columns: repeat(8, minmax(0, 1fr));
}

.grid-9col {
  grid-column: span 9 / span 9;
  grid-template-columns: repeat(9, minmax(0, 1fr));
}

.grid-10col {
  grid-column: span 10 / span 10;
  grid-template-columns: repeat(10, minmax(0, 1fr));
}

.grid-11col {
  grid-column: span 11 / span 11;
  grid-template-columns: repeat(11, minmax(0, 1fr));
}

.grid-12col {
  grid-column: span 12 / span 12;
  grid-template-columns: repeat(12, minmax(0, 1fr));
}

.flex-group-center,
.flex-group-left,
.flex-group-right {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  padding: 5px;
  border: 1px solid #999;
}

.flex-group-left {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  text-align: left;
}

.flex-group-right {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  text-align: right;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.flex-fill {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}

.flex-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}

.flex-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

/* Styles limited to exaltedthird sheets */
.exaltedthird .item-form {
  font-family: "Roboto", sans-serif;
}

.exaltedthird .sheet-header {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 225px;
  flex: 0 0 225px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin-bottom: 10px;
  -webkit-box-align: start !important;
  -ms-flex-align: start !important;
  align-items: start !important;
}

.exaltedthird .sheet-header .profile-img-wrapper {
  max-width: 110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-right: 10px;
}

.exaltedthird .sheet-header .profile-img {
  background: black;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100px;
  flex: 0 0 100px;
  height: 100px;
}

.exaltedthird .sheet-header .header-fields {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.exaltedthird .sheet-header h1.charname {
  height: 50px;
  padding: 0px;
  margin: 5px 0;
  border-bottom: 0;
}

.exaltedthird .sheet-header h1.charname input {
  width: 100%;
  height: 100%;
  margin: 0;
}

.exaltedthird .sheet-header h1.charname select {
  width: 100%;
  height: 100%;
  font-size: 29px;
}

.exaltedthird .sheet-header h1.itemname {
  height: 50px;
  padding: 0px;
  margin: 5px 0;
  border-bottom: 0;
}

.exaltedthird .sheet-header h1.itemname input {
  width: 90%;
  height: 100%;
  margin: 0;
}

.exaltedthird .sheet-header h1.itemname select {
  width: 100%;
  height: 100%;
  font-size: 29px;
}

.exaltedthird .pool {
  border: none;
}

.exaltedthird .pool-value-input {
  width: 15%;
  margin-right: 5px;
}

.exaltedthird .roll-button {
  height: 26px;
  line-height: 22px;
}

.exaltedthird textarea {
  font-family: inherit;
  font-size: inherit;
}

.exaltedthird .margin-right {
  margin-right: 10px;
}

.exaltedthird .sheet-tabs {
  -webkit-box-flex: 0;
  -ms-flex: 0;
  flex: 0;
}

.exaltedthird .sheet-body,
.exaltedthird .sheet-body .tab.active,
.exaltedthird .sheet-body .tab .editor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.exaltedthird .sheet-body,
.exaltedthird .sheet-body .tab,
.exaltedthird .sheet-body .tab .editor {
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.exaltedthird .tox .tox-editor-container {
  background: #fff;
}

.exaltedthird .tox .tox-edit-area {
  padding: 0 8px;
}

.exaltedthird .check-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.exaltedthird .tag {
  display: inline-block;
  margin: 0 2px 0 0;
  padding: 0 3px;
  font-size: 10px;
  line-height: 16px;
  border: 1px solid #999;
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.05);
}

.exaltedthird .mt-1 {
  margin-top: 10px;
}

.exaltedthird .mt-2 {
  margin-top: 20px;
}

.exaltedthird .mb-1 {
  margin-bottom: 10px;
}

.exaltedthird .mb-2 {
  margin-bottom: 20px;
}

.exaltedthird .ml-1 {
  margin-left: 10px;
}

.exaltedthird .ml-2 {
  margin-left: 20px;
}

.exaltedthird .mr-1 {
  margin-right: 10px;
}

.exaltedthird .mr-2 {
  margin-right: 20px;
}

.exaltedthird .resource-label {
  font-weight: bold;
}

.exaltedthird .resource-calculated-value {
  font-size: 35px;
}

.exaltedthird .resource-calculated-value-small {
  font-size: 19px;
}

.exaltedthird .resource-label::first-letter {
  text-transform: uppercase;
}

.exaltedthird .resource-table-value::first-letter {
  text-transform: uppercase;
}

.exaltedthird .tabs {
  height: 30px;
  border-top: none !important;
  border-bottom: 1px solid #AAA;
}

.exaltedthird .tabs .item {
  line-height: 30px;
  padding: 0px 13px !important;
  font-weight: bold;
}

.exaltedthird .tabs .item.active {
  text-shadow: none;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 5px 5px 0px 0px;
}

.exaltedthird .items-list {
  list-style: none;
  margin: 7px 0;
  padding: 0;
  overflow-y: auto;
}

.exaltedthird .items-list .item-header {
  font-weight: bold;
}

.exaltedthird .items-list .item {
  line-height: 24px;
  padding: 3px 0;
  border-bottom: 1px solid #BBB;
}

.exaltedthird .items-list .item .item-image {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 24px;
  flex: 0 0 24px;
  margin-right: 5px;
}

.exaltedthird .items-list .item .list-item-image {
  background: black;
}

.exaltedthird .items-list .item img {
  display: block;
}

.exaltedthird .items-list .item-large {
  text-align: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.exaltedthird .items-list .item-large .item-name {
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
}

.exaltedthird .items-list .item-name {
  margin: 0;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
}

.exaltedthird .items-list .item-controls {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 107px;
  flex: 0 0 107px;
  text-align: right;
}

.exaltedthird .items-list .items-controls {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 172px;
  flex: 0 0 172px;
  text-align: right;
}

.exaltedthird .items-list .merits-controls {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 200px;
  flex: 0 0 200px;
  text-align: right;
}

.exaltedthird .items-list .qualities-controls {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 97px;
  flex: 0 0 97px;
  text-align: right;
}

.exaltedthird .items-list .item-description {
  display: none;
}

.exaltedthird .items-list .effects-list {
  padding: 0;
}

@font-face {
  font-family: "MinionPro";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/MinionPro.otf") format("truetype");
}

#pause img {
  content: url(../assets/pause.png);
  height: 130px;
  width: 130px;
  opacity: 0.7;
}

.solar-background .window-content {
  background: url("../assets/backgrounds/solar-background.jpg");
  background-size: cover;
}

.lunar-background .window-content {
  background: url("../assets/backgrounds/lunar-background.jpg");
  background-size: cover;
}

.db-background .window-content {
  background: url("../assets/backgrounds/db-background.jpg");
  background-size: cover;
}

.exigent-background .window-content {
  background: url("../assets/backgrounds/exigent-background.jpg");
  background-size: cover;
}

.janest-background .window-content {
  background: url("../assets/backgrounds/janest-background.jpg");
  background-size: cover;
}

.puppeteer-background .window-content {
  background: url("../assets/backgrounds/puppeteer-background.jpg");
  background-size: cover;
}

.sovereign-background .window-content {
  background: url("../assets/backgrounds/sovereign-background.jpg");
  background-size: cover;
}

.tree-background .window-content {
  background: url("../assets/backgrounds/tree-background.jpg");
  background-size: cover;
}

.leaves-background .window-content {
  background: url("../assets/backgrounds/leaves-background.jpg");
  background-size: cover;
}

.exaltedthird .window-content .abilities,
.exaltedthird.sheet.actor .window-content .abilities {
  border: none;
  border-bottom: 1px solid #b5b3a4;
}

/* Resource boxes CSS */
.exaltedthird .resource-value .resource-value-step {
  height: 14px;
  width: 14px;
  border: 1px solid black;
  display: inline-block;
  border-radius: 50%;
  cursor: pointer;
}

.exaltedthird .resource-value-static .resource-value-static-step {
  height: 14px;
  width: 14px;
  border: 1px solid black;
  display: inline-block;
  border-radius: 50%;
}

.exaltedthird .augment-attribute-active {
  color: #147c14;
}

.attributes input[type="checkbox"] {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 15px;
  flex: 0 0 15px;
  width: 15px;
  height: 15px;
  margin: 0px 10px 0px 0px;
}

.list-input {
  -webkit-box-flex: 0.3;
  -ms-flex: 0.3;
  flex: 0.3;
}

.ability-item-edit {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 40px;
  flex: 0 0 40px;
  width: 15px;
  height: 15px;
  margin: 0px 10px 0px 0px;
}

.exaltedthird .resource-value .resource-value-empty {
  height: 14px;
  width: 14px;
  border: 1px solid black;
  display: inline-block;
  border-radius: 50%;
  cursor: pointer;
  background: -o-linear-gradient(45deg, transparent 0%, transparent 43%, black 45%, black 55%, transparent 57%, transparent 100%), -o-linear-gradient(315deg, transparent 0%, transparent 43%, black 45%, black 55%, transparent 57%, transparent 100%);
  background: linear-gradient(45deg, transparent 0%, transparent 43%, black 45%, black 55%, transparent 57%, transparent 100%), linear-gradient(135deg, transparent 0%, transparent 43%, black 45%, black 55%, transparent 57%, transparent 100%);
}

.exaltedthird .resource-counter .resource-counter-step {
  border: 1px solid black;
  display: inline-block;
  cursor: pointer;
}

.exaltedthird .non-health-boxes {
  height: 14px;
  width: 14px;
}

.exaltedthird .health-boxes {
  height: 17px;
  width: 17px;
}

.exaltedthird .resource-counter .resource-counter-step[data-state="-"] {
  background-color: #147c14;
}

.exaltedthird .resource-counter .resource-counter-step[data-state="/"] {
  background: -o-linear-gradient(315deg, transparent 0%, transparent 43%, black 45%, black 55%, transparent 57%, transparent 100%);
  background: linear-gradient(135deg, transparent 0%, transparent 43%, black 45%, black 55%, transparent 57%, transparent 100%);
}

.exaltedthird .resource-counter .resource-counter-step[data-state="x"] {
  background: -o-linear-gradient(45deg, transparent 0%, transparent 43%, black 45%, black 55%, transparent 57%, transparent 100%), -o-linear-gradient(315deg, transparent 0%, transparent 43%, black 45%, black 55%, transparent 57%, transparent 100%);
  background: linear-gradient(45deg, transparent 0%, transparent 43%, black 45%, black 55%, transparent 57%, transparent 100%), linear-gradient(135deg, transparent 0%, transparent 43%, black 45%, black 55%, transparent 57%, transparent 100%);
}

.exaltedthird .query-results {
  height: 66%;
  overflow: scroll;
}

.exaltedthird .query-results .search-item-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid black;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.exaltedthird .query-results .list-item-image {
  background: black;
}

.exaltedthird .resource-counter .resource-counter-step[data-state="*"] {
  background: -o-linear-gradient(45deg, transparent 0%, transparent 43%, black 45%, black 55%, transparent 57%, transparent 100%), -o-linear-gradient(left, transparent 0%, transparent 43%, black 45%, black 55%, transparent 57%, transparent 100%), -o-linear-gradient(top, transparent 0%, transparent 43%, black 45%, black 55%, transparent 57%, transparent 100%), -o-linear-gradient(315deg, transparent 0%, transparent 43%, black 45%, black 55%, transparent 57%, transparent 100%);
  background: linear-gradient(45deg, transparent 0%, transparent 43%, black 45%, black 55%, transparent 57%, transparent 100%), linear-gradient(90deg, transparent 0%, transparent 43%, black 45%, black 55%, transparent 57%, transparent 100%), linear-gradient(180deg, transparent 0%, transparent 43%, black 45%, black 55%, transparent 57%, transparent 100%), linear-gradient(135deg, transparent 0%, transparent 43%, black 45%, black 55%, transparent 57%, transparent 100%);
}

.exaltedthird .flex-group-center:not(.flexrow) .resource-value,
.exaltedthird .flex-group-center:not(.flexrow) .resource-counter {
  margin-top: 5px;
}

.exaltedthird .tab.disciplines .resource-value {
  margin-top: 2px;
}

.list-section-header {
  margin-top: 20px;
  border-bottom: 1px solid black;
}

.exaltedthird .cursor-pointer {
  cursor: pointer;
}

.dice-tooltip {
  display: block !important;
}

.dice-roll .dice-total-middle {
  margin-bottom: 5px;
}

.dice-roll .dice-total-end {
  margin-top: 5px;
}

.closeImportItem {
  display: none;
}

.dice-tooltip .dice-rolls .double-success {
  color: #aa0200 !important;
  -webkit-filter: sepia(0.5) hue-rotate(-160deg) !important;
  filter: sepia(0.5) hue-rotate(-160deg) !important;
}

.roll-ability {
  cursor: pointer;
}

.roll-ability:hover {
  text-shadow: 0 0 black;
}

.roll-pool {
  cursor: pointer;
}

.roll-pool:hover {
  text-shadow: 0 0 black;
}

.roll-action {
  cursor: pointer;
}

.roll-action:hover {
  text-shadow: 0 0 black;
}

.roll-hover {
  cursor: pointer;
}

.roll-hover:hover {
  text-shadow: 0 0 black;
}

.chat-message {
  background: url("../assets/backgrounds/leaves-background-small.jpg");
  background-size: cover;
}

.embeded-item-list-wrapper {
  min-height: 40px;
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.05);
}

.embeded-item-list-wrapper .embeded-item-list {
  padding: 0;
  border: 0;
}

.embeded-item-list-wrapper .embeded-item-list .embeded-item-pill {
  list-style-type: none;
  padding: 0 5px;
  background-color: #fef6df;
  border: 1px solid black;
  border-radius: 12px;
  float: left;
  margin: 1px;
  cursor: pointer;
  font-size: 12px;
  line-height: 20px;
  white-space: nowrap;
}

.chat-card {
  font-style: normal;
  font-size: 12px;
}

.borderless-image {
  border: none;
  border-radius: 0px;
}

.chat-card .roll-card-header {
  font-size: 16px;
  border-bottom: 1px solid black;
}

.chat-card .card-header {
  padding: 3px 0;
  border-top: 2px groove #FFF;
  border-bottom: 2px groove #FFF;
}

.chat-card .card-header img {
  background: black;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 36px;
  flex: 0 0 36px;
  margin-right: 5px;
}

.chat-card .card-content {
  margin: 5px 0;
}

.chat-card .card-content h3 {
  font-size: 12px;
  margin: 0;
  font-weight: bold;
}

.chat-card .card-content > * {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

.chat-card .item-description {
  display: none;
}

.chat-card .item-name {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin: 0;
  line-height: 36px;
  font-family: "Modesto Condensed", "Palatino Linotype", serif;
  font-size: 20px;
  font-weight: 700;
  color: #4b4a44;
}

.chat-card .card-buttons {
  margin: 5px 0;
}

.chat-card .card-buttons span {
  display: block;
  line-height: 28px;
  text-align: center;
}

.chat-card .card-buttons button {
  font-size: 12px;
  height: 24px;
  line-height: 20px;
  margin: 2px 0;
}

.chat-card .card-footer {
  padding: 3px 0 0;
  border-top: 2px groove #FFF;
}

.chat-card .card-footer span {
  border-right: 2px groove #FFF;
  padding: 0 3px 0 0;
  font-size: 10px;
}

.chat-card .card-footer span:last-child {
  border-right: none;
  padding-right: 0;
}

.chat-control-icon .fa-dice-d20:before {
  content: "\f6cd" !important;
}

.chat-control-icon .fas.fa-dice-d20:hover:before {
  cursor: pointer;
}

.journal-charm-cards .card-wrapper {
  background: #fbf7e1;
}

.journal-charm-cards .card-wrapper .charm-card {
  margin: 10px;
  text-align: center;
}

.journal-charm-cards .card-wrapper .charm-card-content-wrapper {
  display: inline-block;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.journal-charm-cards .card-wrapper .charm-card-content-wrapper .charm-content {
  margin-top: 17px;
  margin-bottom: 17px;
}

.journal-charm-cards .card-wrapper .charm-card-content-wrapper .charm-content .dot {
  height: 20px;
  width: 20px;
  border: 1px solid black;
  display: inline-block;
  border-radius: 50%;
}

.journal-charm-cards .card-wrapper .charm-card-content-wrapper .charm-content .full-essence-dot {
  background-color: #ffff00;
}

.journal-charm-cards .card-wrapper .charm-card-content-wrapper .charm-content .full-ability-dot {
  background-color: #d90000;
}

.journal-charm-cards .card-wrapper .charm-card-content-wrapper .charm-content .charm-name {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 10px;
}

.journal-charm-cards .card-wrapper .charm-card-content-wrapper .charm-content .charm-prerequisites {
  margin-top: 5px;
}

.journal-charm-cards .card-wrapper .charm-card-content-wrapper .charm-content .charm-leads-to {
  margin-bottom: 10px;
}

.journal-charm-cards .card-wrapper .charm-card-content-wrapper .charm-content .charm-description {
  margin-bottom: 6px;
  margin-top: 5px;
  text-align: start;
}
