<div class="tab {{tab.cssClass}}" data-group="primary" data-tab="details">
    <div class="grid grid-2col flex-group-center">
        <div>
            <div class="resource-label">{{localize "Ex3.EndTrigger"}}</div>
            <select name="system.endtrigger" data-type="String">
                {{selectOptions selects.endTriggers selected=system.endtrigger localize=true}}
            </select>
        </div>
        <div>
            <div class="resource-label">{{localize "Ex3.AutoAddToRolls"}}</div>
            <select name="system.autoaddtorolls" data-type="String">
                {{selectOptions selects.autoAddToRollOptions selected=system.autoaddtorolls localize=true}}
            </select>
        </div>
        <div>
            <div class="resource-label">{{localize "Ex3.Points"}}</div>
            <input type="number" name="system.points"
                value="{{system.points}}" data-dtype="Number" />
        </div>
        <div>
            <div class="resource-label">{{localize "Ex3.Type"}}</div>
            <select name="system.powertype" data-type="String">
                {{selectOptions selects.specialAbilityTypes selected=system.powertype localize=true blank="Ex3.None"}}
            </select>
        </div>
    </div>
</div>