<form>
    <div class="sheet-body exaltedthird">
        <div class="resource grid grid-2col flex-center">
            {{#ifEquals character-type 'character'}}
        
            <label class="resource-label">{{localize "Ex3.Attribute"}}: </label>
            <select id="attribute" name="attribute" data-type="String">
                {{#select attribute}}
                <option value="strength">{{localize "Ex3.Strength"}}</option>
                <option value="dexterity">{{localize "Ex3.Dexterity"}}</option>
                <option value="stamina">{{localize "Ex3.Stamina"}}</option>
                <option value="charisma">{{localize "Ex3.Charisma"}}</option>
                <option value="manipulation">{{localize "Ex3.Manipulation"}}</option>
                <option value="appearance">{{localize "Ex3.Appearance"}}</option>
                <option value="perception">{{localize "Ex3.Perception"}}</option>
                <option value="intelligence">{{localize "Ex3.Intelligence"}}</option>
                <option value="wits">{{localize "Ex3.Wits"}}</option>
                {{/select}}
            </select>
        
            <label class="resource-label">{{localize "Ex3.Ability"}}: </label>
            <select id="ability" name="ability" data-type="String">
                {{#select ability}}
                <option value="archery">{{localize "Ex3.Archery"}}</option>
                <option value="athletics">{{localize "Ex3.Athletics"}}</option>
                <option value="awareness">{{localize "Ex3.Awareness"}}</option>
                <option value="brawl">{{localize "Ex3.Brawl"}}</option>
                <option value="bureaucracy">{{localize "Ex3.Bureaucracy"}}</option>
                <option value="craft">{{localize "Ex3.Craft"}}</option>
                <option value="dodge">{{localize "Ex3.Dodge"}}</option>
                <option value="integrity">{{localize "Ex3.Integrity"}}</option>
                <option value="investigation">{{localize "Ex3.Investigation"}}</option>
                <option value="larceny">{{localize "Ex3.Larceny"}}</option>
                <option value="linguistics">{{localize "Ex3.Linguistics"}}</option>
                <option value="lore">{{localize "Ex3.Lore"}}</option>
                <option value="martialarts">{{localize "Ex3.MartialArts"}}</option>
                <option value="medicine">{{localize "Ex3.Medicine"}}</option>
                <option value="melee">{{localize "Ex3.Melee"}}</option>
                <option value="occult">{{localize "Ex3.Occult"}}</option>
                <option value="performance">{{localize "Ex3.Performance"}}</option>
                <option value="presence">{{localize "Ex3.Presence"}}</option>
                <option value="resistance">{{localize "Ex3.Resistance"}}</option>
                <option value="ride">{{localize "Ex3.Ride"}}</option>
                <option value="socialize">{{localize "Ex3.Socialize"}}</option>
                <option value="stealth">{{localize "Ex3.Stealth"}}</option>
                <option value="survival">{{localize "Ex3.Survival"}}</option>
                <option value="thrown">{{localize "Ex3.Thrown"}}</option>
                <option value="war">{{localize "Ex3.War"}}</option>
                {{/select}}
            </select>
        
            {{/ifEquals}}
        
        
            {{#ifEquals character-type 'npc'}}
        
            <label class="resource-label">{{localize "Ex3.Pool"}}: </label>
            <select id="pool" name="pool" data-type="String">
                {{#select ability}}
                <option value="administration">{{localize "Ex3.Administration"}}</option>
                <option value="command">{{localize "Ex3.Command"}}</option>
                <option value="craft">{{localize "Ex3.Craft"}}</option>
                <option value="investigation">{{localize "Ex3.Investigation"}}</option>
                <option value="joinbattle">{{localize "Ex3.JoinBattle"}}</option>
                <option value="larceny">{{localize "Ex3.Larceny"}}</option>
                <option value="medicine">{{localize "Ex3.Medicine"}}</option>
                <option value="movement">{{localize "Ex3.Movement"}}</option>
                <option value="readintentions">{{localize "Ex3.ReadIntentions"}}</option>
                <option value="resistpoison">{{localize "Ex3.ResistPoison"}}</option>
                <option value="senses">{{localize "Ex3.Senses"}}</option>
                <option value="social">{{localize "Ex3.Social"}}</option>
                <option value="sorcery">{{localize "Ex3.Sorcery"}}</option>
                <option value="strength">{{localize "Ex3.Strength"}}</option>
                <option value="strategy">{{localize "Ex3.Strength"}}</option>
                <option value="stealth">{{localize "Ex3.Strategy"}}</option>
                <option value="tracking">{{localize "Ex3.Tracking"}}</option>
                <option value="other">{{localize "Ex3.Other"}}</option>
                {{/select}}
            </select>
            {{/ifEquals}}
        </div>
        
        {{> systems/exaltedthird/templates/dialogues/ability-base.html}}
    </div>
</form>