{{#ifEquals data.rollType 'base'}}
<label class="resource-label">{{localize "Ex3.Dice"}}</label>
<div class="form-group"><input name="object.dice" value="{{data.dice}}" type="number"></div>
{{else}}
<div class="resource grid grid-2col flex-center">
    {{#ifEquals data.characterType 'character'}}

    <label class="resource-label">{{localize "Ex3.Attribute"}}: </label>
    <select class="update-roller" name="object.attribute" value="{{data.attribute}}" data-type="String">
        {{#select data.attribute}}
        <option value="strength">{{localize "Ex3.Strength"}}</option>
        <option value="dexterity">{{localize "Ex3.Dexterity"}}</option>
        <option value="stamina">{{localize "Ex3.Stamina"}}</option>
        <option value="charisma">{{localize "Ex3.Charisma"}}</option>
        <option value="manipulation">{{localize "Ex3.Manipulation"}}</option>
        <option value="appearance">{{localize "Ex3.Appearance"}}</option>
        <option value="perception">{{localize "Ex3.Perception"}}</option>
        <option value="intelligence">{{localize "Ex3.Intelligence"}}</option>
        <option value="wits">{{localize "Ex3.Wits"}}</option>
        <option value="none">{{localize "Ex3.None"}}</option>
        {{/select}}
    </select>

    {{#if data.martialArtRoll}}
    <label class="resource-label">{{localize "Ex3.Ability"}}: </label>
    <select name="object.martialArtId" value="{{data.martialArtId}}" data-type="String">
        {{#select data.martialArtId}}
        {{#each actor.martialarts as |action key|}}
        <option value="{{action._id}}">{{action.name}}</option>
        {{/each}}
        {{/select}}
    </select>
    {{else if data.craftRoll}}
    <label class="resource-label">{{localize "Ex3.Ability"}}: </label>
    <select name="object.craftId" value="{{data.craftId}}" data-type="String">
        {{#select data.craftId}}
        {{#each actor.crafts as |action key|}}
        <option value="{{action._id}}">{{action.name}}</option>
        {{/each}}
        {{/select}}
    </select> 
    {{else}}
    <label class="resource-label">{{localize "Ex3.Ability"}}: </label>
    <select class="update-roller update-specialties" name="object.ability" value="{{data.ability}}" data-type="String">
        {{#select data.ability}}
        <option value="archery">{{localize "Ex3.Archery"}}</option>
        <option value="athletics">{{localize "Ex3.Athletics"}}</option>
        <option value="awareness">{{localize "Ex3.Awareness"}}</option>
        <option value="brawl">{{localize "Ex3.Brawl"}}</option>
        <option value="bureaucracy">{{localize "Ex3.Bureaucracy"}}</option>
        <option value="craft">{{localize "Ex3.Craft"}}</option>
        <option value="dodge">{{localize "Ex3.Dodge"}}</option>
        <option value="integrity">{{localize "Ex3.Integrity"}}</option>
        <option value="investigation">{{localize "Ex3.Investigation"}}</option>
        <option value="larceny">{{localize "Ex3.Larceny"}}</option>
        <option value="linguistics">{{localize "Ex3.Linguistics"}}</option>
        <option value="lore">{{localize "Ex3.Lore"}}</option>
        <option value="martialarts">{{localize "Ex3.MartialArts"}}</option>
        <option value="medicine">{{localize "Ex3.Medicine"}}</option>
        <option value="melee">{{localize "Ex3.Melee"}}</option>
        <option value="occult">{{localize "Ex3.Occult"}}</option>
        <option value="performance">{{localize "Ex3.Performance"}}</option>
        <option value="presence">{{localize "Ex3.Presence"}}</option>
        <option value="resistance">{{localize "Ex3.Resistance"}}</option>
        <option value="ride">{{localize "Ex3.Ride"}}</option>
        <option value="sail">{{localize "Ex3.Sail"}}</option>
        <option value="socialize">{{localize "Ex3.Socialize"}}</option>
        <option value="stealth">{{localize "Ex3.Stealth"}}</option>
        <option value="survival">{{localize "Ex3.Survival"}}</option>
        <option value="thrown">{{localize "Ex3.Thrown"}}</option>
        <option value="war">{{localize "Ex3.War"}}</option>
        <option value="willpower">{{localize "Ex3.Willpower"}}</option>
        <option value="none">{{localize "Ex3.None"}}</option>
        {{/select}}
    </select>
    {{/if}}

    <label class="resource-label">{{localize "Ex3.Specialty"}}: </label>
    <select class="update-roller" name="object.specialty" value="{{data.specialty}}" data-type="String">
        {{#select data.specialty}}
        <option value=""></option>
        {{#each data.specialtyList as |item id|}}
        <option value="{{id}}">{{item.name}}</option>
        {{/each}}
        {{/select}}
    </select>

    {{/ifEquals}}


    {{#if data.showPool}}
    {{#ifEquals data.characterType 'npc'}}

    {{#if data.actionRoll}}
    <label class="resource-label">{{localize "Ex3.Action"}}: </label>
    <select name="object.actionId" value="{{data.actionId}}" data-type="String">
        {{#select data.actionId}}
        {{#each actor.actions as |action key|}}
        <option value="{{action._id}}">{{action.name}}</option>
        {{/each}}
        {{/select}}
    </select>
    {{else}}
    <label class="resource-label">{{localize "Ex3.Pool"}}: </label>
    <select name="object.pool" value="{{data.pool}}" data-type="String">
        {{#select data.pool}}
        <option value="administration">{{localize "Ex3.Administration"}}</option>
        <option value="command">{{localize "Ex3.Command"}}</option>
        <option value="craft">{{localize "Ex3.Craft"}}</option>
        <option value="grapple">{{localize "Ex3.Grapple"}}</option>
        <option value="investigation">{{localize "Ex3.Investigation"}}</option>
        <option value="joinbattle">{{localize "Ex3.JoinBattle"}}</option>
        <option value="larceny">{{localize "Ex3.Larceny"}}</option>
        <option value="medicine">{{localize "Ex3.Medicine"}}</option>
        <option value="movement">{{localize "Ex3.Movement"}}</option>
        <option value="readintentions">{{localize "Ex3.ReadIntentions"}}</option>
        <option value="resistpoison">{{localize "Ex3.ResistPoison"}}</option>
        <option value="senses">{{localize "Ex3.Senses"}}</option>
        <option value="social">{{localize "Ex3.Social"}}</option>
        <option value="sorcery">{{localize "Ex3.Sorcery"}}</option>
        <option value="strength">{{localize "Ex3.Strength"}}</option>
        <option value="strategy">{{localize "Ex3.Strength"}}</option>
        <option value="stealth">{{localize "Ex3.Strategy"}}</option>
        <option value="tracking">{{localize "Ex3.Tracking"}}</option>
        <option value="willpower">{{localize "Ex3.Willpower"}}</option>
        <option value="other">{{localize "Ex3.Other"}}</option>
        {{/select}}
    </select>
    {{/if}}
    {{/ifEquals}}
    {{/if}}


    <label class="resource-label">{{localize "Ex3.StuntLevel"}}:</label>
    <select name="object.stunt" value="{{data.stunt}}" data-type="String">
        {{#select data.stunt}}
        <option value="none">None</option>
        <option value="one">One</option>
        <option value="two">Two</option>
        <option value="three">Three</option>
        {{/select}}
    </select>
</div>
{{/ifEquals}}

<div class="resource grid grid-2col flex-center">
    <div>
        <label class="resource-label">{{localize "Ex3.TargetNumber"}} </label>
        <input name="object.targetNumber" value="{{data.targetNumber}}" type="number">
    </div>
    <div>
        <label class="resource-label">{{localize "Ex3.SuccessModifier"}} </label>
        <input name="object.successModifier" value="{{data.successModifier}}" type="number">
    </div>
    <div>
        <label class="resource-label">{{localize "Ex3.DoubleSuccess"}} + </label>
        <input name="object.doubleSuccess" value="{{data.doubleSuccess}}" type="number">
    </div>

    {{#ifNotEquals data.rollType 'base'}}
    <div>
        <label class="resource-label">{{localize "Ex3.DiceModifier"}} </label>
        <input name="object.diceModifier" value="{{data.diceModifier}}" type="number">
    </div>
    {{/ifNotEquals}}

</div>
<div class="resource flex-center">
    <label class="resource-label">{{localize "Ex3.Reroll"}}</label>
</div>
<div class="resource d-flex flex-center">
    <div>
        <div>1</div>
        <input name="object.reroll.one.status" type="checkbox" {{checked data.reroll.one.status}}>
    </div>
    <div>
        <div>2</div>
        <input name="object.reroll.two.status" type="checkbox" {{checked data.reroll.two.status}}>
    </div>
    <div>
        <div>3</div>
        <input name="object.reroll.three.status" type="checkbox" {{checked data.reroll.three.status}}>
    </div>
    <div>
        <div>4</div>
        <input name="object.reroll.four.status" type="checkbox" {{checked data.reroll.four.status}}>
    </div>
    <div>
        <div>5</div>
        <input name="object.reroll.five.status" type="checkbox" {{checked data.reroll.five.status}}>
    </div>
    <div>
        <div>6</div>
        <input name="object.reroll.six.status" type="checkbox" {{checked data.reroll.six.status}}>
    </div>
    <div>
        <div>7</div>
        <input name="object.reroll.seven.status" type="checkbox" {{checked data.reroll.seven.status}}>
    </div>
    <div>
        <div>8</div>
        <input name="object.reroll.eight.status" type="checkbox" {{checked data.reroll.eight.status}}>
    </div>
    <div>
        <div>9</div>
        <input name="object.reroll.nine.status" type="checkbox" {{checked data.reroll.nine.status}}>
    </div>
    <div>
        <div>10</div>
        <input name="object.reroll.ten.status" type="checkbox" {{checked data.reroll.ten.status}}>
    </div>
</div>

{{#ifEquals data.rollType 'base'}}
{{else}}
<div class="resource grid grid-4col flex-center">
    <label class="resource-label">{{localize "Ex3.WoundPenalty"}}: </label>
    <input type="checkbox" name="object.woundPenalty" value="{{data.woundPenalty}}" {{checked data.woundPenalty}}>

    <label class="resource-label">{{localize "Ex3.Flurry"}}: </label>
    <input type="checkbox" name="object.isFlurry" value="{{data.isFlurry}}" {{checked data.isFlurry}}>

    <label class="resource-label">{{localize "Ex3.ArmorPenalty"}}: </label>
    <input type="checkbox" name="object.armorPenalty" value="{{data.armorPenalty}}" {{checked data.armorPenalty}}>

    <label class="resource-label">{{localize "Ex3.Willpower"}}: </label>
    <input type="checkbox" name="object.willpower" value="{{data.willpower}}" {{checked data.willpower}}>
</div>
{{/ifEquals}}

{{#ifNotEquals data.rollType 'base'}}
<div class="d-flex flex-between mb-1 collapsable cursor-pointer">
    <div class="resource-label">
        {{localize "Ex3.Charms"}} {{#ifNotEquals data.diceCap ''}} ({{localize "Ex3.DiceCap"}}: {{data.diceCap}}) {{/ifNotEquals}}
    </div>
    <div>
        <i class="fas fa-caret-down"></i>
    </div>
</div>
<div id="added-charms" {{#if data.showAddedCharmsList}} {{else}} style="display:none;" {{/if}}>
    <ol class="items-list">
        {{#each data.addedCharms as |item id|}}
        <li class="item flexrow item-row" data-item-id="{{item._id}}">
            <div class="item-image"><img class="list-item-image" src="{{item.img}}" title="{{item.name}}" width="24" height="24" /></div>
            <h4 class="item-name">{{item.name}}{{#if item.timesAdded}}(x{{item.timesAdded}}){{/if}}</h4>
            <div class="item-controls">
                <a class="item-control remove-charm" title="Remove Charm"><i class="fas fa-trash"></i></a>
            </div>
        </li>
        {{/each}}
    </ol>
    <div class="resource flex-center">
        <label class="resource-label">{{localize "Ex3.Cost"}}</label>
    </div>
    <div class="resource grid grid-3col flex-center">
        <div>
            <label class="resource-label">{{localize "Ex3.Motes"}}</label>
            <input type="number" name="object.cost.motes" value="{{data.cost.motes}}">
        </div>
        <div>
            <label class="resource-label">{{localize "Ex3.MuteMotes"}} </label>
            <input type="number" name="object.cost.muteMotes" value="{{data.cost.muteMotes}}">
        </div>
        <div>
            <label class="resource-label">{{localize "Ex3.Initiative"}} </label>
            <input type="number" name="object.cost.initiative" value="{{data.cost.initiative}}">
        </div>
        <div>
            <label class="resource-label">{{localize "Ex3.Anima"}} </label>
            <input type="number" name="object.cost.anima" value="{{data.cost.anima}}">
        </div>
        <div>
            <label class="resource-label">{{localize "Ex3.Willpower"}} </label>
            <input type="number" name="object.cost.willpower" value="{{data.cost.willpower}}">
        </div>
        <div>
            <div class="resource-label">{{localize "Ex3.Aura"}}</div>
            <select name="object.cost.aura" data-type="String">
                {{#select data.cost.aura}}
                <option value=""></option>
                <option value="any">{{localize "Ex3.Any"}}</option>
                <option value="air">{{localize "Ex3.Air"}}</option>
                <option value="earth">{{localize "Ex3.Earth"}}</option>
                <option value="fire">{{localize "Ex3.Fire"}}</option>
                <option value="water">{{localize "Ex3.Water"}}</option>
                <option value="wood">{{localize "Ex3.Wood"}}</option>
                {{/select}}
            </select>
        </div>
        <div>
            <div class="resource-label">{{localize "Ex3.Health"}}(b)</div>
            <input type="number" name="object.cost.healthbashing" value="{{data.cost.healthbashing}}" data-dtype="Number" />
        </div>
        <div>
            <div class="resource-label">{{localize "Ex3.Health"}}(l)</div>
            <input type="number" name="object.cost.healthlethal" value="{{data.cost.healthlethal}}" data-dtype="Number" />
        </div>
        <div>
            <div class="resource-label">{{localize "Ex3.Health"}}(a)</div>
            <input type="number" name="object.cost.healthaggravated" value="{{data.cost.healthaggravated}}" data-dtype="Number" />
        </div>
        <div>
            <div class="resource-label">{{localize "Ex3.Silver"}}</div>
            <input type="number" name="object.cost.silverxp" value="{{data.cost.silverxp}}" data-dtype="Number" />
        </div>
        <div>
            <div class="resource-label">{{localize "Ex3.Gold"}}</div>
            <input type="number" name="object.cost.goldxp" value="{{data.cost.goldxp}}" data-dtype="Number" />
        </div>
        <div>
            <div class="resource-label">{{localize "Ex3.White"}}</div>
            <input type="number" name="object.cost.whitexp" value="{{data.cost.whitexp}}" data-dtype="Number" />
        </div>
    </div>
</div>
{{#ifGreater data.opposingCharms.length 0}}
<div class="d-flex flex-between mb-1 collapsable cursor-pointer">
    <div class="resource-label">
        {{localize "Ex3.OpposingCharms"}}
    </div>
    <div>
        <i class="fas fa-caret-down"></i>
    </div>
</div>
<div style="display:none;">
    <ol class="items-list">
        {{#each data.opposingCharms as |item id|}}
        <li class="item flexrow item-row" data-item-id="{{item._id}}">
            <div class="item-image"><img class="list-item-image" src="{{item.img}}" title="{{item.name}}" width="24" height="24" /></div>
            <h4 class="item-name">{{item.name}}</h4>
            <div class="item-controls">
                <a class="item-control remove-opposing-charm" title="Remove Opposing Charm"><i class="fas fa-trash"></i></a>
            </div>
        </li>
        {{/each}}
    </ol>
</div>
{{/ifGreater}}
{{/ifNotEquals}}
<div class="d-flex flex-between mb-1 collapsable cursor-pointer">
    <div class="resource-label">
        {{localize "Ex3.OtherModifiers"}}
    </div>
    <div>
        <i class="fas fa-caret-down"></i>
    </div>
</div>
<div style="display:none;">
    <div class="resource grid grid-2col flex-center">
        <label class="resource-label">{{localize "Ex3.RerollNumDice"}} </label>
        <input name="object.rerollNumber" value="{{data.rerollNumber}}" type="number">
        <label class="resource-label">{{localize "Ex3.DicetoSuccesses"}} </label>
        <input type="number" name="object.diceToSuccesses" value="{{data.diceToSuccesses}}">
        <label class="resource-label">{{localize "Ex3.RerollFailed"}} </label>
        <input type="checkbox" name="object.rerollFailed" value="{{data.rerollFailed}}" {{checked data.rerollFailed}}>
        <label class="resource-label">{{localize "Ex3.RollTwiceKeepHighest"}}: </label>
        <input type="checkbox" name="object.rollTwice" value="{{data.rollTwice}}" {{checked data.rollTwice}}>
    </div>
</div>
{{#ifEquals actor.system.details.exalt 'solar'}}
{{#ifEquals data.rollType 'craft'}}
<div class="d-flex flex-between mb-1 collapsable cursor-pointer">
    <div class="resource-label">
        {{localize "Ex3.CraftCharmEffects"}}
    </div>
    <div>
        <i class="fas fa-caret-down"></i>
    </div>
</div>
<div style="display:none;">
    <div class="resource grid grid-2col flex-center">
        <label class="resource-label">{{localize "Ex3.DivineInspirationTechnique"}}: </label>
        <input type="checkbox" name="object.craft.divineInsperationTechnique" value="{{data.craft.divineInsperationTechnique}}" {{checked data.craft.divineInsperationTechnique}}>
        <label class="resource-label">{{localize "Ex3.HolisticMiracleUnderstanding"}}: </label>
        <input type="checkbox" name="object.craft.holisticMiracleUnderstanding" value="{{data.craft.holisticMiracleUnderstanding}}" {{checked data.craft.holisticMiracleUnderstanding}}>
    </div>
</div>
{{/ifEquals}}
{{/ifEquals}}
{{#ifNotEquals data.rollType 'base'}}
<div class="d-flex flex-between mb-1 collapsable cursor-pointer">
    <div class="resource-label">
        {{localize "Ex3.Conditions"}}
    </div>
    <div>
        <i class="fas fa-caret-down"></i>
    </div>
</div>
<div style="display:none;">
    {{#each data.conditions as |condition key|}}
    <div>
        {{condition.label}}
    </div>
    {{/each}}
</div>
{{/ifNotEquals}}

{{#ifEquals data.rollType 'social'}}
<div class="resource grid grid-2col flex-center">
    <div>
        <label class="resource-label">{{localize "Ex3.SupportingIntimacy"}}</label>
        <select name="object.supportedIntimacy" value="{{data.supportedIntimacy}}" data-type="String">
            {{#select data.supportedIntimacy}}
            <option value="0">{{localize "Ex3.None"}}</option>
            <option value="1">{{localize "Ex3.Minor"}}</option>
            <option value="2">{{localize "Ex3.Major"}}</option>
            <option value="3">{{localize "Ex3.Defining"}}</option>
            {{/select}}
        </select>
    </div>
    <div>
        <label class="resource-label">{{localize "Ex3.OpposedIntimacy"}} </label>
        <select name="object.opposedIntimacy" value="{{data.opposedIntimacy}}" data-type="String">
            {{#select data.opposedIntimacy}}
            <option value="0">{{localize "Ex3.None"}}</option>
            <option value="2">{{localize "Ex3.Minor"}}</option>
            <option value="3">{{localize "Ex3.Major"}}</option>
            <option value="4">{{localize "Ex3.Defining"}}</option>
            {{/select}}
        </select>
    </div>
</div>
{{/ifEquals}}

{{#ifEquals data.rollType 'working'}}
<div class="resource grid grid-2col flex-center">
    <div>
        <div class="resource-label">{{localize "Ex3.Ambition"}}</div>
        <select id="working-ambition" name="object.ambition" value="{{data.ambition}}" data-type="String">
            {{#select data.ambition}}
            <option value="5">{{localize "Ex3.Terrestrial"}} 1</option>
            <option value="10">{{localize "Ex3.Terrestrial"}} 2</option>
            <option value="20">{{localize "Ex3.Terrestrial"}} 3</option>
            <option value="25">{{localize "Ex3.Celestial"}} 1</option>
            <option value="30">{{localize "Ex3.Celestial"}} 2</option>
            <option value="35">{{localize "Ex3.Celestial"}} 3</option>
            <option value="40">{{localize "Ex3.Solar"}} 1</option>
            <option value="50">{{localize "Ex3.Solar"}} 2</option>
            <option value="75">{{localize "Ex3.Solar"}} 3</option>
            {{/select}}
        </select>
    </div>
    <div>
        <div class="resource-label">{{localize "Ex3.Finesse"}} </div>
        <select id="working-finesse" name="object.finesse" value="{{data.finesse}}" data-type="String">
            {{#select data.finesse}}
            <option value="1">1</option>
            <option value="3">3</option>
            <option value="5">5</option>
            {{/select}}
        </select>
    </div>
</div>
{{/ifEquals}}

{{#if data.hasDifficulty}}
<div class="resource grid grid-2col flex-center">
    <div>
        <label class="resource-label">{{localize data.difficultyString}}</label>
        <input type="number" name="object.difficulty" value="{{data.difficulty}}">
    </div>
    <div>
        <label class="resource-label">{{localize "Ex3.GoalNumber"}} </label>
        <input type="number" name="object.goalNumber" value="{{data.goalNumber}}">
    </div>
</div>
{{/if}}