<div class="sheet-body exaltedthird">
    <div class="flex-center resource-label" style="font-weight: bold;">
        Accuracy
    </div>
    <div>
        {{> systems/exaltedthird/templates/dialogues/ability-base.html}}
        <!-- <div class="d-flex flex-between mb-1 collapsable cursor-pointer">
            <div class="resource-label">
                {{localize "Ex3.AccuracyModifiers"}}
            </div>
            <div>
                <i class="fas fa-caret-down"></i>
            </div>
        </div>
        <div style="display:none;"> -->
        <div class="resource grid grid-2col flex-center">
            <div>
                <label class="resource-label">{{localize "Ex3.Range"}}</label>
                <select name="object.range" value="{{data.range}}" data-type="String">
                    {{#select data.range}}
                    <option value="close">Close</option>
                    <option value="short">Short</option>
                    <option value="medium">Medium</option>
                    <option value="long">Long</option>
                    <option value="extreme">Extreme</option>
                    {{/select}}
                </select>
            </div>
            <div>
                <label class="resource-label">{{localize "Ex3.Weapon"}}</label>
                <select name="object.weaponType" value="{{data.weaponType}}" data-type="String">
                    {{#select data.weaponType}}
                    <option value="melee">{{localize "Ex3.Melee"}}</option>
                    <option value="bolt">{{localize "Ex3.Bolt"}}</option>
                    <option value="ranged">{{localize "Ex3.Ranged"}}</option>
                    <option value="siege">{{localize "Ex3.Siege"}}</option>
                    <option value="thrown">{{localize "Ex3.Thrown"}}</option>
                    {{/select}}
                </select>
            </div>
        </div>
        <!-- </div> -->
        {{#if data.splitAttack}}
        {{else}}
        {{#ifEquals data.rollType 'accuracy'}}
        <div class="resource grid grid-2col flex-center">
            <label class="resource-label">{{localize "Ex3.AttackType"}}:</label>
            <select id="update-damage-type" name="object.attackType" value="{{data.attackType}}" data-type="String">
                {{#select data.attackType}}
                <option value="withering">{{localize "Ex3.Withering"}}</option>
                <option value="decisive">{{localize "Ex3.Decisive"}}</option>
                <option value="gambit">{{localize "Ex3.Gambit"}}</option>
                {{/select}}
            </select>
        </div>
        {{/ifEquals}}
        {{/if}}
        {{#ifEquals data.rollType 'accuracy'}}
        {{#if data.showTargets}}
        {{#ifGreater data.showTargets 1}}
        <div class="d-flex flex-between mb-1 collapsable cursor-pointer">
            <div class="resource-label">
                {{localize "Ex3.Targets"}}
            </div>
            <div>
                <i class="fas fa-caret-down"></i>
            </div>
        </div>
        <div id="targetsDropdown" {{#if data.targetsDropdown}} {{else}} style="display:none;" {{/if}}>
            {{#each data.targets as |target id|}}
            <div style="border-bottom: 1px solid black;margin-bottom: 10px;">
                <div class="d-flex resource flex-center">
                    <div class="mr-1"><img src="{{target.actor.img}}" title="{{target.actor.name}}" width="24"
                            height="24" /></div>
                    <div class="resource-label">{{target.actor.name}}</div>
                </div>
                <div class="resource grid grid-2col flex-center">
                    <div>
                        <div class="flex-center resource-label">
                            {{localize "Ex3.DiceModifier"}}
                        </div>
                        <input type="number" name="object.targets.{{id}}.rollData.diceModifier"
                            value="{{target.rollData.diceModifier}}">
                    </div>
                    <div>
                        <div class="flex-center resource-label">
                            {{localize "Ex3.SuccessModifier"}}
                        </div>
                        <input type="number" name="object.targets.{{id}}.rollData.successModifier"
                            value="{{target.rollData.successModifier}}">
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
        {{else}}
        {{#each data.targets as |target id|}}
        <div style="margin-bottom: 10px;">
            <div class="d-flex resource flex-center">
                <div class="mr-1"><img src="{{target.actor.img}}" title="{{target.actor.name}}" width="24"
                        height="24" /></div>
                <div class="resource-label">{{target.actor.name}}</div>
            </div>
            <div class="resource grid grid-2col flex-center">
                <div>
                    <div class="flex-center resource-label">
                        {{localize "Ex3.DiceModifier"}}
                    </div>
                    <input type="number" name="object.targets.{{id}}.rollData.diceModifier"
                        value="{{target.rollData.diceModifier}}">
                </div>
                <div>
                    <div class="flex-center resource-label">
                        {{localize "Ex3.SuccessModifier"}}
                    </div>
                    <input type="number" name="object.targets.{{id}}.rollData.successModifier"
                        value="{{target.rollData.successModifier}}">
                </div>
            </div>
        </div>
        {{/each}}
        {{/ifGreater}}
        {{/if}}
        {{/ifEquals}}
    </div>
</div>