<div class="d-flex flex-between mb-1 collapsable cursor-pointer">
    <div class="resource-label">
        {{localize "Ex3.Charms"}} 
        {{#ifNotEquals data.rollType 'useOpposingCharms'}}
        {{#ifNotEquals data.diceCap ''}} ({{localize "Ex3.DiceCap"}}: {{data.diceCap}}) {{/ifNotEquals}} {{#if data.charmDiceAdded}}({{data.charmDiceAdded}} Charm Dice){{/if}}
        {{/ifNotEquals}}
    </div>
    <div>
        <i class="fas fa-caret-down"></i>
    </div>
</div>
<div id="addedCharmsDropdown" {{#if data.addedCharmsDropdown}} {{else}} style="display:none;" {{/if}}>
    <div class="resource flex-center">
        <label class="resource-label">{{localize "Ex3.Details"}}</label>
    </div>
    <div class="resource grid grid-2col flex-center">
        <label class="resource-label">{{localize "Ex3.MotePool"}}</label>
        <select class="update-motes" name="object.motePool" data-type="String">
            {{selectOptions selects.motePools selected=data.motePool localize=true}}
        </select>
        {{#if actor.system.settings.hasaura}}
        <div class="resource-label">{{localize "Ex3.ActivateAura"}}</div>
        <select name="object.activateAura" data-type="String">
            {{selectOptions selects.elements selected=data.activateAura localize=true}}
        </select>
        {{/if}}
        <label class="resource-label">{{localize "Ex3.AnimaAfter"}}</label>
        <div>
            {{ data.newAnima }}
        </div>
    </div>
    <ol class="items-list">
        {{#each data.addedCharms as |item id|}}
        <li class="item flexrow item-row" data-item-id="{{item._id}}">
            <div class="item-image"><img class="list-item-image" src="{{item.img}}" title="{{item.name}}" width="24" height="24" /></div>
            <h4 class="item-name">{{item.name}}{{#if item.system.macro}}(Macro){{/if}}{{#if item.system.damagemacro}}(Damage Macro){{/if}}{{#if item.timesAdded}}(x{{item.timesAdded}}){{/if}}</h4>
            <div class="item-controls">
                <a class="item-control remove-charm" title="Remove Charm"><i class="fas fa-trash"></i></a>
            </div>
        </li>
        {{/each}}
    </ol>
    <div class="resource flex-center">
        <label class="resource-label">{{localize "Ex3.Cost"}}</label>
    </div>
    <div class="resource grid grid-3col flex-center">
        <div>
            <label class="resource-label">{{localize "Ex3.Motes"}}</label>
            <input class="update-motes" type="number" name="object.cost.motes" value="{{data.cost.motes}}">
        </div>
        <div>
            <label class="resource-label">{{localize "Ex3.MuteMotes"}} </label>
            <input type="number" name="object.cost.muteMotes" value="{{data.cost.muteMotes}}">
        </div>
        <div>
            <label class="resource-label">{{localize "Ex3.Initiative"}} </label>
            <input type="number" name="object.cost.initiative" value="{{data.cost.initiative}}">
        </div>
        <div>
            <label class="resource-label">{{localize "Ex3.Anima"}} </label>
            <input class="update-motes" type="number" name="object.cost.anima" value="{{data.cost.anima}}">
        </div>
        <div>
            <label class="resource-label">{{localize "Ex3.Penumbra"}} </label>
            <input type="number" name="object.cost.penumbra" value="{{data.cost.penumbra}}">
        </div>
        <div>
            <label class="resource-label">{{localize "Ex3.Willpower"}} </label>
            <input type="number" name="object.cost.willpower" value="{{data.cost.willpower}}">
        </div>
        <div>
            <div class="resource-label">{{localize "Ex3.Health"}}(b)</div>
            <input type="number" name="object.cost.healthbashing" value="{{data.cost.healthbashing}}" data-dtype="Number" />
        </div>
        <div>
            <div class="resource-label">{{localize "Ex3.Health"}}(l)</div>
            <input type="number" name="object.cost.healthlethal" value="{{data.cost.healthlethal}}" data-dtype="Number" />
        </div>
        <div>
            <div class="resource-label">{{localize "Ex3.Health"}}(a)</div>
            <input type="number" name="object.cost.healthaggravated" value="{{data.cost.healthaggravated}}" data-dtype="Number" />
        </div>
        <div>
            <div class="resource-label">{{localize "Ex3.Aura"}}</div>
            <select name="object.cost.aura" data-type="String">
                {{selectOptions selects.costElements selected=data.cost.aura localize=true}}
            </select>
        </div>
        <div>
            <div class="resource-label">{{localize "Ex3.GrappleControl"}}</div>
            <input type="number" name="object.cost.grappleControl" value="{{data.cost.grappleControl}}" data-dtype="Number" />
        </div>
        <div>
            <div class="resource-label">{{localize "Ex3.Silver"}}</div>
            <input type="number" name="object.cost.silverxp" value="{{data.cost.silverxp}}" data-dtype="Number" />
        </div>
        <div>
            <div class="resource-label">{{localize "Ex3.Gold"}}</div>
            <input type="number" name="object.cost.goldxp" value="{{data.cost.goldxp}}" data-dtype="Number" />
        </div>
        <div>
            <div class="resource-label">{{localize "Ex3.White"}}</div>
            <input type="number" name="object.cost.whitexp" value="{{data.cost.whitexp}}" data-dtype="Number" />
        </div>
    </div>
    <div class="resource flex-center">
        <label class="resource-label">{{localize "Ex3.Restore"}}</label>
    </div>
    <div class="resource grid grid-3col flex-center">
        <div>
            <label class="resource-label">{{localize "Ex3.Motes"}}</label>
            <input type="number" name="object.restore.motes" value="{{data.restore.motes}}">
        </div>
        <div>
            <label class="resource-label">{{localize "Ex3.Initiative"}} </label>
            <input type="number" name="object.restore.initiative" value="{{data.restore.initiative}}">
        </div>
        <div>
            <label class="resource-label">{{localize "Ex3.Willpower"}} </label>
            <input type="number" name="object.restore.willpower" value="{{data.restore.willpower}}">
        </div>
        <div>
            <div class="resource-label">{{localize "Ex3.Health"}}</div>
            <input type="number" name="object.restore.health" value="{{data.restore.health}}" data-dtype="Number" />
        </div>
    </div>
</div>
{{#ifGreater data.opposingCharms.length 0}}
<div class="d-flex flex-between mb-1 collapsable cursor-pointer">
    <div class="resource-label">
        {{localize "Ex3.OpposingCharms"}}
    </div>
    <div>
        <i class="fas fa-caret-down"></i>
    </div>
</div>
<div id="opposedCharmsDropdown" {{#if data.opposedCharmsDropdown}} {{else}} style="display:none;" {{/if}}>
    <ol class="items-list">
        {{#each data.opposingCharms as |item id|}}
        <li class="item flexrow item-row" data-item-id="{{item._id}}">
            <div class="item-image"><img class="list-item-image" src="{{item.img}}" title="{{item.name}}" width="24" height="24" /></div>
            <h4 class="item-name">{{item.name}} {{#if item.timesAdded}}(x{{item.timesAdded}}){{/if}}</h4>
            <div class="item-controls">
                <a class="item-control remove-opposing-charm" title="Remove Opposing Charm"><i class="fas fa-trash"></i></a>
            </div>
        </li>
        {{/each}}
    </ol>
</div>
{{/ifGreater}}