<div>
    {{#if unifiedCharacterCreation}}
    <table>
        <tr style="text-align:center;">
            <th>Trait</th>
            <th>Cost</th>
        </tr>
        <tr style="text-align:center;">
            <td>Attribute</td>
            <td>10 per dot</td>
        </tr>
        <tr style="text-align:center;">
            <td>Caste/Favored Attributes</td>
            <td>8 per dot</td>
        </tr>
        <tr style="text-align:center;">
            <td>Abilities</td>
            <td>5 per dot</td>
        </tr>
        <tr style="text-align:center;">
            <td>Caste/Favored Abilities</td>
            <td>4 pre dot</td>
        </tr>
        <tr style="text-align:center;">
            <td>New Specialty</td>
            <td>2</td>
        </tr>
        <tr style="text-align:center;">
            <td>Merits</td>
            <td>2 per dot</td>
        </tr>
        <tr style="text-align:center;">
            <td>Willpower</td>
            <td>6 per dot</td>
        </tr>
        <tr style="text-align:center;">
            <td>New Charm, Spell, or Evocation</td>
            <td>12</td>
        </tr>
        <tr style="text-align:center;">
            <td>New Caste/Favored Charm or Spell</td>
            <td>10</td>
        </tr>
    </table>
    {{else}}
    <p><b>Advancement Costs</b></p>
    {{#if flatXP}}
    <p><b>Flat Costs (Use other tables for fields not in this one)</b></p>
    <table>
        <tr style="text-align:center;">
            <th>Trait</th>
            <th>Cost</th>
        </tr>
        {{#ifNotEquals exalt 'lunar'}}
        <tr style="text-align:center;">
            <td>Attribute</td>
            <td>10</td>
        </tr>
        {{/ifNotEquals}}
        {{#ifEquals exalt 'lunar'}}
        <tr style="text-align:center;">
            <td>Non-Caste (-1 if Casteless)</td>
            <td>10</td>
        </tr>
        <tr style="text-align:center;">
            <td>Caste or Favoured </td>
            <td>7</td>
        </tr>
        {{/ifEquals}}
        <tr style="text-align:center;">
            <td>First Ability Dot</td>
            <td>3</td>
        </tr>
        <tr style="text-align:center;">
            <td>Non-First Ability Dot</td>
            <td>5</td>
        </tr>
        <tr style="text-align:center;">
            <td>New Ability or Specialty</td>
            <td>3</td>
        </tr>
        <tr style="text-align:center;">
            <td>Purchased Merit</td>
            <td>3</td>
        </tr>
    </table>
    {{/if}}
    <p><b>Costs Table</b></p>
    {{#ifEquals exalt 'solar'}}
    <table>
        <tr style="text-align:center;">
            <th>Trait</th>
            <th>Cost</th>
        </tr>
        <tr style="text-align:center;">
            <td>Attribute</td>
            <td>Curent Rating X 4</td>
        </tr>
        <tr style="text-align:center;">
            <td>Caste/Favored Ability</td>
            <td>(Current Rating X 2) - 1</td>
        </tr>
        <tr style="text-align:center;">
            <td>Non-Caste/Favored Ability</td>
            <td>(Current Rating X 2)</td>
        </tr>
        <tr style="text-align:center;">
            <td>New Ability or Specialty</td>
            <td>3</td>
        </tr>
        <tr style="text-align:center;">
            <td>Willpower</td>
            <td>8</td>
        </tr>
        <tr style="text-align:center;">
            <td>Purchased Merit</td>
            <td>New Rating X 3</td>
        </tr>
        <tr style="text-align:center;">
            <td>Charms/Spells</td>
            <td>10 (8 if ability is favored)</td>
        </tr>
        <tr style="text-align:center;">
            <td>Evocation</td>
            <td>10</td>
        </tr>
    </table>
    {{/ifEquals}}

    {{#ifEquals exalt 'sidereal'}}
    <table>
        <tr style="text-align:center;">
            <th>Trait</th>
            <th>Cost</th>
        </tr>
        <tr style="text-align:center;">
            <td>Attribute</td>
            <td>Curent Rating X 4</td>
        </tr>
        <tr style="text-align:center;">
            <td>Caste/Favored Ability</td>
            <td>(Current Rating X 2) - 1</td>
        </tr>
        <tr style="text-align:center;">
            <td>Non-Caste/Favored Ability</td>
            <td>(Current Rating X 2)</td>
        </tr>
        <tr style="text-align:center;">
            <td>New Ability or Specialty</td>
            <td>3</td>
        </tr>
        <tr style="text-align:center;">
            <td>Willpower</td>
            <td>8</td>
        </tr>
        <tr style="text-align:center;">
            <td>Purchased Merit</td>
            <td>New Rating X 3</td>
        </tr>
        <tr style="text-align:center;">
            <td>Charms/Spells</td>
            <td>10 (8 if ability is favored)</td>
        </tr>
        <tr style="text-align:center;">
            <td>Sidereal Martial Arts Charm</td>
            <td>10</td>
        </tr>
        <tr style="text-align:center;">
            <td>Evocation</td>
            <td>10</td>
        </tr>
    </table>
    {{/ifEquals}}

    {{#ifEquals exalt 'dragonblooded'}}
    <table>
        <tr style="text-align:center;">
            <th>Trait</th>
            <th>Cost</th>
        </tr>
        <tr style="text-align:center;">
            <td>Attribute</td>
            <td>Curent Rating X 4</td>
        </tr>
        <tr style="text-align:center;">
            <td>Caste/Favored Ability</td>
            <td>(Current Rating X 2) - 1</td>
        </tr>
        <tr style="text-align:center;">
            <td>Non-Caste/Favored Ability</td>
            <td>(Current Rating X 2)</td>
        </tr>
        <tr style="text-align:center;">
            <td>New Ability or Specialty</td>
            <td>3</td>
        </tr>
        <tr style="text-align:center;">
            <td>Willpower</td>
            <td>8</td>
        </tr>
        <tr style="text-align:center;">
            <td>Purchased Merit</td>
            <td>New Rating X 3</td>
        </tr>
        <tr style="text-align:center;">
            <td>Charms</td>
            <td>10 (8 if ability is favored)</td>
        </tr>
        <tr style="text-align:center;">
            <td>Spell</td>
            <td>12 (10 if Occult favored)</td>
        </tr>
        <tr style="text-align:center;">
            <td>Evocation</td>
            <td>12</td>
        </tr>
    </table>
    {{/ifEquals}}

    {{#ifEquals exalt 'lunar'}}
    <table>
        <tr style="text-align:center;">
            <th>Trait</th>
            <th>Cost</th>
        </tr>
        <tr style="text-align:center;">
            <td>Non-Caste/Favored Attribute</td>
            <td>Curent Rating X 4 (-1 if Casteless)</td>
        </tr>
        <tr style="text-align:center;">
            <td>Caste/Favored Attribute</td>
            <td>Curent Rating X 3</td>
        </tr>
        <tr style="text-align:center;">
            <td>Ability</td>
            <td>Current Rating X 2</td>
        </tr>
        <tr style="text-align:center;">
            <td>New Ability or Specialty</td>
            <td>3</td>
        </tr>
        <tr style="text-align:center;">
            <td>Willpower</td>
            <td>8</td>
        </tr>
        <tr style="text-align:center;">
            <td>Purchased Merit</td>
            <td>New Rating X 3</td>
        </tr>
        <tr style="text-align:center;">
            <td>Charms</td>
            <td>10 (8 if ability is favored, 9 if Not Favored and Casteless)</td>
        </tr>
        <tr style="text-align:center;">
            <td>Spell</td>
            <td>10 (9 if Intelligence favored)</td>
        </tr>
        <tr style="text-align:center;">
            <td>Evocation</td>
            <td>10</td>
        </tr>
        <tr style="text-align:center;">
            <td>Animal Latent Ability</td>
            <td>6</td>
        </tr>
    </table>
    {{/ifEquals}}

    {{#ifEquals exalt 'exigent'}}
    <p><b>Terrestrial Costs</b></p>
    <table>
        <tr style="text-align:center;">
            <th>Trait</th>
            <th>Cost</th>
        </tr>
        <tr style="text-align:center;">
            <td>Attribute</td>
            <td>Curent Rating X 4</td>
        </tr>
        <tr style="text-align:center;">
            <td>Favored Attribute</td>
            <td>Curent Rating X 3</td>
        </tr>
        <tr style="text-align:center;">
            <td>Caste/Favored Ability</td>
            <td>(Current Rating X 2) - 1</td>
        </tr>
        <tr style="text-align:center;">
            <td>Non-Caste/Favored Ability</td>
            <td>(Current Rating X 2)</td>
        </tr>
        <tr style="text-align:center;">
            <td>New Ability or Specialty</td>
            <td>3</td>
        </tr>
        <tr style="text-align:center;">
            <td>Willpower</td>
            <td>8</td>
        </tr>
        <tr style="text-align:center;">
            <td>Purchased Merit</td>
            <td>New Rating X 3</td>
        </tr>
        <tr style="text-align:center;">
            <td>Charms/Spells</td>
            <td>10 (8 if ability is favored)</td>
        </tr>
        <tr style="text-align:center;">
            <td>Spells</td>
            <td>12 (10 if favored)</td>
        </tr>
        <tr style="text-align:center;">
            <td>Evocation</td>
            <td>10</td>
        </tr>
    </table>
    <p><b>Celestial Costs</b></p>
    <table>
        <tr style="text-align:center;">
            <th>Trait</th>
            <th>Cost</th>
        </tr>
        <tr style="text-align:center;">
            <td>Attribute</td>
            <td>Curent Rating X 4</td>
        </tr>
        <tr style="text-align:center;">
            <td>Favored Attribute</td>
            <td>Curent Rating X 3</td>
        </tr>
        <tr style="text-align:center;">
            <td>Caste/Favored Ability</td>
            <td>(Current Rating X 2) - 1</td>
        </tr>
        <tr style="text-align:center;">
            <td>Non-Caste/Favored Ability</td>
            <td>(Current Rating X 2)</td>
        </tr>
        <tr style="text-align:center;">
            <td>New Ability or Specialty</td>
            <td>3</td>
        </tr>
        <tr style="text-align:center;">
            <td>Willpower</td>
            <td>8</td>
        </tr>
        <tr style="text-align:center;">
            <td>Purchased Merit</td>
            <td>New Rating X 3</td>
        </tr>
        <tr style="text-align:center;">
            <td>Charms/Spells</td>
            <td>10 (8 if ability is favored)</td>
        </tr>
        <tr style="text-align:center;">
            <td>Spells</td>
            <td>10 (8 if favored)</td>
        </tr>
        <tr style="text-align:center;">
            <td>Evocation</td>
            <td>10</td>
        </tr>
    </table>
    {{/ifEquals}}
    <p><b>Training Times</b></p>
    <table>
        <tr style="text-align:center;">
            <th>Trait</th>
            <th>Time</th>
        </tr>
        <tr style="text-align:center;">
            <td>Attribute</td>
            <td>(new rating) months</td>
        </tr>
        {{#ifEquals exalt 'lunar'}}
        <tr style="text-align:center;">
            <td>Caste/Favored Attribute</td>
            <td>(new rating + 1) weeks</td>
        </tr>
        {{/ifEquals}}
        <tr style="text-align:center;">
            <td>Non-Caste/Favored Ability</td>
            <td>(new rating) weeks</td>
        </tr>
        <tr style="text-align:center;">
            <td>Caste/Favored Ability</td>
            <td>(new rating) days</td>
        </tr>
        <tr style="text-align:center;">
            <td>Specialty</td>
            <td>Two weeks</td>
        </tr>
        <tr style="text-align:center;">
            <td>Purchased Merit</td>
            <td>(new rating) weeks</td>
        </tr>
        <tr style="text-align:center;">
            <td>Willpower</td>
            <td>One month</td>
        </tr>
        <tr style="text-align:center;">
            <td>Favored Charm</td>
            <td>(Ability (Attribute for attribute exalts) minimum) days</td>
        </tr>
        <tr style="text-align:center;">
            <td>Non-Favored Charm</td>
            <td>(Ability (Attribute for attribute exalts) + Essence minimum) days</td>
        </tr>
        {{#ifEquals exalt 'lunar'}}
        <tr style="text-align:center;">
            <td>Martial Arts Charm</td>
            <td>(Martial Arts + Essence minimum) days</td>
        </tr>
        {{/ifEquals}}
        <tr style="text-align:center;">
            <td>Spells</td>
            <td>Two weeks per Circle</td>
        </tr>
        <tr style="text-align:center;">
            <td>Evocation</td>
            <td>(Essence minimum x 4) days</td>
        </tr>
        {{#ifEquals exalt 'lunar'}}
        <tr style="text-align:center;">
            <td>Animal Latent Ability</td>
            <td>One week</td>
        </tr>
        {{/ifEquals}}
    </table>
    {{/if}}
</div>