<div>
    <p><b>Advancement Costs</b></p>
    {{#ifEquals exalt 'solar'}}
    <table>
        <tr style="text-align:center;">
            <th>Trait</th>
            <th>Cost</th>
        </tr>
        <tr style="text-align:center;">
            <td>Attribute</td>
            <td>Curent Rating X 4</td>
        </tr>
        <tr style="text-align:center;">
            <td>Caste/Favored Ability</td>
            <td>(Current Rating X 2) - 1</td>
        </tr>
        <tr style="text-align:center;">
            <td>Non-Caste/Favored Ability</td>
            <td>(Current Rating X 2)</td>
        </tr>
        <tr style="text-align:center;">
            <td>New Ability or Specialty</td>
            <td>3</td>
        </tr>
        <tr style="text-align:center;">
            <td>Willpower</td>
            <td>8</td>
        </tr>
        <tr style="text-align:center;">
            <td>Purchased Merit</td>
            <td>New Rating X 3</td>
        </tr>
        <tr style="text-align:center;">
            <td>Charms/Spells</td>
            <td>10 (8 if ability is favored)</td>
        </tr>
        <tr style="text-align:center;">
            <td>Evocation</td>
            <td>10</td>
        </tr>
    </table>
    {{/ifEquals}}

    {{#ifEquals exalt 'sidereal'}}
    <table>
        <tr style="text-align:center;">
            <th>Trait</th>
            <th>Cost</th>
        </tr>
        <tr style="text-align:center;">
            <td>Attribute</td>
            <td>Curent Rating X 4</td>
        </tr>
        <tr style="text-align:center;">
            <td>Caste/Favored Ability</td>
            <td>(Current Rating X 2) - 1</td>
        </tr>
        <tr style="text-align:center;">
            <td>Non-Caste/Favored Ability</td>
            <td>(Current Rating X 2)</td>
        </tr>
        <tr style="text-align:center;">
            <td>New Ability or Specialty</td>
            <td>3</td>
        </tr>
        <tr style="text-align:center;">
            <td>Willpower</td>
            <td>8</td>
        </tr>
        <tr style="text-align:center;">
            <td>Purchased Merit</td>
            <td>New Rating X 3</td>
        </tr>
        <tr style="text-align:center;">
            <td>Charms/Spells</td>
            <td>10 (8 if ability is favored)</td>
        </tr>
        <tr style="text-align:center;">
            <td>Sidereal Martial Arts Charm</td>
            <td>10</td>
        </tr>
        <tr style="text-align:center;">
            <td>Evocation</td>
            <td>10</td>
        </tr>
    </table>
    {{/ifEquals}}

    {{#ifEquals exalt 'dragonblooded'}}
    <table>
        <tr style="text-align:center;">
            <th>Trait</th>
            <th>Cost</th>
        </tr>
        <tr style="text-align:center;">
            <td>Attribute</td>
            <td>Curent Rating X 4</td>
        </tr>
        <tr style="text-align:center;">
            <td>Caste/Favored Ability</td>
            <td>(Current Rating X 2) - 1</td>
        </tr>
        <tr style="text-align:center;">
            <td>Non-Caste/Favored Ability</td>
            <td>(Current Rating X 2)</td>
        </tr>
        <tr style="text-align:center;">
            <td>New Ability or Specialty</td>
            <td>3</td>
        </tr>
        <tr style="text-align:center;">
            <td>Willpower</td>
            <td>8</td>
        </tr>
        <tr style="text-align:center;">
            <td>Purchased Merit</td>
            <td>New Rating X 3</td>
        </tr>
        <tr style="text-align:center;">
            <td>Charms</td>
            <td>10 (8 if ability is favored)</td>
        </tr>
        <tr style="text-align:center;">
            <td>Spell</td>
            <td>12 (10 if Occult favored)</td>
        </tr>
        <tr style="text-align:center;">
            <td>Evocation</td>
            <td>12</td>
        </tr>
    </table>
    {{/ifEquals}}

    {{#ifEquals exalt 'lunar'}}
    <table>
        <tr style="text-align:center;">
            <th>Trait</th>
            <th>Cost</th>
        </tr>
        <tr style="text-align:center;">
            <td>Non-Caste/Favored Attribute</td>
            <td>Curent Rating X 4 (-1 if Casteless)</td>
        </tr>
        <tr style="text-align:center;">
            <td>Caste/Favored Attribute</td>
            <td>Curent Rating X 3</td>
        </tr>
        <tr style="text-align:center;">
            <td>Ability</td>
            <td>Current Rating X 2</td>
        </tr>
        <tr style="text-align:center;">
            <td>New Ability or Specialty</td>
            <td>3</td>
        </tr>
        <tr style="text-align:center;">
            <td>Willpower</td>
            <td>8</td>
        </tr>
        <tr style="text-align:center;">
            <td>Purchased Merit</td>
            <td>New Rating X 3</td>
        </tr>
        <tr style="text-align:center;">
            <td>Charms</td>
            <td>10 (8 if ability is favored, 9 if Not Favored and Casteless)</td>
        </tr>
        <tr style="text-align:center;">
            <td>Spell</td>
            <td>10 (9 if Intelligence favored)</td>
        </tr>
        <tr style="text-align:center;">
            <td>Evocation</td>
            <td>10</td>
        </tr>
        <tr style="text-align:center;">
            <td>Animal Latent Ability</td>
            <td>6</td>
        </tr>
    </table>
    {{/ifEquals}}

    {{#ifEquals exalt 'exigent'}}
    <p><b>Terrestrial Costs</b></p>
    <table>
        <tr style="text-align:center;">
            <th>Trait</th>
            <th>Cost</th>
        </tr>
        <tr style="text-align:center;">
            <td>Attribute</td>
            <td>Curent Rating X 4</td>
        </tr>
        <tr style="text-align:center;">
            <td>Favored Attribute</td>
            <td>Curent Rating X 3</td>
        </tr>
        <tr style="text-align:center;">
            <td>Caste/Favored Ability</td>
            <td>(Current Rating X 2) - 1</td>
        </tr>
        <tr style="text-align:center;">
            <td>Non-Caste/Favored Ability</td>
            <td>(Current Rating X 2)</td>
        </tr>
        <tr style="text-align:center;">
            <td>New Ability or Specialty</td>
            <td>3</td>
        </tr>
        <tr style="text-align:center;">
            <td>Willpower</td>
            <td>8</td>
        </tr>
        <tr style="text-align:center;">
            <td>Purchased Merit</td>
            <td>New Rating X 3</td>
        </tr>
        <tr style="text-align:center;">
            <td>Charms/Spells</td>
            <td>10 (8 if ability is favored)</td>
        </tr>
        <tr style="text-align:center;">
            <td>Spells</td>
            <td>12 (10 if favored)</td>
        </tr>
        <tr style="text-align:center;">
            <td>Evocation</td>
            <td>10</td>
        </tr>
    </table>
    <p><b>Celestial Costs</b></p>
    <table>
        <tr style="text-align:center;">
            <th>Trait</th>
            <th>Cost</th>
        </tr>
        <tr style="text-align:center;">
            <td>Attribute</td>
            <td>Curent Rating X 4</td>
        </tr>
        <tr style="text-align:center;">
            <td>Favored Attribute</td>
            <td>Curent Rating X 3</td>
        </tr>
        <tr style="text-align:center;">
            <td>Caste/Favored Ability</td>
            <td>(Current Rating X 2) - 1</td>
        </tr>
        <tr style="text-align:center;">
            <td>Non-Caste/Favored Ability</td>
            <td>(Current Rating X 2)</td>
        </tr>
        <tr style="text-align:center;">
            <td>New Ability or Specialty</td>
            <td>3</td>
        </tr>
        <tr style="text-align:center;">
            <td>Willpower</td>
            <td>8</td>
        </tr>
        <tr style="text-align:center;">
            <td>Purchased Merit</td>
            <td>New Rating X 3</td>
        </tr>
        <tr style="text-align:center;">
            <td>Charms/Spells</td>
            <td>10 (8 if ability is favored)</td>
        </tr>
        <tr style="text-align:center;">
            <td>Spells</td>
            <td>10 (8 if favored)</td>
        </tr>
        <tr style="text-align:center;">
            <td>Evocation</td>
            <td>10</td>
        </tr>
    </table>
    {{/ifEquals}}
</div>