<div>
    <p><b>Armor Stats</b></p>
    <table>
        <tr style="text-align:center;">
            <th>Type</th>
            <th>Soak</th>
            <th>Penalty</th>
            <th>Hardness</th>
        </tr>
        <tr style="text-align:center;">
            <td>Light</td>
            <td>3</td>
            <td>0</td>
            <td>0</td>
        </tr>
        <tr style="text-align:center;">
            <td>Medium</td>
            <td>5</td>
            <td>1</td>
            <td>0</td>
        </tr>
        <tr style="text-align:center;">
            <td>Heavy</td>
            <td>7</td>
            <td>2</td>
            <td>0</td>
        </tr>
        <tr style="text-align:center;">
            <td>Artifact Light</td>
            <td>5</td>
            <td>0</td>
            <td>4</td>
        </tr>
        <tr style="text-align:center;">
            <td>Artifact Medium</td>
            <td>8</td>
            <td>1</td>
            <td>7</td>
        </tr>
        <tr style="text-align:center;">
            <td>Artifact Heavy</td>
            <td>11</td>
            <td>2</td>
            <td>10</td>
        </tr>
    </table>

    <p><b>Tags</b></p>

    <p>
        <b>Buoyant</b>: Does not inhibit swimming.
    </p>
    <p>
        <b>Concealable</b>: Can be worn and concealed under clothing.
    </p>
    <p>
        <b>Silent</b>: Gives no penalties to silent movement.
    </p>
</div>