<div>
    <p><b>Armor Stats (Soak/Penalty/Hardness)</b></p>
    <p>
        <b>Light</b>: +3/0/0
    </p>
    <p>
        <b>Medium</b>: +5/1/0
    </p>
    <p>
        <b>Heavy</b>: +7/2/0
    </p>

    <p>
        <b>Artifact Light</b>: +5/0/4
    </p>
    <p>
        <b>Artifact Medium</b>: +8/1/7
    </p>
    <p>
        <b>Artifact Heavy</b>: +11/2/10
    </p>

    <p>
        <b>Buoyant</b>: Does not inhibit swimming.
    </p>
    <p>
        <b>Concealable</b>: Can be worn and concealed under clothing.
    </p>
    <p>
        <b>Silent</b>: Gives no penalties to silent movement.
    </p>
</div>