<form>
    <div class="sheet-body exaltedthird">
        {{#if data.addingCharms }}
        {{> systems/exaltedthird/templates/dialogues/add-roll-charm.html}}
        {{else}}
        {{#ifNotEquals data.rollType 'damage'}}
        {{> systems/exaltedthird/templates/dialogues/accuracy-roll.html}}
        {{/ifNotEquals}}
        {{#ifNotEquals data.rollType 'accuracy'}}
        {{> systems/exaltedthird/templates/dialogues/damage-roll.html}}
        {{/ifNotEquals}}
        <div class="d-flex">
            {{#if data.isSavedRoll}}
            <button type="button" id="save-button">Save</button>
            {{else}}
            <button type="button" id="roll-button">Roll</button>
            {{/if}}
            <button type="button" id="cancel">Cancel</button>
        </div>
        {{/if}}
    </div>
</form>