<form>
    <div class="sheet-body exaltedthird" style="margin-bottom:10px;">
        <div class="flex-center">
            <label class="resource-label">{{localize "Ex3.Health"}}</label>
            <p>Doing this will clear all damage from your character.</p>
            <p>Health from size is added automatically.</p>
            <div class="d-flex flex-center resources">
                <div>
                    <div>{{localize "Ex3.Magnitude"}}</div>
                    <input id="zero" type="number" value="{{zero}}" data-dtype="Number" />
                </div>
            </div>
        </div>
    </div>
</form>