<form>
    <div class="sheet-body exaltedthird" style="margin-bottom:10px;">
        <div class="flex-center">
            <label class="resource-label">{{localize "Ex3.Health"}}</label>
            <div class="d-flex flex-center resources">
                <div>
                    <div>-0</div>
                    <input id="zero" type="number" value="{{zero}}" data-dtype="Number" />
                </div>
                <div>
                    <div>-1</div>
                    <input id="one" type="number" value="{{one}}" data-dtype="Number" />
                </div>
                <div>
                    <div>-2</div>
                    <input id="two" type="number" value="{{two}}" data-dtype="Number" />
                </div>
                {{#ifEquals healthType 'person'}}
                <div>
                    <div>-3</div>
                    <input id="three" type="number" value="{{three}}" data-dtype="Number" />
                </div>
                {{/ifEquals}}
                <div>
                    <div>-4</div>
                    <input id="four" type="number" value="{{four}}" data-dtype="Number" />
                </div>
            </div>
            {{#ifEquals healthType 'person'}}
            <div style="margin-top:5px;">
                {{#if hasOxBody}}
                <!-- <button style="margin-top:5px;" class="add-ox-body">{{localize
                    "Ex3.AddOxBody"}}</button> -->
                <div>{{oxBodyText}}</div>
                {{/if}}
            </div>
            {{/ifEquals}}
        </div>
    </div>
</form>