<div>
    <p style="font-size: 24px;"><b>Type</b></p>

    <p><b>Simple:</b> Charms that take a combat actions, cannot be flurried, Can only be used once per round and only on
        the characters turn.</p>

    <p><b>Supplemental:</b> Charms that enhance an action, can only enhance actions matching the charms ability unless
        stated otherwise. No limit on number of supplemental charms that can be used on one turn but the exalt cannot
        use multiple isntances of the same charm.</p>

    <p><b>Reflexive:</b> Reflexive charms create an action or enhance a non-dice action. Can generally only enhance
        derived values using the same ability as the charm.</p>

    <p><b>Permanent:</b> A Permanent bonus to the character.</p>

    <p style="font-size: 24px;"><b>Keywords</b></p>
    <p style="font-size: 18px;"><b>General</b></p>

    <p>
        <b>Aggravated:</b> The Health Track damage inflicted by this
        Charm cannot be healed magically, nor can magic be
        used to speed up the natural process of healing it.
    </p>
    <p>
        <b>Bridge:</b> A Charm with this keyword can be purchased with
        alternate prerequisites from another Ability. If all the prerequisites used to buy a Bridge Charm enjoy a
        Caste/Favored
        cost discount, so does the Bridge Charm. No non-Integrity Charm can act as a prerequisite for more than one
        Bridge
        Charm, and Integrity Charms can never serve as an alternate Bridge prerequisite. If Integrity is Caste or
        Favored,
        the character may buy in via half the listed number of Bridge
        prerequisites (round up, or round down if Supernal).
    </p>
    <p><b>Clash:</b> Cannot be used simultaneously with or in response to a Charm with the Counterattack keyword.</p>
    <p><b>Counterattack:</b> Cannot be used in reaction to a Charm
        with the Counterattack or Clash keyword.</p>
    <p><b>Decisive-only:</b> If it's an attack Charm, the Charm can only
        be used with a decisive attack. If it is a defensive Charm,
        it can only be used to defend against a decisive attack.</p>
    <p><b>Dual:</b> This Charm has two different functions, one for
        withering and one for decisive.</p>
    <p><b>Mute:</b> This Charm's cost will not add to the Exalt's anima
        level unless she wants it to.</p>
    <p><b>Pilot:</b> The character must be the captain or the helmsman of the sailing vessel to use this Charm.</p>
    <p><b>Psyche:</b> A power with this keyword is an unnatural,
        hypnotic, or sorcerous power that magically influences,
        controls, or cripples an opponent's thoughts or feelings.</p>
    <p><b>Perilous:</b> Charms with this keyword cannot be used in Initiative Crash.</p>
    <p><b>Salient:</b> This keyword indicates that the Charm's cost
        requires silver/gold/white points for major/superior/legendary craft projects.</p>
    <p><b>Stackable:</b> This Charm's effects can stack.</p>
    <p><b>Uniform:</b> This Charm has the same function for both
        withering and decisive attacks or defenses.</p>
    <p><b>Withering-only:</b> If it's an attack Charm, the Charm can
        only be used with a withering attack. If it is a defensive
        Charm, it can only be used to defend against a withering attack.</p>
    <p><b>Written-only: </b>A Charm with this keyword can only be
        used to enhance, supplement, or create written social
        influence.</p>

    <p style="font-size: 18px;"><b>Dragonblooded</b></p>
    <p><b>Air, Earth, Fire, Water, Wood:</b> Every Dragon-Blooded
        Charm has an elemental aspect, typically marked by these
        keywords. Dragon-Blooded Charms without these keywords specify what aspects they can take on in their text.
        Aura: Aura Charms can only be used while the DragonBlood is in the Elemental Aura that matches its aspect.
        An Aura Charm can't be used in the same instant with
        Charms of other elements, unless those Charms have
        the Balanced keyword.</p>
    <p><b>Balanced:</b> Balanced Charms don't interfere with the
        Dragon-Blood's Aura even if they don't match its aspect — they won't prevent her from entering an Aura
        at the end of her turn if used with Charms of another
        element, and never end her Aura. If she uses only
        Balanced Charms on her turn, she may enter the Aura
        of any of the elements whose Charms she used.</p>
    <p><b>Signature:</b> This keyword marks an Ability's five elemental Signatures</p>

    <p><b>Excellency:</b> This keyword indicates Dragon-Blooded
        Excellencies</p>

    <p style="font-size: 18px;"><b>Lunar</b></p>

    <p><b>Protean:</b> A Protean Charm gains greater power when
        the Lunar uses it while shapeshifted into certain animal or human forms. (Her own human shape doesn't
        count.)</p>
    <p><b>Archetype:</b> Lunars with certain spirit shapes may
        learn an Archetype Charm as a Charm of a different
        Attribute than it normally belongs to, using different
        minimum Attributes and potentially enjoying Caste
        or Favored Attribute discounts. Archetype Charms
        have alternative prerequisite Charms from this second
        Attribute, unless they have no prerequisite Charms, or
        their prerequisites are Archetype Charms themselves.
        This extends to the Attribute minimums of any automatic upgrades or repurchases of the Charm, but not
        to any dice rolls or other calculations involved.</p>

    <p style="font-size: 18px;"><b>Sidereals</b></p>

    <p><b>Divination:</b> Divination Charms are a Sidereal's powers of foresight, prophecy, and prediction.
        They're limited in how much information they can provide on enemies of fate. Their
        presence and actions can be divined, but not their appearance, identity, or specific nature; they are
        indistinct, featureless voids within prophetic visions. Note that non-Sidereal Charms that predict
        the future, like God-King's Shrike, aren't Divination Charms.</p>
    <p><b>Shaping:</b> Shaping effects transforms characters' bodies, minds, souls, or fates. They can be
        defended against with magic like Destiny-Manifesting Method (Exalted, p. 304).</p>
    <p> <b>Versatile:</b>Archery, Brawl, Melee, and Thrown Charms with this keyword can enhance attacks
        and parries with Martial Arts if the Sidereal uses a weapon compatible with that Ability. Versatile Charms from
        multiple Abilities can't enhance the same action</p>

    <p style="font-size: 18px;"><b>Architects</b></p>

    <p><b>Keystone:</b>Keystone Charms can be learned as Charms of alternative Attributes if the Architect has them
        as Foundation Attributes, using different minimum Attributes and potentially enjoying Keystone
        discounts. Keystone Charms have alternative prerequisite Charms from this second Attribute, unless they
        have no prerequisite Charms or their prerequisites also have Keystone. This extends to the Attribute
        minimums of any automatic upgrades or repurchases of the Charm, but not to any dice rolls or other
        calculations involved.</p>
    <p><b>Metropolis:</b> Charms with the Metropolis keyword have an enhanced effect when used within a city or a
        specific urban environment. Most of the time, it should be obvious whether characters are in a city or not.
        If there's any ambiguity, the Storyteller resolves it. The most important criteria in evaluating whether a
        given location counts as a city are whether they are permanent settlements, whether they are densely
        populated, and whether they have defined boundaries. These aren't the only considerations, nor are they
        absolute rules, but they should be sufficient for resolving most ambiguities.</p>

    <p style="font-size: 18px;"><b>Abyssals</b></p>
    <p><b>Whispers:</b> This keyword provides additional benefits for Abyssals with the Whispers Merit. Use its value equals the Merit rating of the Abyssal's Whispers.
        If it invokes the abyssals whispers it counts against the reset limit on using Whispers.</p>

    <p style="font-size: 18px;"><b>Alchemicals</b></p>
    <p><b>Augmented:</b> Use dots of Attributes from Transpuissant (Attribute) Upgrade in the calculations.</p>
    <p><b>Internal:</b> The charms have no visible component, if using magic can be detected with a difficulty 3 (Perception + Occult) roll.</p>

</div>