<div>
    <p><b>Combat Actions</b></p>
    <p><b>Aim: </b>Required for Ranged attacking at medium+.  Gives +3 to hit at Short- range.  On second use gain +3 to hit.</p>
    <p><b>Full Defense: </b>+2 Defense until next turn. Cost 1 initiative</p>
    <p><b>Delay: </b>Delaying action till later in the round costs 2 initative.</p>
    <p><b>Movement Actions</b></p>
    <p><b>Rush: </b>Roll (Dex + Athletics) vs enemy at Short range, on success if the enemy moves away move 1 range bad towards them</p>
    <p><b>Disengage: </b>Roll (Dex + Dodge) vs enemy (Dex + Athletics) to move out of their range band, if they move towards you on their next turn you may reflexivly move away.</p>
    <p><b>Rise from prone: </b>If enemy is within close range requires (Dex + Dodge) vs Diff 2 action</p>
    <p><b>Take Cover: </b>Player rolls (Dex + Dodge) with difficulty depending on terrain to find cover.</p>
    <p><b>Withdraw: </b>Can only be used at Medium+ range, Difficulty 1 Goal 10 interval 1 turn extended action.  Lose 10 initative per turn.  If at Extreme range exit combat.</p>
</div>