<div>
    <p><b>Craft XP</b></p>
    <p>
        Completing a basic project gives the crafter 2 Silver XP per Craft Objective completed, if the crafter rolled 3+ sucesses above the difficulty they gain 3 silver XP per objective instead.
    </p>
    <p>
        Completing a major project costs 10 Silver XP gives the crafter 1 Silver XP and 2 Gold XP per Craft Objective completed,  if the crafter rolled 3+ sucesses above the difficulty they gains 1 Silver XP and 3 gold XP per objective instead.
    </p>
    <p>
        Completing a superior project costs 10 Gold XP per roll and if the craft achieved at least 1 objective it gives the crafter White XP equal to [Artifact Rating]x2 + 1, so forging an 3 Dot Artifact gives 7 White XP.  For every unused interval remaining in the project, the crafter gains (Artifact
        rating x 2) gold XP.
    </p>
    <p>
        Completing a legendary project costs 10 White XP and if the craft achieved at least 1 objective it gives the crafter 10 White XP and the crafter rolls a craft roll with a free full excellency.  The craft gains 1 Gold XP per success and 1 Silver XP for every dice that wasn't a success.
    </p>
    <p>
        <b>Craft Objectives</b>
    </p>
    <p>
        Another character gains or strengthens an Intimacy toward the crafter. 
    </p>
    <p>
        Produces a clear in-game benefit for the crafter.
    </p>
    <p>
        Upholds, furthers, or protects one of the crafters intimacies.
    </p>
    <p>
        <b>End of Story Bonuses</b>
    </p>
    <p>
        3 Silver XP for every different craft with 3+ dots used to complete a project during the story.
    </p>
    <p>
        5 Silver XP for every different craft with 5 dots used to complete a project during the story.
    </p>
    <p>
        Five gold XP for each artifact made by the crafter during the story.
    </p>
    <p>
        <b>Repairs</b>
    </p>
    <p>
        Repairing a basic project gives 1 silver XP, 1 Gold XP for a major project, (Artifact Rating - 1) white XP for a superior project, and none for a legendary project.
    </p>
</div>