<div class="sheet-body exaltedthird">
    <div class="flex-center resource-label" style="font-weight: bold;">
        Damage
    </div>
    <div>
        <div class="resource grid grid-2col flex-center">
            {{#ifEquals data.rollType 'damage'}}
            <label class="resource-label">{{localize "Ex3.AttackType"}}</label>
            <select id="update-damage-type" name="object.attackType" value="{{data.attackType}}" data-type="String">
                {{#select data.attackType}}
                <option value="decisive">{{localize "Ex3.Decisive"}}</option>
                <option value="withering">{{localize "Ex3.Withering"}}</option>
                {{/select}}
            </select>
            {{#if data.showDefenseOnDamage}}
            <div>
                <label class="resource-label">{{localize "Ex3.AttackSuccesses"}}</label>
                <input type="number" name="object.attackSuccesses" value="{{data.attackSuccesses}}">
            </div>
            <div>
                <label class="resource-label">{{localize "Ex3.Defense"}} </label>
                <input type="number" name="object.defense" value="{{data.defense}}">
            </div>
            {{/if}}
            {{/ifEquals}}
            <div>
                <label class="resource-label">{{localize "Ex3.DamageDice"}} </label>
                <input type="number" name="object.damage.damageDice" value="{{data.damage.damageDice}}">
            </div>
            <div>
                <label class="resource-label">{{localize "Ex3.DamageSuccesses"}} </label>
                <input type="number" name="object.damage.damageSuccessModifier"
                    value="{{data.damage.damageSuccessModifier}}">
            </div>
        </div>
        <div class="resource grid grid-2col flex-center">
            <div>
                <label class="resource-label">{{localize "Ex3.DoubleSuccess"}} + </label>
                <input type="number" name="object.damage.doubleSuccess" value="{{data.damage.doubleSuccess}}">
            </div>
            <div>
                <label class="resource-label">{{localize "Ex3.TargetNumber"}} </label>
                <input type="number" name="object.damage.targetNumber" value="{{data.damage.targetNumber}}">
            </div>
            {{#if data.showWithering }}
            <div>
                <label class="resource-label">{{localize "Ex3.Overwhelming"}} </label>
                <input type="number" name="object.overwhelming" value="{{data.overwhelming}}">
            </div>
            <div>
                <label class="resource-label">{{localize "Ex3.PostSoakDamage"}} </label>
                <input type="number" name="object.damage.postSoakDamage" value="{{data.damage.postSoakDamage}}">
            </div>
            {{/if}}
        </div>
        <div class="resource flex-center">
            <label class="resource-label">{{localize "Ex3.Reroll"}}</label>
        </div>
        <div class="resource d-flex flex-center">
            <div>
                <div>1</div>
                <input name="object.damage.reroll.one.status" type="checkbox" {{checked data.damage.reroll.one.status}}>
            </div>
            <div>
                <div>2</div>
                <input name="object.damage.reroll.two.status" type="checkbox" {{checked data.damage.reroll.two.status}}>
            </div>
            <div>
                <div>3</div>
                <input name="object.damage.reroll.three.status" type="checkbox" {{checked
                    data.damage.reroll.three.status}}>
            </div>
            <div>
                <div>4</div>
                <input name="object.damage.reroll.four.status" type="checkbox" {{checked
                    data.damage.reroll.four.status}}>
            </div>
            <div>
                <div>5</div>
                <input name="object.damage.reroll.five.status" type="checkbox" {{checked
                    data.damage.reroll.five.status}}>
            </div>
            <div>
                <div>6</div>
                <input name="object.damage.reroll.six.status" type="checkbox" {{checked data.damage.reroll.six.status}}>
            </div>
            <div>
                <div>7</div>
                <input name="object.damage.reroll.seven.status" type="checkbox" {{checked
                    data.damage.reroll.seven.status}}>
            </div>
            <div>
                <div>8</div>
                <input name="object.damage.reroll.eight.status" type="checkbox" {{checked
                    data.damage.reroll.eight.status}}>
            </div>
            <div>
                <div>9</div>
                <input name="object.damage.reroll.nine.status" type="checkbox" {{checked
                    data.damage.reroll.nine.status}}>
            </div>
            <div>
                <div>10</div>
                <input name="object.damage.reroll.ten.status" type="checkbox" {{checked data.damage.reroll.ten.status}}>
            </div>
        </div>

        <div class="d-flex flex-between mb-1 collapsable cursor-pointer">
            <div class="resource-label">
                {{localize "Ex3.DamageModifiers"}}
            </div>
            <div>
                <i class="fas fa-caret-down"></i>
            </div>
        </div>
        <div style="display:none;">
            <div class="resource flex-center grid grid-2col">
                <label class="resource-label">{{localize "Ex3.DamageType"}}</label>
                <select name="object.damage.type" value="{{data.damage.type}}" data-type="String">
                    {{#select data.damage.type}}
                    <option value="bashing">{{localize "Ex3.Bashing"}}</option>
                    <option value="lethal">{{localize "Ex3.Lethal"}}</option>
                    <option value="aggravated">{{localize "Ex3.Aggravated"}}</option>
                    {{/select}}
                </select>
                <label class="resource-label">{{localize "Ex3.DoubleRolledDamage"}} </label>
                <div>
                    <input type="checkbox" name="object.damage.doubleRolledDamage"
                        value="{{data.damage.doubleRolledDamage}}" {{checked data.damage.doubleRolledDamage}}>
                </div>
                {{#ifEquals data.attackType 'decisive'}}
                <label class="resource-label">{{localize "Ex3.ThreshholdToDamage"}} </label>
                <div>
                    <input type="checkbox" name="object.damage.threshholdToDamage"
                        value="{{data.damage.threshholdToDamage}}" {{checked data.damage.threshholdToDamage}}>
                </div>
                <label class="resource-label">{{localize "Ex3.ResetInitiative"}} </label>
                <div>
                    <input type="checkbox" name="object.damage.resetInit"
                        value="{{data.damage.resetInit}}" {{checked data.damage.resetInit}}>
                </div>
                {{/ifEquals}}
                {{#ifEquals data.attackType 'withering'}}
                <label class="resource-label">{{localize "Ex3.IgnoreSoak"}} </label>
                <input type="number" name="object.damage.ignoreSoak" value="{{data.damage.ignoreSoak}}">
                {{/ifEquals}}
            </div>

        </div>

        {{#if data.showWithering}}
        <div class="flex-center resource-label" style="font-weight: bold;">
            {{localize "Ex3.Soak"}} ({{localize "Ex3.ArmoredSoak"}}: {{data.armoredSoak}} {{localize
            "Ex3.NaturalSoak"}}: {{data.naturalSoak}})
        </div>
        <div class="resource flex-center mb-2">
            <input placeholder="Soak" type="number" name="object.soak" value="{{data.soak}}">
        </div>
        {{/if}}

        {{#ifEquals data.rollType 'gambit'}}
        <div class="flex-center resource-label" style="font-weight: bold;">
            {{localize "Ex3.GambitDifficulty"}}
        </div>
        <div class="resource flex-center mb-2">
            <input name="object.gambitDifficulty" value="{{data.gambitDifficulty}}" type="number">
        </div>
        <div class="d-flex flex-between mb-1 collapsable cursor-pointer">
            <div class="resource-label">
                Gambits (Difficulty)
            </div>
            <div>
                <i class="fas fa-caret-down"></i>
            </div>
        </div>
        <div style="display:none;">
            <p>
                <b>Disarm (3)</b>: Knock away opponents weapon to short range. The weapon requires a draw/ready
                action to retrieve.
            </p>
            <p>
                <b>Unhorse (4)</b>: Knock opponent off his mount, Target suffers 1 point of bashing damage and is
                knocked prone.
            </p>
            <p>
                <b>Distract (3-5)</b>: Declare an ally (who is not crashed), Tranfer the difficulty of this gambit
                to the ally, this initiative must be used to attack the gambits target on the next turn or it is
                lost.
            </p>
            <p>
                <b>Grapple (2)</b>: If this gambit succeeds makle a contested control roll (Stength + Brawl/Martial
                Arts) with the opponent to gain rounds of control. See page 200 of Ex3 Core for the full grapple
                effects.
            </p>

            <p>
                <b>Adversaries of the Righteous Gambits</b>
            </p>
            <p>
                <b>Detonate (4) (pg.191)</b>: Explode a volatile target like a firedust barrel with a firewand or similar implement.  Creates a one-time environmental hazard
                out to short range (damage 4L/instant, difficulty 5)
            </p>
            <p>
                <b>Bind (2-4) (pg.185)</b>: Roll a gambit at difficulty 2 at close range (3 for Short Range, 3 for Medium Range). On success the target is treated as if they were in a grapple.  See the full text for this gambit effect.
            </p>
            <p>
                <b>Goad (3) (pg.186)</b>: On success the target must pay 2 initiative to attack anyone but the gambit user.  Ends if the target is not in close range with the gambit user.
            </p>
            <p>
                <b>Leech (3) (pg.186)</b>: Deal 1L.  Target begins bleeding (Exalted, p. 174) and characters gain (Targets Wound Penalty) bonus successes to track the target. 
            </p>
            <p>
                <b>Pile On (2) (pg.186)</b>: Chopping or piercing attacks by a chosen ally no longer cost initiative or defense vs the target until the targets next turn.
            </p>
            <p>
                <b>Riposte (1) (pg.186)</b>: If the target attacks the gambit user before her next turn the gambit user may reflexivly decisive clash the attack, adding 4 dice to the damage pool.
            </p>
        </div>
        {{/ifEquals}}
    </div>
</div>