<div class="exaltedthird">
    <div class="resource flex-center">
        <label class="resource-label">{{localize "Ex3.RerollsCap"}} <i title="Effects 'Rerolls 6s' style rerolls, 0 means no cap" class="fas fa-info-circle"></i></label>
    </div>
    <div class="resource d-flex flex-center mb-1">
        {{#each rerolls as |reroll key|}}
        <div>
            <div class="resource-label">{{reroll.number}}</div>
            <input id="reroll-{{reroll.number}}-cap" name="rerolls.{{key}}.cap" value="{{reroll.cap}}" type="number">
        </div>
        {{/each}}
    </div>
    <div class="resource flex-center">
        <label class="resource-label">{{localize "Ex3.DoubleSuccessCap"}}</label>
    </div>
    <div class="resource grid grid-4col flex-center">
        <div>
            <label class="resource-label">{{localize "Ex3.Sevens"}}</label>
            <input id="sevensCap" name="settings.doubleSucccessCaps.sevens" value="{{settings.doubleSucccessCaps.sevens}}" type="number">
        </div>
        <div>
            <label class="resource-label">{{localize "Ex3.Eights"}}</label>
            <input id="eightsCap" name="settings.doubleSucccessCaps.eights" value="{{settings.doubleSucccessCaps.eights}}" type="number">
        </div>
        <div>
            <label class="resource-label">{{localize "Ex3.Nines"}}</label>
            <input id="ninesCap" name="settings.doubleSucccessCaps.nines" value="{{settings.doubleSucccessCaps.nines}}" type="number">
        </div>
        <div>
            <label class="resource-label">{{localize "Ex3.Tens"}}</label>
            <input id="tensCap" name="settings.doubleSucccessCaps.tens" value="{{settings.doubleSucccessCaps.tens}}" type="number">
        </div>
    </div>
    <div class="resource grid grid-2col flex-center">
        <label class="resource-label">{{localize "Ex3.ExcludeOnesFromRerolls"}} <i title="Effects 'Reroll Failed' and 'Reroll Failed dice'" class="fas fa-info-circle"></i></label>
        <input id="excludeOnesFromRerolls" type="checkbox" name="settings.excludeOnesFromRerolls" {{checked settings.excludeOnesFromRerolls}}>
        <div>
            <div class="resource-label">{{localize "Ex3.TriggerOnOnes"}}</div>
            <select id="triggerOnOnes" name="settings.triggerOnOnes" data-type="String">
                {{selectOptions selects.triggerOnOnesOptions selected=settings.triggerOnOnes localize=true}}
            </select>
        </div>
        <div>
            <label class="resource-label">{{localize "Ex3.TriggerOnesCap"}}</label>
            <input id="triggerOnesCap" name="settings.triggerOnesCap" value="{{settings.triggerOnesCap}}" type="number">
        </div>
        <label class="resource-label">{{localize "Ex3.AlsoTriggerTwos"}}</label>
        <input id="alsoTriggerTwos" type="checkbox" name="settings.alsoTriggerTwos" {{checked settings.alsoTriggerTwos}}>
        <div>
            <div class="resource-label">{{localize "Ex3.TriggerOnTens"}}</div>
            <select id="triggerOnTens" name="settings.triggerOnTens" data-type="String">
                {{selectOptions selects.triggerOnTensOptions selected=settings.triggerOnTens localize=true}}
            </select>
        </div>
        <div>
            <label class="resource-label">{{localize "Ex3.TriggerTensCap"}}</label>
            <input id="triggerTensCap" name="settings.triggerTensCap" value="{{settings.triggerTensCap}}" type="number">
        </div>
        <label class="resource-label">{{localize "Ex3.AlsoTriggerNines"}}</label>
        <input id="alsoTriggerNines" type="checkbox" name="settings.alsoTriggerNines" {{checked settings.alsoTriggerNines}}>
    </div>
    {{#if isAttack}}
    <div class="resource grid grid-2col flex-center">
        <div class="resource flex-center">
            <div class="resource-label">{{localize "Ex3.SelfDefensePenalty"}}</div>
            <input id="selfDefensePenalty" name="selfDefensePenalty" value="{{selfDefensePenalty}}" type="number">
        </div>
        <div>
            <div class="resource-label">{{localize "Ex3.TargetDefensePenalty"}}</div>
            <input id="targetDefensePenalty" name="targetDefensePenalty" value="{{targetDefensePenalty}}" type="number">
        </div>
        <label class="resource-label">{{localize "Ex3.IgnoreLegendarySize"}}</label>
        <input id="ignoreLegendarySize" type="checkbox" name="settings.ignoreLegendarySize" {{checked settings.ignoreLegendarySize}}>
    </div>
    <div class="resource flex-center">
        <label class="resource-label mb-1" style="font-size: 17px;">{{localize "Ex3.Damage"}}</label>
    </div>
    <div class="resource flex-center">
        <label class="resource-label">{{localize "Ex3.RerollsCap"}}</label>
    </div>
    <div class="resource d-flex flex-center mb-1">
        {{#each damageRerolls as |reroll key|}}
        <div>
            <div class="resource-label">{{reroll.number}}</div>
            <input id="damage-reroll-{{reroll.number}}-cap" name="damageRerolls.{{key}}.cap" value="{{reroll.cap}}" type="number">
        </div>
        {{/each}}
    </div>
    <div class="resource flex-center">
        <label class="resource-label">{{localize "Ex3.DoubleSuccessCap"}}</label>
    </div>
    <div class="resource grid grid-4col flex-center">
        <div>
            <label class="resource-label">{{localize "Ex3.Sevens"}}</label>
            <input id="damageSevensCap" name="settings.damage.doubleSucccessCaps.sevens" value="{{settings.damage.doubleSucccessCaps.sevens}}" type="number">
        </div>
        <div>
            <label class="resource-label">{{localize "Ex3.Eights"}}</label>
            <input id="damageEightsCap" name="settings.damage.doubleSucccessCaps.eights" value="{{settings.damage.doubleSucccessCaps.eights}}" type="number">
        </div>
        <div>
            <label class="resource-label">{{localize "Ex3.Nines"}}</label>
            <input id="damageNinesCap" name="settings.damage.doubleSucccessCaps.nines" value="{{settings.damage.doubleSucccessCaps.nines}}" type="number">
        </div>
        <div>
            <label class="resource-label">{{localize "Ex3.Tens"}}</label>
            <input id="damageTensCap" name="settings.damage.doubleSucccessCaps.tens" value="{{settings.damage.doubleSucccessCaps.tens}}" type="number">
        </div>
    </div>
    <div class="resource grid grid-2col flex-center">
        <label class="resource-label">{{localize "Ex3.ExcludeOnesFromRerolls"}}</label>
        <input id="damageExcludeOnesFromRerolls" type="checkbox" name="settings.damage.excludeOnesFromRerolls" {{checked settings.damage.excludeOnesFromRerolls}}>
    </div>
    <div class="resource grid grid-2col flex-center">
        <div>
            <div class="resource-label">{{localize "Ex3.TriggerOnTens"}}</div>
            <select id="DamageTriggerOnTens" name="settings.damage.triggerOnTens" data-type="String">
                {{selectOptions selects.triggerOnTensDamageOptions selected=settings.damage.triggerOnTens localize=true}}
            </select>
        </div>
        <div>
            <label class="resource-label">{{localize "Ex3.TriggerTensCap"}}</label>
            <input id="damageTriggerTensCap" name="settings.damage.triggerTensCap" value="{{settings.damage.triggerTensCap}}" type="number">
        </div>
        <label class="resource-label">{{localize "Ex3.AlsoTriggerNines"}}</label>
        <input id="damageAlsoTriggerNines" type="checkbox" name="settings.damage.alsoTriggerNines" {{checked settings.damage.alsoTriggerNines}}>
    </div>
    {{/if}}
</div>
