<div>
    <p><b>Expression Bonus</b></p>
    <ul>
        <li>Expressing, supporting, or engaging a Major or Defining Intimacy in such a way that it reveals something
            about the character, develops the character’s personality, or provides a character moment that everyone at the
            table enjoys..</li>
        <li> Being significantly challenged, endangered, or harmed
            in the course of protecting or upholding a Major or Defining Intimacy</li>
        <li> Being significantly impeded, endangered, or harmed by a Flaw.</li>
    </ul>
    <p><b>Role Bonus Bonus</b></p>

    <ul>
        <li>
            Intentionally ceding the splotlight to another player to allow that character to shine in their specialty
        </li>
        {{#ifEquals caste 'dawn'}}
        <li>
            Defeating a powerful enemy, defending a
            vulnerable Circlemate through skill of arms, using martial
            prowess to directly advance a Major or Defining Principle,
            or using martial prowess to directly protect a Major or
            Defining Tie.
        </li>
        {{/ifEquals}}
        {{#ifEquals exalt 'sidereal'}}
        <li>
            Fulfilling an auspicious prospect
        </li>
        {{/ifEquals}}
        {{#ifEquals caste 'zenith'}}
        <li>
            Inspiring others to uphold one of your
            Major or Defining Principles in a significant way, enduring great hardship in the name of a Major or Defining
            Intimacy, accomplishing a great deed that furthers a
            Major or Defining Principle, or creating, defending, or
            advancing the fortunes of some edifice or institution
            that expresses or furthers a Major or Defining Principle
        </li>
        {{/ifEquals}}
        {{#ifEquals caste 'twilight'}}
        <li>
            Learning lost lore of the First Age or
            similarly valuable knowledge, learning something that
            helps advance or protect a Major or Defining Intimacy,
            discovering a supernatural being's mystic secrets (such
            as a ghost's lingering passions, the obsession that drives
            a demon's nature, or an ancient oath that still binds one
            of the Fair Folk), solving a significant problem or crisis
            through the application of knowledge or through education, or creating a lasting and meaningful work of
            mystical power in the world
        </li>
        {{/ifEquals}}
        {{#ifEquals caste 'night'}}
        <li>
            Removing a major impediment to the
            characterls or Circlels goals through assassination, blackmail, or other underhanded means; stealing something
            that directly furthers the character's or Circlels goals;
            gaining a significant advantage over a dangerous enemy
            through infiltration or stealth; upholding or protecting
            a Major or Defining Principle through “criminal” means
        </li>
        {{/ifEquals}}
        {{#ifEquals caste 'eclipse'}}
        <li>
            Bringing two or more parties with a
            meaningful dispute to accords, gaining a noteworthy
            advantage for the character or the Circle through diplomatic means, successfully navigating and thwarting
            social or geographical obstacles preventing the character or Circle from achieving a significant goal, exploiting a cultural tradition or legal system in furtherance of
            a Major or Defining Intimacy, bringing someone's Intimacies closer to aligning with those of the Eclipse or
            with the goals of his Circle, inspiring or taking part in
            the creation or transformation of a social institution
        </li>
        {{/ifEquals}}
        {{#ifEquals caste 'eclipse'}}
        <li>
            Bringing two or more parties with a
            meaningful dispute to accords, gaining a noteworthy
            advantage for the character or the Circle through diplomatic means, successfully navigating and thwarting
            social or geographical obstacles preventing the character or Circle from achieving a significant goal, exploiting a cultural tradition or legal system in furtherance of
            a Major or Defining Intimacy, bringing someone's Intimacies closer to aligning with those of the Eclipse or
            with the goals of his Circle, inspiring or taking part in
            the creation or transformation of a social institution
        </li>
        {{/ifEquals}}
        {{#ifEquals caste 'air'}}
        <li>
            Accomplishing a long-term plan that
            upholds a Major or Defining Intimacy; uncovering knowledge through study or subterfuge that
            furthers the character's or an ally's goals; solving
            a significant problem through the application of
            knowledge; guiding an ally in using his talents
            or abilities to advance his or the Dragon-Blood's
            goals.
        </li>
        {{/ifEquals}}
        {{#ifEquals caste 'earth'}}
        <li>
            Defending, supporting, or expanding an institution or tradition in support of a Major
            or Defining Intimacy; enduring significant peril to
            defend an ally; creating a lasting and meaningful
            institution, tradition, or work of craftsmanship or
            mystical power; resolving a meaningful dispute
            between one's allies or a group one belongs to
        </li>
        {{/ifEquals}}
        {{#ifEquals caste 'fire'}}
        <li>
            Defeating a powerful enemy in a way
            that upholds an emotion-based Major or Defining
            Intimacy; taking needless risks or plunging into
            unnecessary danger to uphold a Major or Defining
            Intimacy; inspiring others to uphold one of the character's emotion-based Major or Defining Intimacies
            in a significant way; directly furthering the character's or her allies' goals by causing another character
            to question one of his Major or Defining Intimacies
        </li>
        {{/ifEquals}}
        {{#ifEquals caste 'water'}}
        <li>
            Solving a significant problem or
            defeating a powerful enemy using a new approach
            after failing before; removing a major impediment
            to the character's or her allies' goals using unconventional or underhanded means; exploiting the
            rules or customs of a government, bureaucracy, or
            criminal association to support a Major or Defining
            Intimacy; helping an ally recover or learn from a
            major defeat or setback in a way that grants a significant advantage
        </li>
        {{/ifEquals}}
        {{#ifEquals caste 'wood'}}
        <li>
            Learning something from firsthand
            experience that helps advance or protect a Major or
            Defining Tie; navigating geographical obstacles or
            curing dangerous ailments preventing the character
            or an ally from achieving a significant goal; upholding a Major or Defining Intimacy by pursuing a new
            experience; helping an ally cultivate a strength or
            remedy a weakness in a way that grants a significant
            advantage.
        </li>
        {{/ifEquals}}
        {{#ifEquals caste 'full moon'}}
        <li>
            Defeating a powerful enemy; removing a major impediment to her or her Circle's
            goals through physical prowess; traversing hostile environments or enduring great physical
            abuse for a Major or Defining Intimacy's sake;
            protecting or rescuing someone she has a Major
            or Defining Tie toward from danger
        </li>
        {{/ifEquals}}
        {{#ifEquals caste 'changing moon'}}
        <li>
            Inflicting a significant setback
            or defeat on an adversary by influencing him or
            those around him; exploiting a cultural tradition
            or legal system to support a Major or Defining
            Intimacy; advancing her or her Circle’s goals by
            fundamentally changing or teaching a significant lesson to a culture; accomplishing a major
            character or story goal by solving a problem she
            created.
        </li>
        {{/ifEquals}}
        {{#ifEquals caste 'no moon'}}
        <li>
            Learning something that helps advance a Major or Defining Intimacy; banishing,
            binding, purifying, or curing a dangerous supernatural force; creating a lasting and meaningful work of magic, like an artifact or sorcerous
            working; resolving a meaningful dispute or conflict between mortals and the supernatural
        </li>
        {{/ifEquals}}
        {{#ifEquals caste 'casteless'}}
        <li>
            Overcoming a significant enemy or obstacle in a way that reveals something new about
            the character or leads her to learn something
            about herself; advancing or protecting a Major or
            Defining Intimacy by completing a sacred hunt; removing a major impediment to her or her Circle's
            goals through shapeshifting; protecting a Major or
            Defining Intimacy to an institution or community
            in which she's made a place for herself.
        </li>
        {{/ifEquals}}
        {{#ifEquals caste 'journeys'}}
        <li>
            Solving significant problems through the path of least resistance; traversing hostile
            environments or enduring severe harm for a Major or Defining Intimacy's sake; upholding Major or
            Defining Intimacies by seeking out new experiences; guiding others through unfamiliar territory — literal
            or figurative — in furtherance of her or her Circle's goals
        </li>
        {{/ifEquals}}
        {{#ifEquals caste 'serenity'}}
        <li>
            Resolving meaningful disputes; soothing the feelings of narratively significant characters to
            her own advantage; upholding Major or Defining Ties by bringing others together in partnerships
            (romantic or otherwise); creating or restoring lasting institutions, infrastructure, artifacts, or blessings that
            improves people's lives
        </li>
        {{/ifEquals}}
        {{#ifEquals caste 'battles'}}
        <li>
            Inciting violent conflicts in furtherance of her or her Circle's goals; gaining a tactical advantage
            that can benefit a Strategic Maneuver roll (Exalted, p. 212); training soldiers or stockpiling materiel in
            preparation for significant battles; inspiring others to uphold Major or Defining Intimacies through
            violence or forceful argument
        </li>
        {{/ifEquals}}
        {{#ifEquals caste 'secrets'}}
        <li>
            Learning something that helps advance her or her Circle's goals; using knowledge to solve
            significant problems; upholding a Major or Defining Intimacy by meddling in someone's private affairs;
            advancing her or her Circle's goals by concealing or falsifying information.
        </li>
        {{/ifEquals}}
        {{#ifEquals caste 'endings'}}
        <li>
            Advancing his or her Circle's goals by killing powerful enemies; bringing longstanding
            problems to decisive conclusion; saving others from mortal peril or organizations from ruin; defeating
            powerful undead or necromancers or undoing their baleful magics
        </li>
        {{/ifEquals}}
    </ul>


</div>