<div>
    <p><b>Experience Costs</b></p>
    <table>
        <tr style="text-align:center;">
            <th>Trait</th>
            <th>Cost</th>
        </tr>
        <tr style="text-align:center;">
            <td>Attributes</td>
            <td>10 per dot (8 for favored)</td>
        </tr>
        <tr style="text-align:center;">
            <td>Abilities</td>
            <td>5 per dot (4 for favored)</td>
        </tr>
        <tr style="text-align:center;">
            <td>Specialty</td>
            <td>2</td>
        </tr>
        <tr style="text-align:center;">
            <td>Merit</td>
            <td>2 per dot</td>
        </tr>
        <tr style="text-align:center;">
            <td>Willpower</td>
            <td>6 per dot</td>
        </tr>
        <tr style="text-align:center;">
            <td>Charm/Spell/Evocation</td>
            <td>12 per dot (10 for favored)</td>
        </tr>
    </table>
</div>