<div>
    <b>Feats of Strength</b></p>
    <table>
        <tr style="text-align:center;">
            <th>Successes</th>
            <th>Feat</th>
        </tr>
        <tr>
            <th></th>
            <th>Strength 3+</th>
        </tr>
        <tr style="text-align:center;">
            <td>1</td>
            <td>Lift a full-grown man or an anvil. Break a pine board with a kick.</td>
        </tr>
        <tr style="text-align:center;">
            <td>2</td>
            <td>Tote a bale of cotton on one shoulder. Kick an oak door open.</td>
        </tr>
        <tr style="text-align:center;">
            <td>3</td>
            <td>Lift a mule. Break a sword over your knee.</td>
        </tr>
        <tr style="text-align:center;">
            <td>4</td>
            <td>Lift a full-grown warhorse. Bend an iron bar with both hands.</td>
        </tr>
        <tr>
            <th></th>
            <th>Strength 5+</th>
        </tr>
        <tr style="text-align:center;">
            <td>5</td>
            <td>Lift an ox. Pull a fully laden wagon. Bend a horseshoe into a pretzel.</td>
        </tr>
        <tr style="text-align:center;">
            <td>6</td>
            <td>Throw a mule. Snap an axe haft over your knee. Kick an oak door to splinters.</td>
        </tr>
        <tr style="text-align:center;">
            <td>7</td>
            <td>Lift a boulder. Throw a full-grown warhorse.</td>
        </tr>
        <tr style="text-align:center;">
            <td>8</td>
            <td>Lift a rhinocerous. Snap iron manacles. Slowly bash through a brick wall.</td>
        </tr>
        <tr style="text-align:center;">
            <td>9</td>
            <td>Throw an ox. Twist a steel lock off a door with your bare hands. Kick down an iron-shod door.</td>
        </tr>
        <tr>
            <th></th>
            <th>Strength 7+</th>
        </tr>
        <tr style="text-align:center;">
            <td>10</td>
            <td>Lift an elephant. Raise a drawbridge by hand. Punch through a brick wall.</td>
        </tr>
        <tr style="text-align:center;">
            <td>11</td>
            <td>Raise a locked portcullis by hand. Punch through the wooden gate of a fortress.</td>
        </tr>
        <tr style="text-align:center;">
            <td>12</td>
            <td>Pull a fully laden wagon from a sand trap. Rip iron bars out of their stone settings with one hand.
                Rip loose the stone supports of a city gate.</td>
        </tr>
        <tr style="text-align:center;">
            <td>13</td>
            <td>Lift a boulder with one hand. Tear down the pillars holding up a mighty temple.</td>
        </tr>
        <tr style="text-align:center;">
            <td>14</td>
            <td>Lift a tyrant lizard. Carry an enormous statue on one shoulder. Tip over a Guild wagon. Push open a
                locked and reinforced fortress gate.</td>
        </tr>
        <tr>
            <th></th>
            <th>Strength 10+</th>
        </tr>
        <tr style="text-align:center;">
            <td>15</td>
            <td>Uproot a mighty tree. Slowly bash through the stone wall of a fortress.</td>
        </tr>
        <tr style="text-align:center;">
            <td>16</td>
            <td>Lift a mammoth. Hurl an elephant. Tear apart the welded steel bars of a portcullis.</td>
        </tr>
        <tr style="text-align:center;">
            <td>17</td>
            <td>Pull an entire caravan, chained cart-to-cart. Snap a mighty tree in half.</td>
        </tr>
        <tr style="text-align:center;">
            <td>18</td>
            <td>Lift a mighty tree with one hand. Crack a boulder in two. Rip a portcullis from its setting.</td>
        </tr>
        <tr style="text-align:center;">
            <td>19</td>
            <td>Throw a mammoth. Slowly push over a stone tower. Tow a boat away from a waterfall while on
                the shore.</td>
        <tr style="text-align:center;">
            <td>20</td>
            <td>Tear open the earth to create a crevasse. Smash through ten feet of solid stone. Lift a yeddim or
                outpull a team of them. Tow a boat away from a waterfall while swimming.</td>
        </tr>
    </table>
</div>