<div>
    <p>
        <b>Gambits</b>
    </p>
    <p>
        <b>{{localize "Ex3.Disarm"}} (3)</b>: Knock away opponents weapon to short range. The weapon requires a
        draw/ready
        action to retrieve.
    </p>
    <p>
        <b>{{localize "Ex3.Unhorse"}} (4)</b>: Knock opponent off his mount, Target suffers 1 point of bashing
        damage and is
        knocked prone.
    </p>
    <p>
        <b>{{localize "Ex3.Distract"}} (3-5)</b>: Declare an ally (who is not crashed), Tranfer the difficulty
        of this gambit
        to the ally, this initiative must be used to attack the gambits target on the next turn or it is
        lost.
    </p>
    <p>
        <b>{{localize "Ex3.Grapple"}} (2)</b>: If this gambit succeeds makle a contested control roll (Stength +
        Brawl/Martial
        Arts) with the opponent to gain rounds of control. See page 200 of Ex3 Core for the full grapple
        effects.
    </p>
    {{#if useEssenceGambit}}
    <p>
        <b>Essence Gambits</b>
    </p>
    <p>
        <b>{{localize "Ex3.Knockback"}} (3)</b>: Knock target back 1 range band, Lower targets defense by 1 per
        threshhold success until start of their next turn.
    </p>
    <p>
        <b>{{localize "Ex3.Knockdown"}} (3)</b>: Knock target prone
    </p>
    <p>
        <b>{{localize "Ex3.Pilfer"}} (2)</b>: Can use stealth for this gambit, Steal 1 non-weapon/non-worn item.
    </p>
    <p>
        <b>{{localize "Ex3.Pull"}} (3)</b>: Pull target one range band closer, Lower targets defense by 1 per
        threshhold success until start of their next turn.
    </p>
    <p>
        <b>{{localize "Ex3.RevealWeakness"}} (2)</b>: Halfs the targets soak (round down) until the next
        withering attack.
    </p>
    {{/if}}
    <p>
        <b>Adversaries of the Righteous Gambits</b>
    </p>
    <p>
        <b>{{localize "Ex3.Detonate"}} (4) (pg.191)</b>: Explode a volatile target like a firedust barrel with a
        firewand or
        similar implement. Creates a one-time environmental hazard
        out to short range (damage 4L/instant, difficulty 5)
    </p>
    <p>
        <b>{{localize "Ex3.Bind"}} (2-4) (pg.185)</b>: Roll a gambit at difficulty 2 at close range (3 for Short
        Range, 3 for
        Medium Range). On success the target is treated as if they were in a grapple. See the full text for this
        gambit effect.
    </p>
    <p>
        <b>{{localize "Ex3.Goad"}} (3) (pg.186)</b>: On success the target must pay 2 initiative to attack
        anyone but the gambit
        user. Ends if the target is not in close range with the gambit user.
    </p>
    <p>
        <b>{{localize "Ex3.Leech"}} (3) (pg.186)</b>: Deal 1L. Target begins bleeding (Exalted, p. 174) and
        characters gain
        (Targets Wound Penalty) bonus successes to track the target.
    </p>
    <p>
        <b>{{localize "Ex3.PileOn"}} (2) (pg.186)</b>: Chopping or piercing attacks by a chosen ally no longer
        cost initiative or
        defense vs the target until the targets next turn.
    </p>
    <p>
        <b>{{localize "Ex3.Riposte"}} (1) (pg.186)</b>: If the target attacks the gambit user before her next
        turn the gambit user
        may reflexivly decisive clash the attack, adding 4 dice to the damage pool.
    </p>
    <p>
        <b>Warstrider Gambits</b>
    </p>
    <p>
        <b>{{localize "Ex3.BlockVision"}} (3)</b>: Pilot suffers a -3 penalty on all actions that depend on
        vision. The pilot may
        use a miscellaneous action to clear the obstruction.
    </p>
    <p>
        <b>{{localize "Ex3.DisableArm"}} (5)</b>: Disables a warstrider's arm. Warstrider drops anything that
        arm was carrying and
        cannot use the arm. Warstrider takes a -3 on actions that require 2 arms. Pilot can restore fuctionality
        with 5 init and a misc action.
    </p>
    <p>
        <b>{{localize "Ex3.DisableLeg"}} (6)</b>: Pilot must succees on Diff 5 (Dex + Athletics) roll or fall
        prone, Pilot takes a
        -3 penalty of movement. Pilot can restore fucitonality by paying 2 init and their turn's movement. If
        both legs are disabled the warstrider cannot move and the init cost is raised to 5.
    </p>
    <p>
        <b>{{localize "Ex3.BreachFrame"}} (9)</b>: Makes an opening allowing attackers to pay 1 init to attack
        the pilot directly.
    </p>
</div>