<div>
    <p><b>Crippling Wounds</b></p>
    <p>Once per story take a crippling injury instead of damage.  Must take at least 2 health levels of damage to take an injury.</p>
    <table>
        <tr>
            <th>Health Levels</th>
            <th style="text-align:center;">Example Wound</th>
        </tr>
        <tr>
            <td>1-2</td>
            <td style="text-align:center;">Lose An eye, some fingers, a foot</td>
        </tr>
        <tr>
            <td>3-4</td>
            <td style="text-align:center;">Blinding, lose hand, maim organs</td>
        </tr>
        <tr>
            <td>5+</td>
            <td style="text-align:center;">Lose Limb</td>
        </tr>
    </table>
    <p><b>Healing Times (Aggravated same as Lethal)</b></p>
    <table>
        <tr>
            <th>Health</th>
            <th style="text-align:center;">Time</th>
        </tr>
        <tr>
            <td>Bashing -0</td>
            <td style="text-align:center;">1 Hour</td>
        </tr>
        <tr>
            <td>Lethal -0</td>
            <td style="text-align:center;">1 Day</td>
        </tr>
        <tr>
            <td>Bashing -1</td>
            <td style="text-align:center;">12 Hours</td>
        </tr>
        <tr>
            <td>Lethal -1</td>
            <td style="text-align:center;">2 Days</td>
        </tr>
        <tr>
            <td>Bashing -2</td>
            <td style="text-align:center;">One Day</td>
        </tr>
        <tr>
            <td>Lethal -2</td>
            <td style="text-align:center;">Three Days</td>
        </tr>
        <tr>
            <td>Bashing -4</td>
            <td style="text-align:center;">Two Days</td>
        </tr>
        <tr>
            <td>Lethal -4</td>
            <td style="text-align:center;">5 Days</td>
        </tr>
        <tr>
            <td>Incap</td>
            <td style="text-align:center;">Depends, For bashing typically end of scene.</td>
        </tr>
    </table>
</div>