<div>
    <p>
        <b>Combat Tracker</b>
    </p>
    <p>
        -This module has integration with Foundry's initiative tracker
    </p>
    <p>
        -Targeting tokens with withering attacks will alter initiative in the tracker (Double Right Click for players or use the bullseye for GMs)
    </p>
    <p>
        -Onsluaght penalties are auto calculated on attacks and removed on the actors turn
    </p>
    <p>
        -New rounds will restore motes
    </p>
    <p>
        <b>Characters</b>
    </p>
    <p>
        -Willpower is added automatically from level 2 and 3 stunts.
    </p>
    <p>
        -Ranged/Thrown/Seige Weapons accuracy is calculated based on range.
    </p>
    <p>
        -Light/Heavy Cover, Prone, and Grapple/Grappled conditions automatically add penalties/bonuses on attacks and defense. Grapple penalty assumes non 2-handed weapons.
    </p>
    <p>
        <b>NPCs</b>
    </p>
    <p>
        -Size bonus is added automatically to health.  Battlegroup stats are not added to other rolls currently
    </p>
</div>