<div>
    <p><b>Lunar Sync</b></p>
    <p>
        Doing this will sync this animal with the connected lunar.  This will copy over applicable stats from the lunar according to the animal shapes rules in Lunars: Fangs at the Gate PG. 131
    </p>
    <p>
        Actions and stats like parry will be calculated from the higher of the animals stats or the lunars stats.  Lunar pools will be calcualted by checking the attribute/ability in the lunars Roll Settings.  This pool will not include the lunars specialty but syncing this will enable this animal to use the lunars specialties on rolls.  You can set the attribute/ability of custom actions in the Effects tab of the item.
    </p>
    <p>
        Once connected to a lunar the animal's statblock will use the lunars pools caps for calculating charm dice caps.  If the animals pool is higher than the lunars pool it will show the difference in charm dice in the charm roller.
    </p>
    <p>
        For the movement pool the system will calculate the pools based off the attribute/ability for rush actions.
    </p>
    <p>
        Applicable Items will be synced.  If synced multiple times only items whos name doesn't exist on the animal will be synced.
    </p>
    <p>
        The +1 accuracy bonus for the lunar's brawl pool being higher than the animal's natural attacks is not added with the sync.
    </p>
    <P>
        <b>What items will be synced</b>
    </P>
    <ul>
        <li>Specialties</li>
        <li>Charms</li>
        <li>Spells</li>
        <li>Shaping Rituals</li>
        <li>Intimacies</li>
        <li>Active Effects</li>
    </ul>
    <P>
        <b>What items will not be synced</b>
    </P>
    <ul>
        <li>Merits (Only Tell merits apply to animal forms and those will have to be copied manually, Drag and drop from one actor to another to copy items)</li>
        <li>Weapons</li>
        <li>Armor</li>
    </ul>
</div>