<div>
    <p><b>Modes Overview</b></p>
    <p>
        Modes are for charms that have different separate functions, for example a charm that has an instant version or a scene long version
    </p>
    <p>
        Set the mode using the + button and then the dialog will allow you enter information for things like duration and cost
    </p>
    <p>
        There are trigger options that let you check for certain modes, allowing for effects tied to certain charm configurations
    </p>
    <p>
        Modes are set using the button in the charms item listing in the character sheet.
    </p>
    <p>Note: Set all (Non-trigger/bonuses) fields on your charm <b>before</b> setting any modes</p>
</div>