<div>
    <p>
        <b>Solar/Abyssal</b>
    </p>
    <p>
        <b>Personal:</b> (10 + [Essence x 3]),
        <b>Peripheral:</b> (26 + [Essence x 7]) 
    </p>
    <p>
        <b>Dragonblooded</b>
    </p>
    <p>
        <b>Personal:</b> (11 + [Essence]),
        <b>Peripheral:</b> (23 + [Essence x 4])
    </p>
    <p>
        <b>Lunar</b>
    </p>
    <p>
        <b>Personal:</b> (15 + [Essence]),
        <b>Peripheral:</b> (34 + [Essence x 4])
    </p>
    <p>
        <b>Terrestrial Exigent</b>
    </p>
    <p>
        <b>Personal:</b> (11 + [Essence]),
        <b>Peripheral:</b> (23 + [Essence x 4])
    </p>
    <p>
        <b>Celestial Exigent</b>
    </p>
    <p>
        <b>Personal:</b> (11 + [Essence x 2]),
        <b>Peripheral:</b> (27 + [Essence x 6])
    </p>
    <p>
        <b>Sidereal</b>
    </p>
    <p>
        <b>Personal:</b> (9 + [Essence x 2]),
        <b>Peripheral:</b> (25 + [Essence x 6])
    </p>
    <p>
        <b>Liminal</b>
    </p>
    <p>
        <b>Personal:</b> (10 + [Essence x 3]),
        <b>Peripheral:</b> (23 + [Essence x 4])
    </p>
</div>