<form>
    <div class="sheet-body exaltedthird">
        <div class="grid grid-2col flex-group-center">
            <label className="resource-label">Spend motes from:</label>
            <select id="charmMotePool" name="charmmotepool" data-type="String">
                {{#select charmmotepool}}
                <option value="personal">{{localize "Ex3.Personal"}}</option>
                <option value="peripheral">{{localize "Ex3.Peripheral"}}</option>
                {{/select}}
            </select>
            <label className="resource-label">{{localize "Ex3.MaxAnima"}}:</label>
            <select id="maxAnima" name="maxAnima" data-type="String">
                {{#select maxAnima}}
                <option value="3">{{localize "Ex3.Bonfire"}}</option>
                <option value="4">{{localize "Ex3.Transcendent"}}</option>
                {{/select}}
            </select>
            <label className="resource-label">{{localize "Ex3.ShowWarstrider"}}:</label>
            <input id="showWarstrider" name="showWarstrider" type="checkbox" {{checked showWarstrider}}>
            <label className="resource-label">{{localize "Ex3.ShowShip"}}:</label>
            <input id="showShip" name="showShip" type="checkbox" {{checked showShip}}>
            <label className="resource-label">{{localize "Ex3.ShowEscort"}}:</label>
            <input id="showEscort" name="showEscort" type="checkbox" {{checked showEscort}}>
            <label className="resource-label">{{localize "Ex3.ShowZeroValues"}}(NPC only):</label>
            <input id="showZeroValues" name="showZeroValues" type="checkbox" {{checked showZeroValues}}>
            <label className="resource-label">{{localize "Ex3.UseTenForAttributes"}}:</label>
            <input id="useTenAttributes" name="useTenAttributes" type="checkbox" {{checked useTenAttributes}}>
            <label className="resource-label">{{localize "Ex3.DefaultRollStunts"}}:</label>
            <input id="rollStunts" name="rollStunts" type="checkbox" {{checked rollStunts}}>
            <label className="resource-label">{{localize "Ex3.DefaultDefenseStunt"}}:</label>
            <input id="defenseStunts" name="defenseStunts" type="checkbox" {{checked defenseStunts}}>
        </div>
    </div>
</form>