<form>
    <div class="sheet-body exaltedthird">
        <div class="grid grid-2col flex-group-center">
            <label className="resource-label">Spend motes from:</label>
            <select id="charmMotePool" name="settings.charmmotepool" data-type="String">
                {{selectOptions selects.motePools selected=settings.charmmotepool localize=true}}
            </select>
            <label className="resource-label">{{localize "Ex3.MaxAnima"}}:</label>
            <select id="maxAnima" name="maxAnima" data-type="String">
                {{selectOptions selects.maxAnima selected=maxAnima localize=true}}
            </select>
            <label className="resource-label">{{localize "Ex3.MartialArtsMastery"}}:</label>
            <select id="martialArtsMastery" name="settings.martialartsmastery" data-type="String">
                {{selectOptions selects.martialArtsMastery selected=settings.martialartsmastery localize=true}}
            </select>
            <label className="resource-label">{{localize "Ex3.SheetBackground"}}:</label>
            <select id="sheetBackground" name="settings.sheetbackground" data-type="String">
                {{selectOptions selects.sheetBackgrounds selected=settings.sheetbackground localize=true}}
            </select>
            <label className="resource-label">{{localize "Ex3.SorceryCircle"}}:</label>
            <select id="sorceryCircle" name="settings.sorcerycircle" data-type="String">
                {{selectOptions selects.sorceryCircles selected=settings.sorcerycircle localize=true}}
            </select>
            <label className="resource-label">{{localize "Ex3.NecromancyCircle"}}:</label>
            <select id="necromancyCircle" name="settings.necromancycircle" data-type="String">
                {{selectOptions selects.necromancyCircles selected=settings.necromancycircle localize=true}}
            </select>
            {{#if showExigentType}}
            <label className="resource-label">{{localize "Ex3.ExigentType"}}:</label>
            <select id="exigentType" name="settings.exigenttype" data-type="String">
                {{selectOptions selects.exigentTypes selected=settings.exigenttype localize=true}}
            </select>
            {{/if}}
            <label className="resource-label">{{localize "Ex3.SMAEnlightenment"}}:</label>
            <input id="smaEnlightenment" name="settings.smaenlightenment" type="checkbox" {{checked
                settings.smaenlightenment}}>
            <label className="resource-label">{{localize "Ex3.ShowWarstrider"}}:</label>
            <input id="showWarstrider" name="settings.showwarstrider" type="checkbox" {{checked
                settings.showwarstrider}}>
            <label className="resource-label">{{localize "Ex3.ShowShip"}}:</label>
            <input id="showShip" name="settings.showship" type="checkbox" {{checked settings.showship}}>
            <label className="resource-label">{{localize "Ex3.ShowEscort"}}:</label>
            <input id="showEscort" name="settings.showescort" type="checkbox" {{checked settings.showescort}}>
            {{#ifEquals actorType 'character'}}
            <label className="resource-label">{{localize "Ex3.UseTenForAttributes"}}:</label>
            <input id="useTenAttributes" name="settings.usetenattributes" type="checkbox" {{checked
                settings.usetenattributes}}>
            <label className="resource-label">{{localize "Ex3.UseTenForAbilities"}}:</label>
            <input id="useTenAbilities" name="settings.usetenabilities" type="checkbox" {{checked
                settings.usetenabilities}}>
            {{/ifEquals}}
            {{#ifEquals actorType 'npc'}}
            <label className="resource-label">{{localize "Ex3.LunarAnimalForm"}}:</label>
            <input id="lunarFormEnabled" name="lunarFormEnabled" type="checkbox" {{checked lunarFormEnabled}}>
            {{/ifEquals}}
            <label className="resource-label">{{localize "Ex3.DefaultRollStunts"}}:</label>
            <input id="rollStunts" name="settings.rollStunts" type="checkbox" {{checked settings.rollStunts}}>
            <label className="resource-label">{{localize "Ex3.DefaultDefenseStunt"}}:</label>
            <input id="defenseStunts" name="settings.defenseStunts" type="checkbox" {{checked settings.defenseStunts}}>
            <label className="resource-label">{{localize "Ex3.ShowAnima"}}:</label>
            <input id="showAnima" name="settings.showanima" type="checkbox" {{checked settings.showanima}}>
            <label className="resource-label">{{localize "Ex3.IsSorcerer"}}:</label>
            <input id="isSorcerer" name="settings.issorcerer" type="checkbox" {{checked settings.issorcerer}}>
            <label className="resource-label">{{localize "Ex3.IsCrafter"}}:</label>
            <input id="isCrafter" name="settings.iscrafter" type="checkbox" {{checked settings.iscrafter}}>
            <label className="resource-label">{{localize "Ex3.HasAura"}}:</label>
            <input id="hasAura" name="settings.hasaura" type="checkbox" {{checked settings.hasaura}}>
            <label className="resource-label">{{localize "Ex3.ShowMaidens"}}:</label>
            <input id="showMaidens" name="settings.showmaidens" type="checkbox" {{checked settings.showmaidens}}>
            <label className="resource-label">{{localize "Ex3.EditMode"}}:</label>
            <input id="editMode" name="settings.editmode" type="checkbox" {{checked settings.editmode}}>
        </div>
    </div>
</form>