<form>
    <div class="sheet-body exaltedthird">
        <div class="mb-1">
            <label className="resource-label">Choose pool used for charm spending:</label>
            <select id="charmMotePool" name="charmmotepool" data-type="String">
                {{#select charmmotepool}}
                <option value="personal">{{localize "Ex3.Personal"}}</option>
                <option value="peripheral">{{localize "Ex3.Peripheral"}}</option>
                {{/select}}
            </select>
        </div>
        <div class="mb-1">
            <label className="resource-label">{{localize "Ex3.ShowWarstrider"}}:</label>
            <input id="showWarstrider" name="showWarstrider" type="checkbox" {{checked showWarstrider}}>
        </div>
        <div class="mb-1">
            <label className="resource-label">{{localize "Ex3.ShowShip"}}:</label>
            <input id="showShip" name="showShip" type="checkbox" {{checked showShip}}>
        </div>
        <div class="mb-1">
            <label className="resource-label">{{localize "Ex3.ShowEscort"}}:</label>
            <input id="showEscort" name="showEscort" type="checkbox" {{checked showEscort}}>
        </div>
        <div class="mb-1">
            <label className="resource-label">{{localize "Ex3.MaxAnima"}}:</label>
            <select id="maxAnima" name="maxAnima" data-type="String">
                {{#select maxAnima}}
                <option value="3">{{localize "Ex3.Bonfire"}}</option>
                <option value="4">{{localize "Ex3.Transcendent"}}</option>
                {{/select}}
            </select>
        </div>
    </div>
</form>