<div>
    <p><b>Expression Bonus</b></p>
    <ul>
        <li>Expressing, supporting, or engaging a Major or Defining Intimacy in such a way that it reveals something
            about the character, develops the character’s personality, or provides a character moment that everyone at the
            table enjoys..</li>
        <li> Being significantly challenged, endangered, or harmed
            in the course of protecting or upholding a Major or Defining Intimacy</li>
        <li> Being significantly impeded, endangered, or harmed by a Flaw.</li>
    </ul>
</div>