<div class="exaltedthird">
  <form>
    <div>
      Copy and paste text from official Exalted 3e books to create FoundryVTT Actors/Items.  Some edits will need to be done to make the importer work.  Make sure the text fits the example format.
    </div>
    <div class="mb-2 mt-2">
      <input class="radio" id="charm-radio" type="radio" name="type" value="charm" data-dtype="String" value="{{type}}"
        {{#ifEquals type 'charm' }} checked {{/ifEquals}} />
      {{ localize "Ex3.Charm"}}
      <input class="radio" id="spell-radio" type="radio" name="type" value="spell" data-dtype="String" value="{{type}}"
        {{#ifEquals type 'spell' }} checked {{/ifEquals}} />
      {{ localize "Ex3.Spell"}}
      <input class="radio" id="adversary-radio" type="radio" name="type" value="adversary" data-dtype="String"
        value="{{type}}" {{#ifEquals type 'adversary' }} checked {{/ifEquals}} />
      {{ localize "Ex3.Adversary"}}
      <input class="radio" id="qc-radio" type="radio" name="type" value="qc" data-dtype="String" value="{{type}}"
        {{#ifEquals type 'qc' }} checked {{/ifEquals}} />
      {{ localize "Ex3.QuickCharacter"}}
    </div>
    {{#if showError}}
    {{#ifEquals type 'qc' }}
    <div class="mb-2" style="color:red;">
      Failed on section: {{errorSection}} 
    </div>
    {{/ifEquals}}
    {{#ifEquals type 'adversary' }}
    <div class="mb-2" style="color:red;">
      Failed on section: {{errorSection}} 
    </div>
    {{/ifEquals}}
    <div class="mb-2" style="color:red;">
      Failed on line text: {{error}} 
    </div>
    {{/if}}

    {{#ifEquals type 'charm'}}
    <div>
      <label class="resource-label">{{localize "Ex3.CharmType"}} </label>
      <select id="charmType" name="charmType" value="{{charmType}}" data-type="String">
          {{#select charmType}}
          <option value="abyssal">{{localize "Ex3.Abyssal"}}</option>
          <option value="alchemical">{{localize "Ex3.Alchemical"}}</option>
          <option value="architect">{{localize "Ex3.Architect"}}</option>
          <option value="dragonblooded">{{localize "Ex3.Dragonblooded"}}</option>
          <option value="dreamsouled">{{localize "Ex3.DreamSouled"}}</option>
          <option value="eclipse">{{localize "Ex3.Eclipse"}}</option>
          <option value="evocation">{{localize "Ex3.Evocation"}}</option>
          <option value="exigent">{{localize "Ex3.Exigent"}}</option>
          <option value="getimian">{{localize "Ex3.Getimian"}}</option>
          <option value="hearteater">{{localize "Ex3.Hearteater"}}</option>
          <option value="infernal">{{localize "Ex3.Infernal"}}</option>
          <option value="janest">{{localize "Ex3.Janest"}}</option>
          <option value="liminal">{{localize "Ex3.Liminal"}}</option>
          <option value="lunar">{{localize "Ex3.Lunar"}}</option>
          <option value="martialarts">{{localize "Ex3.MartialArts"}}</option>
          <option value="sidereal">{{localize "Ex3.Sidereal"}}</option>
          <option value="solar">{{localize "Ex3.Solar"}}</option>
          <option value="sovereign">{{localize "Ex3.Sovereign"}}</option>
          <option value="umbral">{{localize "Ex3.Umbral"}}</option>
          <option value="other">{{localize "Ex3.Other"}}</option>
          {{/select}}
      </select>
    </div>
    {{/ifEquals}}

    <label class="resource-label">{{ localize "Ex3.Template"}}</label>
    <textarea name="textBox" type="text" id="template-text" rows="40" placeholder='{{templateHint}}'>{{textBox}}</textarea>
    <button type="button" id="import-template">Import</button>
  </form>
</div>