<div>
    <p><b>Weapon Stats</b></p>
    <table>
        <tr style="text-align:center;">
            <th>Type</th>
            <th>Accuracy</th>
            <th>Damage</th>
            <th>Defense</th>
            <th>Overwhelming</th>
        </tr>
        <tr style="text-align:center;">
            <td>Light</td>
            <td>4</td>
            <td>7</td>
            <td>0</td>
            <td>1</td>
        </tr>
        <tr style="text-align:center;">
            <td>Medium</td>
            <td>2</td>
            <td>9</td>
            <td>1</td>
            <td>1</td>
        </tr>
        <tr style="text-align:center;">
            <td>Heavy</td>
            <td>0</td>
            <td>11</td>
            <td>-1</td>
            <td>1</td>
        </tr>
        <tr style="text-align:center;">
            <td>Artifact Light</td>
            <td>5</td>
            <td>10</td>
            <td>0</td>
            <td>3</td>
        </tr>
        <tr style="text-align:center;">
            <td>Artifact Medium</td>
            <td>3</td>
            <td>12</td>
            <td>1</td>
            <td>4</td>
        </tr>
        <tr style="text-align:center;">
            <td>Artifact Heavy</td>
            <td>1</td>
            <td>14</td>
            <td>0</td>
            <td>5</td>
        </tr>
    </table>
    <p><b>Ranged Accuracy</b></p>
    <table>
        <tr style="text-align:center;">
            <th>Type</th>
            <th>Accuracy (Short Ranged)</th>
        </tr>
        <tr style="text-align:center;">
            <td>Thrown</td>
            <td>3</td>
        </tr>
        <tr style="text-align:center;">
            <td>Ranged</td>
            <td>4</td>
        </tr>
        <tr style="text-align:center;">
            <td>Siege</td>
            <td>-3</td>
        </tr>
        <tr style="text-align:center;">
            <td>Artifact Thrown</td>
            <td>4</td>
        </tr>
        <tr style="text-align:center;">
            <td>Artifact Ranged</td>
            <td>5</td>
        </tr>
        <tr style="text-align:center;">
            <td>Artifact Siege</td>
            <td>-2</td>
        </tr>
    </table>

    <p><b>Tags</b></p>

    <p>
        <b>Balanced</b>: +1 Overwhelming.
    </p>
    <p>
        <b>Bashing</b>: Does bashing damage.
    </p>

    <p>
        <b>Binding</b>: Negates ranged penalties for the bind gambit, gains the grappling tag at close range.
    </p>

    <p>
        <b>Brawl</b>: Uses the "brawl" ability
    </p>

    <p>
        <b>Chopping</b>: Enables chopping attack. A chopping attack costs 1 initiative and reduces the wielders defense
        by 1 to increase raw damage by 3 or treat hardness by -2 on decisive attack.
    </p>
    <p>
        <b>Disarming</b>: Reduce difficulty of disarm gambit by 1.
    </p>
    <p>
        <b>Flexible</b>: Ignored full defense bonus.
    </p>
    <p>
        <b>Improvised</b>: Cost 1 initiative to use attacks.
    </p>
    <p>
        <b>Grappling</b>: Can be used while grappling.
    </p>
    <p>
        <b>Lethal</b>: Does lethal damage. Can do bashing with stunt.
    </p>
    <p>
        <b>Martial Arts</b>: Uses martial arts ability.
    </p>
    <p>
        <b>Melee</b>: Uses melee ability
    </p>
    <p>
        <b>Natural</b>: Cannot be disarmed. Does not need an action to ready.
    </p>
    <p>
        <b>Piercing</b>: Enables peircing attack, Piercing attacks cost 1 initative and lower wielders defense 1 until
        the end of his next turn and ignores 4 points of soak.
    </p>
    <p>
        <b>Reaching</b>: Negates mounted combat advantages.
    </p>
    <p>
        <b>Shield</b>: Can flurry a full defense (cannot flurry full defense and attacks), Does -2 damage.
    </p>
    <p>
        <b>Smashing</b>: Enbales smashing attacks, smashing attacks cost 2 initative and lower wielders defense by 1 to
        knock opponent back 1 range band or knock opponent prone.
    </p>
    <p>
        <b>Thrown</b>: Uses Thrown ability.
    </p>
    <p>
        <b>Two-Handed</b>: Gain +2 to clash attacks.
    </p>
    <p>
        <b>Worn</b>: While worn count as natural weapons.
    </p>

    <p>
        <b>Cutting</b>: Can cut ropes and other objects.
    </p>

    <p>
        <b>Poisonable</b>: Weapon can be poisoned
    </p>

    <p>
        <b>Mounted</b>: Can use this weapon on a horse or other steed.
    </p>

    <p>
        <b>Subtle</b>: Does no damage, can only poison
    </p>

    <p>
        <b>Ranged</b>
    </p>
    <p>
        <b>Archery</b>: Uses the Archery ability.
    </p>
    <p>
        <b>Bashing</b>: Does bashing damage.
    </p>
    <p>
        <b>Concealable</b>: Can make a difficulty 1 larceny roll to hide the weapon.
    </p>
    <p>
        <b>Crossbow</b>: Use +4 instead of Strength to calculate damage bonus.
    </p>
    <p>
        <b>Flame</b>: Cannot increase range with charms (unless they say they can). Use +4 instead of strength for
        damage, Have +0 instead of -2 at close range (artifact +1)
    </p>
    <p>
        <b>Lethal</b>: Does lethal damage. Can do bashing damage.
    </p>
    <p>
        <b>One-Handed</b>: Can be used 1 handed.
    </p>
    <p>
        <b>Powerful</b>: At close range, treat damage as heavy weapon.
    </p>
    <p>
        <b>Slow</b>: Must use an action to reload, can flurry this with an attack. Charms that give multiple attacks
        don't work unless they say so.
    </p>
    <p>
        <b>Special</b>: Has some unusual property.
    </p>
    <p>
        <b>Bombard (Siege Weapons)</b>: −4 penalty on attacks against enemies that aren’t battle groups or have
        Legendary Size, Add +4 dice on feats of demolition.
    </p>
</div>