<div>
    <p><b>Weapon Stats (Accuracy/Damage/Defense/Overwhelming)</b></p>
    <p>
        <b>Light</b>: +4/+7/+0/1
    </p>
    <p>
        <b>Medium</b>: +2/+9/+1/1
    </p>
    <p>
        <b>Heavy</b>: +0/+11/-1/1
    </p>

    <p>
        <b>Artifact Light</b>: +5/+10/+0/3
    </p>
    <p>
        <b>Artifact Medium</b>: +3/+12/+1/4
    </p>
    <p>
        <b>Artifact Heavy</b>: +1/+14/+0/5
    </p>

    <p><b>Ranged Accuracy (Short Range)</b></p>

    <p>
        <b>Thrown</b>: 3
    </p>

    <p>
        <b>Ranged</b>: 4
    </p>

    <p>
        <b>Siege</b>: -3
    </p>

    <p>
        <b>Artifact Thrown</b>: 4
    </p>

    <p>
        <b>Artifact Ranged</b>: 5
    </p>

    <p>
        <b>Artifact Siege</b>: -2
    </p>

    <p><b>Melee</b></p>

    <p>
        <b>Balanced</b>: +1 Overwhelming.
    </p>
    <p>
        <b>Bashing</b>: Does bashing damage.
    </p>

    <p>
        <b>Brawl</b>: Uses the "brawl" ability
    </p>

    <p>
        <b>Chopping</b>: Enables chopping attack. A chopping attack costs 1 initiative and reduces the wielders defense
        by 1 to increase raw damage by 3 or treat hardness by -2 on decisive attac.
    </p>
    <p>
        <b>Disarming</b>: Reduce difficulty of disarm gambit by 1.
    </p>
    <p>
        <b>Flexible</b>: Ignored full defense bonus.
    </p>
    <p>
        <b>Improvised</b>: Cost 1 initiative to use attacks.
    </p>
    <p>
        <b>Grappling</b>: Can be used while grappling.
    </p>
    <p>
        <b>Lethal</b>: Does lethal damage. Can do bashing with stunt.
    </p>
    <p>
        <b>Martial Arts</b>: Uses martial arts ability.
    </p>
    <p>
        <b>Melee</b>: Uses melee ability
    </p>
    <p>
        <b>Natural</b>: Cannot be disarmed. Does not need an action to ready.
    </p>
    <p>
        <b>Piercing</b>: Enables peircing attack, Piercing attacks cost 1 initative and lower wielders defense 1 until
        the end of his next turn and ignores 4 points of soak.
    </p>
    <p>
        <b>Reaching</b>: Negates mounted combat advantages.
    </p>
    <p>
        <b>Shield</b>: Can flurry a full defense (cannot flurry full defense and attacks), Does -2 damage.
    </p>
    <p>
        <b>Smashing</b>: Enbales smashing attacks, smashing attacks cost 2 initative and lower wielders defense by 1 to
        knock opponent back 1 range band or knock opponent prone.
    </p>
    <p>
        <b>Thrown</b>: Uses Thrown ability.
    </p>
    <p>
        <b>Two-Handed</b>: Gain +2 to clash attacks.
    </p>
    <p>
        <b>Worn</b>: While worn count as natural weapons.
    </p>

    <p>
        <b>Ranged</b>
    </p>
    <p>
        <b>Archery</b>: Uses the Archery ability.
    </p>
    <p>
        <b>Bashing</b>: Does bashing damage.
    </p>
    <p>
        <b>Concealable</b>: Can make a difficulty 1 larceny roll to hide the weapon.
    </p>
    <p>
        <b>Crossbow</b>: Use +4 instead of Strength to calculate damage bonus.
    </p>
    <p>
        <b>Flame</b>: Cannot increase range with charms (unless they say they can). Use +4 instead of strength for
        damage, Have +0 instead of -2 at close range (artifact +1)
    </p>
    <p>
        <b>Lethal</b>: Does lethal damage. Can do bashing damage.
    </p>
    <p>
        <b>One-Handed</b>: Can be used 1 handed.
    </p>
    <p>
        <b>Piercing</b>: Spend 1 initiative to ignore 4 points of armor soak.
    </p>
    <p>
        <b>Powerful</b>: At close range, treat damage as heavy weapon.
    </p>
    <p>
        <b>Slow</b>: Must use an action to reload, can flurry this with an attack.  Charms that give multiple attacks don't work unless they say so.
    </p>
    <p>
        <b>Special</b>: Has some unusual property.
    </p>
    <p>
        <b>Bombard (Siege Weapons)</b>: −4 penalty on attacks against enemies that aren’t battle groups or have Legendary Size,  Add +4 dice on feats of demolition.
    </p>
</div>