<div>
    <p><b>Sorcerous Workings</b></p>
    <p>
        Make an extended (Intelligence + Occult) roll, difficulty set by finesse, goal number set by ambition, base interval of one week.
    </p>
    <p>
        After completion of the project the sorcerer spends XP.  If a sorcerous working is destroyed or lost the sorcerer gains the XP back at the end of the story.
    </p>
    <table>
        <tr style="text-align:center;">
            <th>Ambition</th>
            <th>XP Cost</th>
        </tr>
        <tr style="text-align:center;">
            <td>One</td>
            <td>2xp</td>
        </tr>
        <tr style="text-align:center;">
            <td>Two</td>
            <td>4xp</td>
        </tr>
        <tr style="text-align:center;">
            <td>Three</td>
            <td>8xp</td>
        </tr>
    </table>
    <p><b>Ambition</b></p>
    <p>
        The power of the working.  Has 3 circles of power Terrestrial, Celestial, and Solar and ratings 1-3 in each.
    </p>
    <table>
        <tr style="text-align:center;">
            <th>Ambition</th>
            <th>Goal Number</th>
        </tr>
        <tr style="text-align:center;">
            <td>Terrestrial 1</td>
            <td>5</td>
        </tr>
        <tr style="text-align:center;">
            <td>Terrestrial 2</td>
            <td>10</td>
        </tr>
        <tr style="text-align:center;">
            <td>Terrestrial 3</td>
            <td>20</td>
        </tr>
        <tr style="text-align:center;">
            <td>Celestial 1</td>
            <td>25</td>
        </tr>
        <tr style="text-align:center;">
            <td>Celestial 2</td>
            <td>30</td>
        </tr>
        <tr style="text-align:center;">
            <td>Celestial 3</td>
            <td>35</td>
        </tr>
        <tr style="text-align:center;">
            <td>Solar 1</td>
            <td>40</td>
        </tr>
        <tr style="text-align:center;">
            <td>Solar 2</td>
            <td>50</td>
        </tr>
        <tr style="text-align:center;">
            <td>Solar 3</td>
            <td>75</td>
        </tr>
    </table>
    <p><b>Finesse</b></p>
    <p>
        Sets how much control the sorcerer has over how the working acomplishes its purpose.  Finesse sets the difficult of the roll 1, 3, or 5
    </p>
</div>