<section class="tab flex-center dice-roller-header {{tab.cssClass}} {{hideElement}}">
    <div class="dice-header-row">
        {{#ifEquals data.characterType 'character'}}
        <label class="resource-label">{{localize "Ex3.Attribute"}}</label>
        <select name="object.attribute" value="{{data.attribute}}" data-type="String">
            {{selectOptions selects.attributes selected=data.attribute localize=true}}
        </select>

        <label class="resource-label">{{localize "Ex3.Ability"}}</label>
        <select class="update-specialties" name="object.ability" value="{{data.ability}}" data-type="String">
            {{selectOptions rollableAbilities selected=data.ability localize=true}}
        </select>
        {{else}}
        {{#if data.showPool}}
        <label class="resource-label">{{localize "Ex3.Pool"}}</label>
        <select name="object.pool" value="{{data.pool}}" data-type="String">
            {{selectOptions rollablePools selected=data.pool localize=true}}
        </select>
        {{/if}}
        {{/ifEquals}}
    </div>
    {{#if isAttackRoll}}
    <div class="dice-header-row">
        {{#ifNotEquals data.attackType 'gambit'}}
        <label class="resource-label capitalize">{{localize "Ex3.RollingA"}} {{data.attackType}} {{localize "Ex3.AttackAt"}}</label>
        {{else}}
        <label class="resource-label capitalize">{{localize "Ex3.RollingA"}} {{data.attackType}} {{localize "Ex3.at"}}</label>
        {{/ifNotEquals}}
        <select name="object.range" value="{{data.range}}" data-type="String">
            {{selectOptions selects.ranges selected=data.range localize=true}}
        </select>
        <label class="resource-label">{{localize "Ex3.With"}}</label>
        <select name="object.weaponType" value="{{data.weaponType}}" data-type="String">
            {{selectOptions selects.weaponTypes selected=data.weaponType localize=true}}
        </select>
    </div>
    {{/if}}
    {{#ifEquals data.rollType 'working'}}
    <div class="dice-header-row">
        <label class="resource-label">{{localize "Ex3.CreatingAWorkingWith"}} {{localize "Ex3.Ambition"}}</label>
        <select id="working-ambition" name="object.ambition" value="{{data.ambition}}" data-type="String">
            {{selectOptions selects.craftAmbitionRatings selected=data.ambition localize=true}}
        </select>
        <label class="resource-label">and {{localize "Ex3.Finesse"}}</label>
        <select id="working-finesse" name="object.finesse" value="{{data.finesse}}" data-type="String">
            {{selectOptions selects.craftFinesseRatings selected=data.finesse localize=true}}
        </select>
    </div>
    {{/ifEquals}}
    {{#ifEquals data.rollType 'craft'}}
    <div class="dice-header-row">
        <label class="resource-label">Forging a</label>
        <select id="craft-type" name="object.craftType" value="{{data.craftType}}" data-type="String">
            {{selectOptions selects.craftTypes selected=data.craftType localize=true}}
        </select>
        <label class="resource-label">project</label>
        {{#ifEquals data.craftType 'superior'}}
        <label class="resource-label">with {{localize "Ex3.CraftRating"}}</label>
        <select id="craft-rating" name="object.craftRating" value="{{data.craftRating}}" data-type="String">
            {{selectOptions selects.craftRatings selected=data.craftRating localize=true}}
        </select>
        {{/ifEquals}}
    </div>
    {{/ifEquals}}
    {{#ifEquals data.rollType 'sorcery'}}
    <div class="dice-header-row">
        <label class="resource-label">{{localize "Ex3.ShapingSpell"}}</label>
        <select class="spell" name="object.spell" value="{{data.spell}}" data-type="String">
            {{selectOptions data.spells selected=data.spell localize=true}}
        </select>
    </div>
    {{/ifEquals}}
</section>