<section class="tab flex-center {{tab.cssClass}} {{hideElement}}" data-group="primary" data-tab="targets">
    {{#each data.targets as |target id|}}
    <div style="margin-bottom: 10px;">
        <div class="d-flex resource flex-center">
            <div class="mr-1"><img src="{{target.actor.img}}" title="{{target.actor.name}}" width="24" height="24" />
            </div>
            <div class="resource-label">{{target.actor.name}}</div>
        </div>
        <div class="resource grid grid-2col flex-center">
            <div>
                <div class="flex-center resource-label">
                    {{localize "Ex3.DiceModifier"}}
                </div>
                <input type="number" name="object.targets.{{id}}.rollData.diceModifier"
                    value="{{target.rollData.diceModifier}}">
            </div>
            <div>
                <div class="flex-center resource-label">
                    {{localize "Ex3.SuccessModifier"}}
                </div>
                <input type="number" name="object.targets.{{id}}.rollData.successModifier"
                    value="{{target.rollData.successModifier}}">
            </div>
            <div>
                <label class="resource-label">{{localize "Ex3.Defense"}}
                    ({{target.rollData.defenseType}})</label>
                <input type="number" name="object.targets.{{id}}.rollData.defense" value="{{target.rollData.defense}}">
            </div>
            {{#ifEquals ../data.attackType 'withering'}}
            <div>
                <div class="flex-center resource-label">
                    {{localize "Ex3.Soak"}} (AS: {{target.rollData.armoredSoak}},
                    NS:{{target.rollData.naturalSoak}})
                </div>
                <input type="number" name="object.targets.{{id}}.rollData.soak" value="{{target.rollData.soak}}">
            </div>
            {{#if ../data.useShieldInitiative}}
            <div>
                <div class="flex-center resource-label">
                    {{localize "Ex3.ShieldInitiative"}}
                </div>
                <input type="number" name="object.targets.{{id}}.rollData.shieldInitiative"
                    value="{{target.rollData.shieldInitiative}}">
            </div>
            {{/if}}
            {{/ifEquals}}
            {{#ifEquals ../data.attackType 'decisive'}}
            <div>
                <div class="flex-center resource-label">
                    {{localize "Ex3.Hardness"}}
                </div>
                <input type="number" name="object.targets.{{id}}.rollData.hardness"
                    value="{{target.rollData.hardness}}">
            </div>
            {{/ifEquals}}
            <div>
                <div class="flex-center resource-label">
                    {{localize "Ex3.DamageModifier"}}
                </div>
                <input type="number" name="object.targets.{{id}}.rollData.damageModifier"
                    value="{{target.rollData.damageModifier}}">
            </div>
            <div>
                <label class="resource-label">{{localize "Ex3.AttackSuccesses"}}</label>
                <input type="number" name="object.targets.{{id}}.rollData.attackSuccesses"
                    value="{{target.rollData.attackSuccesses}}">
            </div>
        </div>
    </div>
    {{/each}}
</section>