<div style="display: flex;flex-direction: column;justify-content: space-between;">
    <div class="sheet-body exaltedthird">
        {{#if data.addingCharms }}
        {{> systems/exaltedthird/templates/dialogues/add-roll-charm.html}}
        {{else}}
        {{> systems/exaltedthird/templates/dialogues/added-charm-list.html}}
        <div class="resource flex-center">
            <label class="resource-label">{{localize "Ex3.ManualBonuses"}}</label>
        </div>
        <div class="resource grid grid-2col" style="text-align:center">
            <div>
                <label class="resource-label">{{localize "Ex3.DiceModifier"}} ({{data.addOppose.addedBonus.dice}})</label>
                <input name="object.addOppose.manualBonus.dice" value="{{data.addOppose.manualBonus.dice}}" type="number">
            </div>
            <div>
                <label class="resource-label">{{localize "Ex3.SuccessModifier"}} ({{data.addOppose.addedBonus.successes}})</label>
                <input name="object.addOppose.manualBonus.successes" value="{{data.addOppose.manualBonus.successes}}" type="number">
            </div>
            <div>
                <label class="resource-label">{{localize "Ex3.Defense"}} ({{data.addOppose.addedBonus.defense}})</label>
                <input name="object.addOppose.manualBonus.defense" value="{{data.addOppose.manualBonus.defense}}" type="number">
                {{#if data.opposeCaps.parry.cap}}
                <div><b>{{localize "Ex3.Parry"}}:</b> {{data.opposeCaps.parry.cap}}</div>
                {{/if}}
                {{#if data.opposeCaps.evasion.cap}}
                <div><b>{{localize "Ex3.Evasion"}}:</b> {{data.opposeCaps.evasion.cap}}</div>
                {{/if}}
            </div>
            <div>
                <label class="resource-label">{{localize "Ex3.Damage"}} ({{data.addOppose.addedBonus.damage}})</label>
                <input name="object.addOppose.manualBonus.damage" value="{{data.addOppose.manualBonus.damage}}" type="number">
            </div>
            <div>
                <label class="resource-label">{{localize "Ex3.Soak"}} ({{data.addOppose.addedBonus.soak}})</label>
                <input name="object.addOppose.manualBonus.soak" value="{{data.addOppose.manualBonus.soak}}" type="number">
                <div>{{data.opposeCaps.soak.cap}}</div>
            </div>
            <div>
                <label class="resource-label">{{localize "Ex3.Hardness"}} ({{data.addOppose.addedBonus.hardness}})</label>
                <input name="object.addOppose.manualBonus.hardness" value="{{data.addOppose.manualBonus.hardness}}" type="number">
            </div>
            <div>
                <label class="resource-label">{{localize "Ex3.Resolve"}} ({{data.addOppose.addedBonus.resolve}})</label>
                <input name="object.addOppose.manualBonus.resolve" value="{{data.addOppose.manualBonus.resolve}}" type="number">
                <div>{{data.opposeCaps.resolve.cap}}</div>
            </div>
            <div>
                <label class="resource-label">{{localize "Ex3.Guile"}} ({{data.addOppose.addedBonus.guile}})</label>
                <input name="object.addOppose.manualBonus.guile" value="{{data.addOppose.manualBonus.guile}}" type="number">
                <div>{{data.opposeCaps.guile.cap}}</div>
            </div>
        </div>
        {{/if}}
    </div>
</div>