<section class="tab{{#if tab.active}} active{{/if}}" data-group="{{tab.group}}" data-tab="{{tab.id}}">
    <fieldset>
        {{formGroup fields.duration.fields.seconds.value value=source.duration.seconds.value rootId=rootId}}
        {{formGroup fields.start.fields.time value=source.start.time rootId=rootId}}
    </fieldset>

    <fieldset>
        <div class="form-group">
            <label>{{ localize "Ex3.EndTrigger" }}</label>
            <div class="form-fields">
                <select name="system.endtrigger" data-type="String">
                    {{selectOptions selects.endTriggers selected=source.system.endtrigger localize=true}}
                </select>
            </div>
        </div>
        <div class="form-group">
            <label>{{localize "Ex3.DurationTurns"}}</label>
            <div class="form-fields">
                <label for="{{rootId}}-duration.rounds.value">{{localize "EFFECT.FIELDS.duration.rounds.value.label"}}</label>
                {{formInput fields.duration.fields.rounds.value value=source.duration.rounds.value
                    id=(concat rootId "-duration.rounds.value")}}
                <label for="{{rootId}}-duration.turns.value">{{localize "EFFECT.FIELDS.duration.turns.value.label"}}</label>
                {{formInput fields.duration.fields.turns value=source.duration.turns.value
                    id=(concat rootId "-duration.turns.value")}}
            </div>
        </div>
        <div class="form-group">
            <label>{{localize "EFFECT.StartTurns"}}</label>
            <div class="form-fields">
                <label for="{{rootId}}-start.round">{{localize "EFFECT.FIELDS.start.round.label"}}</label>
                {{formInput fields.duratiostart.round value=source.start.round
                    id=(concat rootId "-start.round")}}
                <label for="{{rootId}}-start.turn">{{localize "EFFECT.FIELDS.start.turn.label"}}</label>
                {{formInput fields.start.fields.turn value=source.start.turn
                    id=(concat rootId "-start.turn")}}
            </div>
        </div>
    </fieldset>
</section>
