.d-flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.gap {
  gap: 10px;
}

.flex-col {
  flex-direction: column;
}

.flex-fill {
  flex: 1 0 auto;
}

.flex-center {
  align-items: center;
  justify-content: center;
  text-align: center;
}

.flex-start-center {
  display: flex;
  align-items: center;
}

.flex-between {
  justify-content: space-between;
}