<div class="resource-label list-section-header d-flex flex-between">
    <div>
        {{localize "Ex3.ActiveEffects"}}
    </div>
</div>
<ol class="items-list effects-list">
    {{#each effects as |section sid|}}
    <li class="item items-header flexrow" data-effect-type="{{section.type}}">
        <div class="item-name effect-name flexrow">{{localize section.label}}</div>
        <div class="effect-source">{{localize "Ex3.Source"}}</div>
        <div class="effect-source">{{localize "Ex3.Duration"}}</div>
        <div class="item-controls effect-controls flexrow">
            <a class="effect-control" data-action="create" title="{{localize 'Ex3.EffectCreate'}}">
                <i class="fas fa-plus"></i> {{localize "Ex3.Add"}}
            </a>
        </div>
    </li>

    <ol class="effects-list">
        {{#each section.effects as |effect|}}
        <li class="item effect flexrow" data-effect-id="{{effect.id}}">
            <!-- <div class="item-name effect-name flexrow"> -->
            <div class="item-image"><img class="list-item-image" src="{{effect.img}}" title="{{effect.name}}" width="24"
                    height="24" /></div>
            <!-- </div> -->
            <h4>{{effect.name}}</h4>

            <div class="effect-source">{{effect.sourceName}}</div>
            <div class="effect-duration">{{effect.duration.label}}</div>
            <div class="item-controls effect-controls flexrow">
                <a class="effect-control" data-action="toggle" title="{{localize 'Ex3.EffectToggle'}}">
                    <i class="fas {{#if effect.disabled}}fa-check{{else}}fa-times{{/if}}"></i>
                </a>
                <a class="effect-control" data-action="edit" title="{{localize 'Ex3.EffectEdit'}}">
                    <i class="fas fa-edit"></i>
                </a>
                <a class="effect-control" data-action="delete" title="{{localize 'Ex3.EffectDelete'}}">
                    <i class="fas fa-trash"></i>
                </a>
            </div>
        </li>
        {{/each}}
    </ol>
    {{/each}}
</ol>