<form class="{{cssClass}} flexcol character-sheet-background" autocomplete="off">

  {{!-- Sheet Header --}}
  <header class="sheet-header">
    <div class="profile-img-wrapper">
      <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100" />
      <div class="flex-center">
        <label class="resource-label">{{localize "Ex3.Essence"}}</label>
        <input type="number" name="system.essence.value" value="{{system.essence.value}}" data-dtype="Number" />
        <div>
          <a><i id="anima-down" class="fas fa-caret-down cursor-pointer"></i></a><label
            class="resource-label">{{localize
            "Ex3.Anima"}}</label><a><i id="anima-up" class="fas fa-caret-up cursor-pointer"></i></a>
          <div>{{system.anima.level}}</div>
        </div>
        {{#ifEquals system.details.exalt 'dragonblooded'}}
        <div>
          <div class="resource-label">{{localize "Ex3.Aura"}}</div>
          <select name="system.details.aura" data-type="String">
            {{#select system.details.aura}}
            <option value="none">{{localize "Ex3.None"}}</option>
            <option value="air">{{localize "Ex3.Air"}}</option>
            <option value="earth">{{localize "Ex3.Earth"}}</option>
            <option value="fire">{{localize "Ex3.Fire"}}</option>
            <option value="water">{{localize "Ex3.Water"}}</option>
            <option value="wood">{{localize "Ex3.Wood"}}</option>
            {{/select}}
          </select>
        </div>
        {{/ifEquals}}
      </div>
    </div>
    <div class="header-fields">
      <div>
        <h1 class="charname"><input name="name" type="text" value="{{actor.name}}"
            placeholder="{{localize 'Ex3.NameTitle'}}" /></h1>
      </div>
      <div class="grid grid-2col flexrow">
        <h1 class="charname"> <select name="system.details.exalt" data-type="String">
            {{#select system.details.exalt}}
            <option value="abyssal">{{localize "Ex3.Abyssal"}}</option>
            <option value="alchemical">{{localize "Ex3.Alchemical"}}</option>
            <option value="dragonblooded">{{localize "Ex3.Dragonblooded"}}</option>
            <option value="dreamsouled">{{localize "Ex3.DreamSouled"}}</option>
            <option value="exigent">{{localize "Ex3.Exigent"}}</option>
            <option value="getimian">{{localize "Ex3.Getimian"}}</option>
            <option value="hearteater">{{localize "Ex3.Hearteater"}}</option>
            <option value="infernal">{{localize "Ex3.Infernal"}}</option>
            <option value="liminal">{{localize "Ex3.Liminal"}}</option>
            <option value="lunar">{{localize "Ex3.Lunar"}}</option>
            <option value="mortal">{{localize "Ex3.Mortal"}}</option>
            <option value="sidereal">{{localize "Ex3.Sidereal"}}</option>
            <option value="solar">{{localize "Ex3.Solar"}}</option>
            <option value="umbral">{{localize "Ex3.Umbral"}}</option>
            <option value="other">{{localize "Ex3.Other"}}</option>
            {{/select}}
          </select></h1>
        {{#if availableCastes}}
        <h1 class="charname"> <select name="system.details.caste" data-type="String">
            {{#select system.details.caste}}
            {{#each availableCastes as |label caste|}}
            <option value="{{caste}}">{{localize label}}</option>
            {{/each}}
            <option value="">{{localize "Ex3.None"}}</option>
            {{/select}}
          </select></h1>
        {{else}}
        <h1 class="charname"><input name="system.details.caste" type="text" value="{{system.details.caste}}"
            placeholder="{{localize 'Ex3.CasteAspect'}}" /></h1>
        {{/if}}
      </div>
      {{> systems/exaltedthird/templates/actor/header-exalt-data.html}}
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="stats">{{localize "Ex3.Stats"}}</a>
    <a class="item" data-tab="combat">{{localize "Ex3.Combat"}}</a>
    <a class="item" data-tab="social">{{localize "Ex3.Social"}}</a>
    <a class="item" data-tab="charms">{{localize "Ex3.Charms"}}/{{localize "Ex3.Spells"}}</a>
    <a class="item" data-tab="effects">{{localize "Ex3.Effects"}}</a>
    <a class="item" data-tab="character">{{localize "Ex3.Character"}}</a>
    <a class="item" data-tab="description">{{localize "Ex3.Description"}}</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    <!-- Code for attribute and ability dots taken from foundry-V5

    MIT License

    Copyright (c) 2020 Ray Ji

    Permission is hereby granted, free of charge, to any person obtaining a copy
    of this software and associated documentation files (the "Software"), to deal
    in the Software without restriction, including without limitation the rights
    to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
    copies of the Software, and to permit persons to whom the Software is
    furnished to do so, subject to the following conditions:

    The above copyright notice and this permission notice shall be included in all
    copies or substantial portions of the Software.

    THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
    IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
    FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
    AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
    LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
    OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
    SOFTWARE. -->

    {{!-- Stats Tab --}}
    <div class="tab flex-center" data-group="primary" data-tab="stats">
      {{#if system.settings.editmode}}
      <div style="padding-top:10px;">
        <label class="resource-label">{{localize "Ex3.CharacterCreationModePrompt"}}</label>
      </div>
      <div style="padding-top:10px;">
        <label class="resource-label">{{localize "Ex3.BonusPoints"}}(Calculations Assume favored purchases with BP)
          <a><i class="fas fa-info-circle show-bonus-points cursor-pointer"></i></a></label>
      </div>
      <div style="padding-top:10px;">
        <label>{{system.charcreation.spent.bonuspoints}}/{{system.charcreation.available.bonuspoints}}</label>
      </div>
      {{/if}}
      <div style="padding-top:10px;">
        <label class="resource-label">{{localize "Ex3.Attributes"}}</label>
      </div>
      <div class="attributes grid grid-3col flex-group-center">
        {{#if system.settings.editmode}}
        <div>
          <div>
            <select name="system.charcreation.physical" data-type="String">
              {{#select system.charcreation.physical}}
              <option value="primary">{{localize "Ex3.Primary"}}</option>
              <option value="secondary">{{localize "Ex3.Secondary"}}</option>
              <option value="tertiary">{{localize "Ex3.Tertiary"}}</option>
              {{/select}}
            </select>
          </div>
        </div>
        <div>
          <div>
            <select name="system.charcreation.social" data-type="String">
              {{#select system.charcreation.social}}
              <option value="primary">{{localize "Ex3.Primary"}}</option>
              <option value="secondary">{{localize "Ex3.Secondary"}}</option>
              <option value="tertiary">{{localize "Ex3.Tertiary"}}</option>
              {{/select}}
            </select>
          </div>
        </div>
        <div>
          <div>
            <select name="system.charcreation.mental" data-type="String">
              {{#select system.charcreation.mental}}
              <option value="primary">{{localize "Ex3.Primary"}}</option>
              <option value="secondary">{{localize "Ex3.Secondary"}}</option>
              <option value="tertiary">{{localize "Ex3.Tertiary"}}</option>
              {{/select}}
            </select>
          </div>
        </div>
        {{/if}}
        {{#each system.attributes as |attribute key|}}
        <div class="attribute flexrow flex-center">
          <input class="attribute-checkbox" name="system.attributes.{{key}}.favored" type="checkbox" {{checked
            attribute.favored}}>
          <label for="system.attributes.{{key}}.value" class="resource-label resource-value"
            data-roll="{{attribute.value}}" data-label="{{attribute.name}}">{{localize attribute.name}}</label>
          {{#if ../system.settings.usedotsvalues}}
          <div class="resource-value" data-value="{{attribute.value}}" data-name="system.attributes.{{key}}.value">
            {{#numLoop 5}}
            <span class="resource-value-step" data-index="{{this}}"></span>
            {{/numLoop}}
            {{#if ../system.settings.usetenattributes}}
            <div></div>
            {{#numLoopCertainStart 5 5}}
            <span class="resource-value-step" data-index="{{this}}"></span>
            {{/numLoopCertainStart}}
            {{/if}}
          </div>
          {{else}}
          <input class="list-input" type="number" name="system.attributes.{{key}}.value" value="{{attribute.value}}"
            data-dtype="Number" />
          {{/if}}
        </div>
        {{/each}}
        {{#if system.settings.editmode}}
        <div>
          {{system.charcreation.spent.attributes.physical}}/{{system.charcreation.available.attributes.physical}}
        </div>
        <div>
          {{system.charcreation.spent.attributes.social}}/{{system.charcreation.available.attributes.social}}
        </div>
        <div>
          {{system.charcreation.spent.attributes.mental}}/{{system.charcreation.available.attributes.mental}}
        </div>
        {{/if}}
      </div>
      <label class="resource-label">{{localize "Ex3.Abilities"}}<a><i id="rollAbility"
            class="fas fa-dice-d10 cursor-pointer rollAbility" style="margin-left:5px;"></i></a></label>
      <div class="attributes grid grid-3col flex-group-center">
        {{#each system.abilities as |ability key|}}
        <div>
          <div class="ability flexrow flex-center">
            <input class="ability-checkbox" name="system.abilities.{{key}}.favored" type="checkbox" {{checked
              ability.favored}}>
            <label for="system.abilities.{{key}}.value" class="resource-label vrollable roll-ability"
              data-roll="{{ability.value}}" data-ability="{{key}}" data-label="{{ability.name}}">{{localize
              ability.name}}</label>
            {{#if ../system.settings.usedotsvalues}}
            <div class="resource-value" data-value="{{ability.value}}" data-name="system.abilities.{{key}}.value">
              {{#numLoop 5}}
              <span class="resource-value-step" data-index="{{this}}"></span>
              {{/numLoop}}
              {{#if ../system.settings.usetenabilities}}
              <div></div>
              {{#numLoopCertainStart 5 5}}
              <span class="resource-value-step" data-index="{{this}}"></span>
              {{/numLoopCertainStart}}
              {{/if}}
            </div>
            {{else}}
            <input class="list-input" type="number" name="system.abilities.{{key}}.value" value="{{ability.value}}"
              data-dtype="Number" />
            {{/if}}
          </div>
          {{#if ../system.settings.editmode}}
          <div class="flexrow flex-center">
            <label class="resource-label">{{localize "Ex3.Attribute"}}</label>
            <select name="system.abilities.{{key}}.prefattribute" value="{{ability.prefattribute}}" data-type="String">
              {{#select ability.prefattribute}}
              <option value="strength">{{localize "Ex3.Strength"}}</option>
              <option value="dexterity">{{localize "Ex3.Dexterity"}}</option>
              <option value="stamina">{{localize "Ex3.Stamina"}}</option>
              <option value="charisma">{{localize "Ex3.Charisma"}}</option>
              <option value="manipulation">{{localize "Ex3.Manipulation"}}</option>
              <option value="appearance">{{localize "Ex3.Appearance"}}</option>
              <option value="perception">{{localize "Ex3.Perception"}}</option>
              <option value="intelligence">{{localize "Ex3.Intelligence"}}</option>
              <option value="wits">{{localize "Ex3.Wits"}}</option>
              {{/select}}
            </select>
          </div>
          {{/if}}
        </div>
        {{/each}}
        {{#each actor.customabilities as |item id|}}
        <div class="item flexrow flex-center" data-item-id="{{item._id}}">
          <input class="item-favored" name="system.favored" type="checkbox" {{checked item.system.favored}}>
          <label class="resource-label roll-ma roll-hover" data-item-id="{{action._id}}">{{localize item.name}}</label>
          {{#if ../system.settings.usedotsvalues}}
          <div class="resource-value-static" data-value="{{item.system.points}}" data-name="items.{{item._id}}">
            {{#numLoop 5}}
            <span class="resource-value-static-step" data-index="{{this}}"></span>
            {{/numLoop}}
            {{#if ../system.settings.usetenabilities}}
            <div></div>
            {{#numLoopCertainStart 5 5}}
            <span class="resource-value-static-step" data-index="{{this}}"></span>
            {{/numLoopCertainStart}}
            {{/if}}
          </div>
          {{else}}
          <input class="list-ability list-input" type="number" name="item.system.points" value="{{item.system.points}}"
            data-dtype="Number" />
          {{/if}}
        </div>
        {{/each}}
      </div>
      {{#if system.settings.editmode}}
      <div style="margin-bottom:10px;">
        <label class="resource-label">{{localize "Ex3.AdditionalAbilities"}}<a class="item-create"
          title="Create customability" data-type="customability"><i class="fas fa-plus cursor-pointer"
            style="margin-left:5px;"></i></a></label>
      <div class="attributes grid grid-3col flex-group-center">
        {{#each actor.customabilities as |item id|}}
        <div class="item flexrow flex-center" data-item-id="{{item._id}}">
          <div class="item-controls ability-item-edit">
            <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i> </a>
            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
          </div>
          <label class="resource-label roll-ma roll-hover" data-item-id="{{action._id}}">{{localize item.name}}</label>
          {{#if ../system.settings.usedotsvalues}}
          <div class="resource-value-static" data-value="{{item.system.points}}" data-name="items.{{item._id}}">
            {{#numLoop 5}}
            <span class="resource-value-static-step" data-index="{{this}}"></span>
            {{/numLoop}}
            {{#if ../system.settings.usetenabilities}}
            <div></div>
            {{#numLoopCertainStart 5 5}}
            <span class="resource-value-static-step" data-index="{{this}}"></span>
            {{/numLoopCertainStart}}
            {{/if}}
          </div>
          {{else}}
          <input class="list-ability list-input" type="number" name="item.system.points" value="{{item.system.points}}"
            data-dtype="Number" />
          {{/if}}
        </div>
        {{/each}}
      </div>
      {{localize "Ex3.Abilities"}}: {{system.charcreation.spent.abilities}}/{{system.charcreation.available.abilities}}
        ({{system.charcreation.spent.abovethree}} above 3)
      </div>
      {{/if}}
      <label class="resource-label">{{localize "Ex3.Specialties"}}<a class="item-create" title="Create specialty"
          data-type="specialty"><i class="fas fa-plus cursor-pointer" style="margin-left:5px;"></i></a></label>
      <div class="attributes grid grid-3col flex-group-center">
        {{#each actor.specialties as |item id|}}
        <div class="item flexrow flex-center" data-item-id="{{item._id}}">
          <div class="item-controls ability-item-edit">
            <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i> </a>
            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
          </div>
          <label class="resource-label">{{localize item.name}} ({{item.system.ability}})</label>
        </div>
        {{/each}}
      </div>
      {{#if system.settings.editmode}}
      <div style="margin-bottom:10px;">
        Specialties: {{system.charcreation.spent.specialties}}/{{system.charcreation.available.specialties}}
      </div>
      {{/if}}
    </div>

    {{!-- Combat Tab --}}
    <div class="tab flex-center" data-group="primary" data-tab="combat">
      {{> systems/exaltedthird/templates/actor/combat-tab.html}}
    </div>


    {{!-- Charms Tab --}}
    <div class="tab items" data-group="primary" data-tab="charms">
      <ol class="items-list">
        {{#if system.settings.showanima}}
        <li>
          <div class="resource-label list-section-header mb-2">
            {{localize "Ex3.Anima"}}
          </div>
        </li>
        <li>
          <textarea type="text" name="system.anima.passive" rows="4">{{system.anima.passive}}</textarea>
        </li>
        <li>
          <textarea type="text" name="system.anima.active" rows="4">{{system.anima.active}}</textarea>
        </li>
        <li>
          <textarea type="text" name="system.anima.iconic" rows="4">{{system.anima.iconic}}</textarea>
        </li>
        {{/if}}
        {{#if system.settings.editmode}}
        <div class="flex-center" style="margin-bottom:10px;">
          {{localize "Ex3.Charms"}}: {{system.charcreation.spent.charms}}/{{system.charcreation.available.charms}}
          {{#ifEquals system.details.exalt 'dragonblooded'}}(5 are excellencies){{/ifEquals}}
        </div>
        {{/if}}
        {{> systems/exaltedthird/templates/actor/charm-list.html}}
      </ol>
    </div>

    <div class="tab effects" data-group="primary" data-tab="effects">
      {{> systems/exaltedthird/templates/actor/effects-tab.html}}
    </div>

    {{!-- Intimacy Tab --}}
    <div class="tab social" data-group="primary" data-tab="social">
      {{> systems/exaltedthird/templates/actor/social-tab.html}}
      {{#if system.settings.editmode}}
      <div class="flex-center">
        {{localize "Ex3.Intimacies"}}:
        {{system.charcreation.spent.intimacies}}/{{system.charcreation.available.intimacies}} (Must have 1 defining, 1
        major, 1 minor, 1 negative tie)
      </div>
      {{/if}}

    </div>

    {{!-- Character Tab --}}
    <div class="tab character" data-group="primary" data-tab="character">
      <ol class="items-list">
        <div class="resource-content flexrow flex-center flex-between">
          <label class="resource-label">{{localize "Ex3.Advancement"}} <a><i
                class="fas fa-info-circle show-advancement cursor-pointer"></i></a> </label>
        </div>
        <div class="grid grid-2col flex-group-center">
          <div class="resource-content flexrow flex-center flex-between">
            <div>
              <label class="resource-label">{{localize "Ex3.Personal"}} XP ({{system.experience.standard.spent}}
                Spent)</label>
              <div class="resource-content flexrow flex-center flex-between">
                <input name="system.experience.standard.value" value="{{system.experience.standard.value}}" type="text"
                  placeholder="Remaining" />
                /
                <input name="system.experience.standard.total" value="{{system.experience.standard.total}}" type="text"
                  placeholder="Earned" />
              </div>
            </div>
          </div>
          <div class="resource-content flexrow flex-center flex-between">
            <div>
              <label class="resource-label">{{localize "Ex3.Exalt"}} XP ({{system.experience.exalt.spent}}
                Spent)
                <!-- <a><i class="fas fa-info-circle exalt-xp cursor-pointer"></i></a></label> -->
                <div class="resource-content flexrow flex-center flex-between">
                  <input name="system.experience.exalt.value" value="{{system.experience.exalt.value}}" type="text"
                    placeholder="Remaining" />
                  /
                  <input name="system.experience.exalt.total" value="{{system.experience.exalt.total}}" type="text"
                    placeholder="Earned" />
                </div>
            </div>
          </div>
        </div>
        {{#if system.settings.iscrafter}}
        <div class="flex-center">
          <label class="resource-label">{{localize "Ex3.Craft"}} <a><i
                class="fas fa-info-circle show-craft cursor-pointer"></i></a></label>
          <div class="grid grid-4col flex-group-center">
            <div>
              <button class="roll-button craft-project" data-type="basic"><i class="fas fa-hammer"></i>{{localize
                "Ex3.Basic"}}</button>
            </div>
            <div>
              <button class="roll-button craft-project" data-type="major"><i class="fas fa-hammer"></i>{{localize
                "Ex3.Major"}}</button>
            </div>
            <div>
              <button class="roll-button craft-project" data-type="superior"><i class="fas fa-hammer"></i>{{localize
                "Ex3.Superior"}}</button>
            </div>
            <div>
              <button class="roll-button craft-project" data-type="legendary"><i class="fas fa-hammer"></i>{{localize
                "Ex3.Legendary"}}</button>
            </div>
          </div>
          <div class="grid grid-3col flex-group-center">
            <div>
              <label class="resource-label">{{localize "Ex3.SilverXP"}}</label>
              <input type="number" name="system.craft.experience.silver.value"
                value="{{system.craft.experience.silver.value}}" data-dtype="Number" />
            </div>
            <div>
              <label class="resource-label">{{localize "Ex3.GoldXP"}}</label>
              <input type="number" name="system.craft.experience.gold.value"
                value="{{system.craft.experience.gold.value}}" data-dtype="Number" />
            </div>
            <div>
              <label class="resource-label">{{localize "Ex3.WhiteXP"}}</label>
              <input type="number" name="system.craft.experience.white.value"
                value="{{system.craft.experience.white.value}}" data-dtype="Number" />
            </div>
            <div>
              <label class="resource-label">{{localize "Ex3.Major"}}</label>
              <div class="resource-content flexrow flex-center flex-between">
                <input name="system.craft.slots.major.value" value="{{system.craft.slots.major.value}}" type="text"
                  placeholder="Available" />
                /
                <input name="system.craft.slots.major.total" value="{{system.craft.slots.major.total}}" type="text"
                  placeholder="Total" />
              </div>
            </div>
            <div>
              <label class="resource-label">{{localize "Ex3.Superior"}}</label>
              <div class="resource-content flexrow flex-center flex-between">
                <input name="system.craft.slots.superior.value" value="{{system.craft.slots.superior.value}}"
                  type="text" placeholder="Available" />
                /
                <input name="system.craft.slots.superior.total" value="{{system.craft.slots.superior.total}}"
                  type="text" placeholder="Total" />
              </div>
            </div>
            <div>
              <label class="resource-label">{{localize "Ex3.Legendary"}}</label>
              <div class="resource-content flexrow flex-center flex-between">
                <input name="system.craft.slots.legendary.value" value="{{system.craft.slots.legendary.value}}"
                  type="text" placeholder="Available" />
                /
                <input name="system.craft.slots.legendary.total" value="{{system.craft.slots.legendary.total}}"
                  type="text" placeholder="Total" />
              </div>
            </div>
          </div>
        </div>
        <div class="resource-label list-section-header d-flex flex-between">
          <div>
            {{localize "Ex3.CraftProjects"}}
          </div>
          <a class="item-control item-create" title="Create craftproject" data-type="craftproject"><i
              class="fas fa-plus"></i>Add project</a>
        </div>
        {{#each actor.projects as |item id|}}
        <li class="item flexrow item-row" data-item-id="{{item._id}}">
          <div class="item-image"><img class="list-item-image" src="{{item.img}}" title="{{item.name}}" width="24"
              height="24" /></div>
          <h4 class="item-name">{{item.name}}</h4>
          <div class="item-controls">
            <a class="item-control item-complete" title="Complete Item"><i class="fas fa-hammer"></i></a>
            <a class="item-control item-chat" title="Chat Item"><i class="fas fa-comment"></i></a>
            <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
          </div>
        </li>
        <li>
          <div>
            {{{enrichedHTMLItems ../this "description" item._id}}}
          </div>
        </li>
        {{/each}}
        {{/if}}
        {{#ifEquals system.details.exalt 'sidereal'}}
        <div class="resource-label list-section-header d-flex flex-between">
          <div>
            {{localize "Ex3.ResplendentDestinies"}}
          </div>
          <a class="item-control item-create" title="Create destiny" data-type="destiny"><i class="fas fa-plus"></i>Add
            destiny</a>
        </div>
        {{#each actor.destinies as |item id|}}
        <li class="item flexrow item-row" data-item-id="{{item._id}}">
          <div class="item-image"><img class="list-item-image" src="{{item.img}}" title="{{item.name}}" width="24"
              height="24" /></div>
          <h4 class="item-name">{{item.name}}</h4>
          <div class="item-controls">
            <a class="item-control item-chat" title="Chat Item"><i class="fas fa-comment"></i></a>
            <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
          </div>
        </li>
        <li>
          <div>
            {{{enrichedHTMLItems ../this "description" item._id}}}
          </div>
        </li>
        {{/each}}
        <div>
          <b>{{localize "Ex3.Charms"}}:</b> {{localize "Ex3.Journeys"}}: {{system.maidencharms.journeys}}, {{localize
          "Ex3.Serenity"}}:
          {{system.maidencharms.serenity}}, {{localize "Ex3.Battles"}}: {{system.maidencharms.battles}}, {{localize
          "Ex3.Secrets"}}: {{system.maidencharms.secrets}}, {{localize "Ex3.Endings"}}: {{system.maidencharms.endings}}
        </div>
        {{/ifEquals}}
        <li>
          <label class="resource-label">{{localize "Ex3.LimitTrigger"}}</label>
          <input type="text" name="system.limit.trigger" value="{{system.limit.trigger}}" />
        </li>
        {{#ifEquals system.details.exalt 'abyssal'}}
        <div>
          <label class="resource-label">{{localize "Ex3.Cthonic"}}</label>
          <input type="text" name="system.details.cthonic" value="{{system.details.cthonic}}" />
        </div>
        {{/ifEquals}}
        {{#ifEquals system.details.exalt 'solar'}}
        <div>
          <label class="resource-label">{{localize "Ex3.Supernal"}}</label>
          <input type="text" name="system.details.supernal" value="{{system.details.supernal}}" />
        </div>
        {{/ifEquals}}
        {{#ifEquals system.details.exalt 'lunar'}}
        <div class="grid grid-2col flexrow">
          <div>
            <label class="resource-label">{{localize "Ex3.Tell"}}</label>
            <input type="text" name="system.details.tell" value="{{system.details.tell}}" />
          </div>
          <div>
            <label class="resource-label">{{localize "Ex3.SpiritShape"}}</label>
            <input type="text" name="system.details.spiritshape" value="{{system.details.spiritshape}}" />
          </div>
        </div>
        {{/ifEquals}}
        {{#ifEquals system.details.exalt 'sidereal'}}
        <div class="grid grid-2col flexrow">
          <div>
            <label class="resource-label">{{localize "Ex3.BirthSign"}}</label>
            <input type="text" name="system.details.birthsign" value="{{system.details.birthsign}}" />
          </div>
          <div>
            <label class="resource-label">{{localize "Ex3.ExaltationSign"}}</label>
            <input type="text" name="system.details.exaltsign" value="{{system.details.exaltsign}}" />
          </div>
        </div>
        {{/ifEquals}}
        {{#ifEquals system.details.exalt 'umbral'}}
        <div>
          <label class="resource-label">{{localize "Ex3.Penumbra"}}</label>
          <input type="number" name="system.details.penumbra.value" value="{{system.details.penumbra.value}}" />
        </div>
        {{/ifEquals}} {{#ifEquals system.details.exalt 'dreamsouled'}}
        <li>
          <label class="resource-label">{{localize "Ex3.Ideal"}}</label>
          <input type="text" name="system.details.ideal" value="{{system.details.ideal}}" />
        </li>
        {{/ifEquals}}
        <div>
          <div class="check-button">
            <label class="resource-label">{{localize "Ex3.LegendarySize"}}:</label>
            <input data-dtype="Boolean" name="system.legendarysize" type="checkbox" {{checked system.legendarysize}}>
          </div>
        </div>
        <!-- <div class="grid flex-group-center">
          <button id="import-stuff">Import</button>
        </div> -->
        <div class="mt-1">
          <label class="resource-label">{{localize "Ex3.Resonance"}} {{#if system.settings.editmode}} <a><i
                class="fas fa-calculator calculate-resonance cursor-pointer" title="Auto Set Resonance/Dissonance"
                style="margin-left:3px;"></i></a>{{/if}}</label>
          <a class="trait-selector" data-options="resonance" data-target="system.traits.resonance">
            <i class="fas fa-edit"></i>
          </a>
          <div class="mt-1">
            {{#each system.traits.resonance.selected as |v k|}}
            <li class="tag {{k}}">{{v}}</li>
            {{/each}}
          </div>
        </div>
        <div class="mt-1">
          <label class="resource-label">{{localize "Ex3.Dissonance"}}</label>
          <a class="trait-selector" data-options="dissonance" data-target="system.traits.dissonance">
            <i class="fas fa-edit"></i>
          </a>
          <div class="mt-1">
            {{#each system.traits.dissonance.selected as |v k|}}
            <li class="tag {{k}}">{{v}}</li>
            {{/each}}
          </div>
        </div>
        <div class="mt-1">
          <label class="resource-label">{{localize "Ex3.Languages"}}</label>
          <a class="trait-selector" data-options="languages" data-target="system.traits.languages">
            <i class="fas fa-edit"></i>
          </a>
          <div class="mt-1">
            {{#each system.traits.languages.selected as |v k|}}
            <li class="tag {{k}}">{{v}}</li>
            {{/each}}
          </div>
        </div>
        {{#if system.settings.issorcerer}}
        <div class="resource-label list-section-header d-flex flex-between">
          <div>
            {{localize "Ex3.Initiations"}}
          </div>
          <a class="item-control item-create" title="Create initiation" data-type="initiation"><i
              class="fas fa-plus"></i>Add Initiation</a>
        </div>
        {{#each actor.initiations as |item id|}}
        <li class="item flexrow item-row" data-item-id="{{item._id}}">
          <div class="item-image"><img class="list-item-image" src="{{item.img}}" title="{{item.name}}" width="24"
              height="24" /></div>
          <h4 class="item-name">{{item.name}}</h4>
          <div class="item-controls">
            <a class="item-control item-chat" title="Chat Item"><i class="fas fa-comment"></i></a>
            <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
          </div>
        </li>
        <li class="item-description">
          <div>
            {{{enrichedHTMLItems ../this "description" item._id}}}
          </div>
        </li>
        {{/each}}
        {{/if}}
        <div class="resource-label list-section-header d-flex flex-between">
          <div>
            {{localize "Ex3.Merits"}}
          </div>
          <a class="item-control item-create" title="Create merit" data-type="merit"><i class="fas fa-plus"></i>Add
            Merit</a>
        </div>
        {{#each actor.merits as |item id|}}
        <li class="item flexrow item-row" data-item-id="{{item._id}}">
          <div class="item-image"><img class="list-item-image" src="{{item.img}}" title="{{item.name}}" width="24"
              height="24" /></div>
          <h4 class="item-name">{{item.name}}</h4>
          <div class="resource-value-static" data-value="{{item.system.points}}" data-name="items.{{item._id}}">
            {{#numLoop 5}}
            <span class="resource-value-static-step" data-index="{{this}}"></span>
            {{/numLoop}}
          </div>
          <div class="item-controls">
            <a class="item-control item-chat" title="Chat Item"><i class="fas fa-comment"></i></a>
            <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
          </div>
        </li>
        <li class="item-description">
          <div>
            {{{enrichedHTMLItems ../this "description" item._id}}}
          </div>
        </li>
        {{/each}}
        {{#if system.settings.editmode}}
        <div class="flex-center" style="margin-bottom:10px;">
          Merits: {{system.charcreation.spent.merits}}/{{system.charcreation.available.merits}} {{#ifEquals
          system.details.exalt 'dragonblooded'}}(5 from background){{/ifEquals}}
        </div>
        {{/if}}
      </ol>
    </div>

    {{!-- Biography Tab --}}
    <div class="tab biography" data-group="primary" data-tab="description">
      {{> systems/exaltedthird/templates/actor/biography-tab.html}}
    </div>

  </section>
</form>