<form class="{{cssClass}} flexcol character-sheet-background" autocomplete="off">

  {{!-- Sheet Header --}}
  <header class="sheet-header">
    <div class="profile-img-wrapper">
      <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100" />
      <div class="flex-center">
        <label class="resource-label">{{localize "Ex3.Essence"}}</label>
        <input type="number" name="system.essence.value" value="{{system.essence.value}}" data-dtype="Number" />
        <div>
          <a><i id="anima-down" class="fas fa-caret-down cursor-pointer"></i></a><label
            class="resource-label">{{localize
            "Ex3.Anima"}}</label><a><i id="anima-up" class="fas fa-caret-up cursor-pointer"></i></a>
          <div>{{system.anima.level}}</div>
        </div>
        <!-- <button class="test-button test"><i class="fas fa-hammer"></i>{{localize
          "Ex3.Test"}}</button> -->
        {{#if system.settings.hasaura}}
        <div>
          <div class="resource-label">{{localize "Ex3.Aura"}}</div>
          <select name="system.details.aura" data-type="String">
            {{selectOptions selects.elements selected=system.details.aura localize=true}}
          </select>
        </div>
        {{/if}}
      </div>
    </div>
    <div class="header-fields">
      <div>
        <h1 class="charname"><input name="name" type="text" value="{{actor.name}}"
            placeholder="{{localize 'Ex3.NameTitle'}}" /></h1>
      </div>
      <div class="grid grid-2col flexrow">
        <h1 class="charname"> <select name="system.details.exalt" data-type="String">
            {{selectOptions selects.exaltTypes selected=system.details.exalt localize=true}}
          </select></h1>
        {{#if availableCastes}}
        <h1 class="charname"> <select name="system.details.caste" data-type="String">
            {{selectOptions availableCastes selected=system.details.caste localize=true}}
          </select></h1>
        {{else}}
        <h1 class="charname"><input name="system.details.caste" type="text" value="{{system.details.caste}}"
            placeholder="{{localize 'Ex3.CasteAspect'}}" /></h1>
        {{/if}}
      </div>
      {{> systems/exaltedthird/templates/actor/header-exalt-data.html}}
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="stats">{{localize "Ex3.Stats"}}</a>
    <a class="item" data-tab="combat">{{localize "Ex3.Combat"}}</a>
    <a class="item" data-tab="social">{{localize "Ex3.Social"}}</a>
    <a class="item" data-tab="charms">{{localize "Ex3.Charms"}}/{{localize "Ex3.Spells"}}</a>
    <a class="item" data-tab="effects">{{localize "Ex3.Effects"}}</a>
    <a class="item" data-tab="character">{{localize "Ex3.Character"}}</a>
    <a class="item" data-tab="description">{{localize "Ex3.Description"}}</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    <!-- Code for attribute and ability dots taken from foundry-V5

    MIT License

    Copyright (c) 2020 Ray Ji

    Permission is hereby granted, free of charge, to any person obtaining a copy
    of this software and associated documentation files (the "Software"), to deal
    in the Software without restriction, including without limitation the rights
    to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
    copies of the Software, and to permit persons to whom the Software is
    furnished to do so, subject to the following conditions:

    The above copyright notice and this permission notice shall be included in all
    copies or substantial portions of the Software.

    THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
    IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
    FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
    AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
    LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
    OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
    SOFTWARE. -->

    {{!-- Stats Tab --}}
    <div class="tab flex-center" data-group="primary" data-tab="stats">
      {{#if system.settings.editmode}}
      <div style="padding-top:10px;">
        <label class="resource-label">{{localize "Ex3.CharacterCreationModePrompt"}}</label>
      </div>
      {{#if unifiedCharacterCreation}}
      <div style="padding-top:10px;">
        <label class="resource-label">{{localize "Ex3.Experience"}}
          <a><i class="fas fa-info-circle show-experience cursor-pointer"></i></a></label>
      </div>
      <div style="padding-top:10px;">
        <label>{{system.charcreation.spent.experience}}/{{system.charcreation.available.experience}}</label>
      </div>
      {{else}}
      <div style="padding-top:10px;">
        <label class="resource-label">{{localize "Ex3.BonusPoints"}}
          <a><i class="fas fa-info-circle show-bonus-points cursor-pointer"></i></a></label>
      </div>
      <div style="padding-top:10px;">
        <label>{{system.charcreation.spent.bonuspoints}}/{{system.charcreation.available.bonuspoints}}</label>
      </div>
      {{/if}}
      {{/if}}
      <div style="padding-top:10px;">
        <label class="resource-label">{{localize "Ex3.Attributes"}}</label>
      </div>
      <div class="attributes grid grid-3col flex-group-center">
        {{#if system.settings.editmode}}
        <div>
          <div>
            <select name="system.charcreation.physical" data-type="String">
              {{selectOptions selects.attributePriority selected=system.charcreation.physical localize=true}}
            </select>
          </div>
        </div>
        <div>
          <div>
            <select name="system.charcreation.social" data-type="String">
              {{selectOptions selects.attributePriority selected=system.charcreation.social localize=true}}

            </select>
          </div>
        </div>
        <div>
          <div>
            <select name="system.charcreation.mental" data-type="String">
              {{selectOptions selects.attributePriority selected=system.charcreation.mental localize=true}}
            </select>
          </div>
        </div>
        {{/if}}
        {{#each system.attributes as |attribute key|}}
        <div {{#if ../system.settings.editmode}}style="border: 1px solid black" {{/if}}>
          <div class="attribute flexrow flex-center">
            <input class="attribute-checkbox" name="system.attributes.{{key}}.favored" type="checkbox" {{checked
              attribute.favored}}>
            <label for="system.attributes.{{key}}.value" class="resource-label" data-roll="{{attribute.value}}"
              data-label="{{attribute.name}}" style="text-align:start;">{{localize attribute.name}}{{#if
              ../system.settings.editmode}}{{#if attribute.caste}}*{{/if}}{{/if}}</label>
            {{#if ../system.settings.usedotsvalues}}
            <div class="resource-value" data-value="{{attribute.value}}" data-name="system.attributes.{{key}}.value">
              {{#numLoop 5}}
              <span class="resource-value-step" data-index="{{this}}"></span>
              {{/numLoop}}
              {{#if ../system.settings.usetenattributes}}
              <div></div>
              {{#numLoopCertainStart 5 5}}
              <span class="resource-value-step" data-index="{{this}}"></span>
              {{/numLoopCertainStart}}
              {{/if}}
              {{#ifEquals ../system.details.exalt 'alchemical'}}
              {{#if ../system.settings.editmode}}
              {{else}}
              <div></div>
              {{#numLoop attribute.upgrade}}
              <img class="borderless-image" src="systems/exaltedthird/assets/icons/upgrade-gear.svg" height="20" width="20" />              
              {{/numLoop}}
              {{/if}}
              {{/ifEquals}}
            </div>
            {{else}}
            <input class="list-input" type="number" name="system.attributes.{{key}}.value" value="{{attribute.value}}"
              data-dtype="Number" />
            {{/if}}
          </div>
          {{#if ../system.settings.editmode}}
          {{#if attribute.nextDotCost}}
          <div>
            <b>{{localize "Ex3.NextDot"}}: </b>{{attribute.nextDotCost}} XP
          </div>
          {{else}}
          {{localize "Ex3.MaxedOut"}}
          {{/if}}
          <div class="flexrow flex-center">
            <label class="resource-label">{{localize "Ex3.HasExcellency"}}</label>
            <input name="system.attributes.{{key}}.excellency" type="checkbox" {{checked attribute.excellency}}>
          </div>
          {{#ifEquals ../system.details.exalt 'alchemical'}}
          <div class="flexrow flex-center">
            <label class="resource-label">{{localize "Ex3.Upgrade"}}</label>
            <input class="list-input" type="number" name="system.attributes.{{key}}.upgrade" value="{{attribute.upgrade}}"
            data-dtype="Number" />
          </div>
          {{/ifEquals}}
          {{/if}}
        </div>
        {{/each}}
        {{#if system.settings.editmode}}
        <div>
          {{system.charcreation.spent.attributes.physical}}/{{system.charcreation.available.attributes.physical}}
        </div>
        <div>
          {{system.charcreation.spent.attributes.social}}/{{system.charcreation.available.attributes.social}}
        </div>
        <div>
          {{system.charcreation.spent.attributes.mental}}/{{system.charcreation.available.attributes.mental}}
        </div>
        {{/if}}
      </div>
      <label class="resource-label">{{localize "Ex3.Abilities"}}<a><i id="rollAbility"
            class="fas fa-dice-d10 cursor-pointer rollAbility" style="margin-left:5px;"></i></a></label>
      <div class="attributes grid grid-3col flex-group-center">
        {{#each system.abilities as |ability key|}}
        <div {{#if ../system.settings.editmode}}style="border: 1px solid black" {{/if}}>
          <div class="ability flexrow flex-center">
            <input class="ability-checkbox" name="system.abilities.{{key}}.favored" type="checkbox" {{checked
              ability.favored}}>
            <label for="system.abilities.{{key}}.value" class="resource-label vrollable roll-ability"
              data-roll="{{ability.value}}" data-ability="{{key}}" data-label="{{ability.name}}"
              style="text-align:start;">
              {{#ifEquals ../system.details.exalt 'sidereal'}}
              {{#if ../system.settings.showmaidens}}
              {{#if ability.maiden}}
              <img class="borderless-image" src="systems/exaltedthird/assets/caste-marks/{{ability.maiden}}.png"
                title="{{ability.maiden}}" height="14" width="14" />
              {{else}}
              <img class="borderless-image" src="" height="14" width="14" />
              {{/if}}
              {{/if}}
              {{/ifEquals}}
              {{localize
              ability.name}}{{#if ../system.settings.editmode}}{{#if ability.caste}}*{{/if}}{{/if}}
            </label>
            {{#if ../system.settings.usedotsvalues}}
            <div class="resource-value" data-value="{{ability.value}}" data-name="system.abilities.{{key}}.value">
              {{#numLoop 5}}
              <span class="resource-value-step" data-index="{{this}}"></span>
              {{/numLoop}}
              {{#if ../system.settings.usetenabilities}}
              <div></div>
              {{#numLoopCertainStart 5 5}}
              <span class="resource-value-step" data-index="{{this}}"></span>
              {{/numLoopCertainStart}}
              {{/if}}
            </div>
            {{else}}
            <input class="list-input" type="number" name="system.abilities.{{key}}.value" value="{{ability.value}}"
              data-dtype="Number" />
            {{/if}}
          </div>
          {{#if ../system.settings.editmode}}
          {{#if ability.nextDotCost}}
          <div>
            <b>{{localize "Ex3.NextDot"}}: </b>{{ability.nextDotCost}} XP
          </div>
          {{else}}
          {{localize "Ex3.MaxedOut"}}
          {{/if}}
          <div class="flexrow flex-center">
            <label class="resource-label">{{localize "Ex3.Attribute"}}</label>
            <select name="system.abilities.{{key}}.prefattribute" value="{{ability.prefattribute}}" data-type="String">
              {{selectOptions ../attributeList selected=ability.prefattribute localize=true}}
            </select>
          </div>
          <div class="flexrow flex-center mt-1">
            <label class="resource-label">{{localize "Ex3.HasExcellency"}}</label>
            <input name="system.abilities.{{key}}.excellency" type="checkbox" {{checked ability.excellency}}>
          </div>
          {{/if}}
        </div>
        {{/each}}
        {{#each actor.customabilities as |item id|}}
        <div class="item flexrow flex-center" data-item-id="{{item._id}}">
          <input class="item-favored" name="system.favored" type="checkbox" {{checked item.system.favored}}>
          <label class="resource-label roll-ma roll-hover" data-item-id="{{action._id}}" style="text-align:start;">
            {{#if item.system.maiden}}
            <img class="borderless-image" src="systems/exaltedthird/assets/caste-marks/{{item.system.maiden}}.png"
              title="{{item.system.maiden}}" height="14" width="14" />
            {{/if}}
            {{localize item.name}}</label>
          {{#if ../system.settings.usedotsvalues}}
          <div class="resource-value" data-value="{{item.system.points}}" data-name="items.{{item._id}}">
            {{#numLoop 5}}
            <span class="resource-value-step" data-id="{{item._id}}" data-index="{{this}}"></span>
            {{/numLoop}}
            {{#if ../system.settings.usetenabilities}}
            <div></div>
            {{#numLoopCertainStart 5 5}}
            <span class="resource-value-step" data-item="true" data-index="{{this}}"></span>
            {{/numLoopCertainStart}}
            {{/if}}
          </div>
          {{else}}
          <input class="list-ability list-input" type="number" name="item.system.points" value="{{item.system.points}}"
            data-dtype="Number" />
          {{/if}}
        </div>
        {{/each}}
      </div>
      {{#if system.settings.editmode}}
      <div style="margin-bottom:10px;">
        <label class="resource-label">{{localize "Ex3.AdditionalAbilities"}}<a class="item-create"
            title="Create customability" data-type="customability"><i class="fas fa-plus cursor-pointer"
              style="margin-left:5px;"></i></a></label>
        <div class="attributes grid grid-3col flex-group-center">
          {{#each actor.customabilities as |item id|}}
          <div class="item flexrow flex-center" data-item-id="{{item._id}}">
            <div class="item-controls ability-item-edit">
              <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i> </a>
              <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
            </div>
            <label class="resource-label roll-ma roll-hover" data-item-id="{{action._id}}">{{localize
              item.name}}</label>
            {{#if ../system.settings.usedotsvalues}}
            <div class="resource-value" data-value="{{item.system.points}}" data-name="items.{{item._id}}">
              {{#numLoop 5}}
              <span class="resource-value-step" data-id="{{item._id}}" data-index="{{this}}"></span>
              {{/numLoop}}
              {{#if ../system.settings.usetenabilities}}
              <div></div>
              {{#numLoopCertainStart 5 5}}
              <span class="resource-value-step" data-id="{{item._id}}" data-index="{{this}}"></span>
              {{/numLoopCertainStart}}
              {{/if}}
            </div>
            {{else}}
            <input class="list-ability list-input" type="number" name="item.system.points"
              value="{{item.system.points}}" data-dtype="Number" />
            {{/if}}
          </div>
          {{/each}}
        </div>
        {{localize "Ex3.Abilities"}}:
        {{system.charcreation.spent.abilities}}/{{system.charcreation.available.abilities}}
        ({{system.charcreation.spent.abovethree}} above 3)
      </div>
      {{/if}}
      <label class="resource-label">{{localize "Ex3.Specialties"}}<a class="item-create" title="Create specialty"
          data-type="specialty"><i class="fas fa-plus cursor-pointer" style="margin-left:5px;"></i></a></label>
      <div class="attributes grid grid-3col flex-group-center">
        {{#each actor.specialties as |item id|}}
        <li class="item flexrow flex-center" data-item-id="{{item._id}}">
          {{#if ../system.settings.editmode}}
          <div class="item-controls ability-item-edit">
            <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i> </a>
            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
          </div>
          {{/if}}
          <label class="resource-label">{{localize item.name}} ({{getAbilityDisplay ../this
            item.system.ability}})</label>
        </li>
        {{/each}}
      </div>
      {{#if system.settings.editmode}}
      <div style="margin-bottom:10px;">
        Specialties: {{system.charcreation.spent.specialties}}/{{system.charcreation.available.specialties}}
      </div>
      {{/if}}
    </div>

    {{!-- Combat Tab --}}
    <div class="tab flex-center" data-group="primary" data-tab="combat">
      {{> systems/exaltedthird/templates/actor/combat-tab.html}}
    </div>


    {{!-- Charms Tab --}}
    <div class="tab items" data-group="primary" data-tab="charms">
      <ol class="items-list">
        {{#if system.settings.showanima}}
        <li>
          <div class="resource-label list-section-header mb-2">
            {{localize "Ex3.AnimaEffects"}}
          </div>
        </li>
        <li>
          <div class="d-flex flex-between collapsable cursor-pointer list-section-header mb-1" data-type="passive">
            <div class="resource-label">
              {{localize "Ex3.Anima"}} <a class="item-control data-chat" title="Chat" data-type="passive"><i
                  class="fas fa-comment"></i></a> </div>
            <div>
              <i class="fas fa-caret-down"></i>
            </div>
          </div>
          <div {{#if system.collapse.passive }} style="display:none;" {{/if}}>
            <textarea type="text" name="system.anima.passive" rows="12">{{system.anima.passive}}</textarea>
          </div>
        </li>
        <li>
          <div class="d-flex flex-between collapsable cursor-pointer list-section-header mb-1" data-type="active">
            <div class="resource-label">
              {{localize "Ex3.Anima"}} <a class="item-control data-chat" title="Chat" data-type="active"><i
                  class="fas fa-comment"></i></a> </div>
            <div>
              <i class="fas fa-caret-down"></i>
            </div>
          </div>
          <div {{#if system.collapse.active }} style="display:none;" {{/if}}>
            <textarea type="text" name="system.anima.active" rows="12">{{system.anima.active}}</textarea>
          </div>
        </li>
        <li>
          <div class="d-flex flex-between collapsable cursor-pointer list-section-header mb-1" data-type="iconic">
            <div class="resource-label">
              {{localize "Ex3.Anima"}} <a class="item-control data-chat" title="Chat" data-type="iconic"><i
                  class="fas fa-comment"></i></a> </div>
            <div>
              <i class="fas fa-caret-down"></i>
            </div>
          </div>
          <div {{#if system.collapse.iconic }} style="display:none;" {{/if}}>
            <textarea type="text" name="system.anima.iconic" rows="12">{{system.anima.iconic}}</textarea>
          </div>
        </li>
        {{/if}}
        {{#if system.settings.editmode}}
        <div class="flex-center" style="margin-bottom:10px;">
          {{localize "Ex3.Charms"}}: {{system.charcreation.spent.charms}}/{{system.charcreation.available.charms}}
          {{#ifEquals system.details.exalt 'dragonblooded'}}(5 are excellencies){{/ifEquals}}
        </div>
        {{/if}}
        {{> systems/exaltedthird/templates/actor/charm-list.html}}
      </ol>
    </div>

    <div class="tab effects" data-group="primary" data-tab="effects">
      {{> systems/exaltedthird/templates/actor/effects-tab.html}}
    </div>

    {{!-- Intimacy Tab --}}
    <div class="tab social" data-group="primary" data-tab="social">
      {{> systems/exaltedthird/templates/actor/social-tab.html}}
      {{#if system.settings.editmode}}
      <div class="flex-center">
        {{localize "Ex3.Intimacies"}}:
        {{system.charcreation.spent.intimacies}} (Must have 1 defining, 1 major, 1 minor, 1 negative tie)
      </div>
      {{/if}}
    </div>

    {{!-- Character Tab --}}
    <div class="tab character" data-group="primary" data-tab="character">
      <ol class="items-list">
        <div class="resource-content flexrow flex-center flex-between">
          <label class="resource-label">{{localize "Ex3.Advancement"}} <a><i
                class="fas fa-info-circle show-advancement cursor-pointer"></i></a> </label>
        </div>
        <div class="grid grid-2col flex-group-center">
          <div class="resource-content flexrow flex-center flex-between">
            <div>
              <label class="resource-label">{{localize "Ex3.Personal"}} XP ({{system.experience.standard.remaining}}
                {{localize "Ex3.Remaining"}})</label>
              <div class="resource-content flexrow flex-center flex-between">
                <input name="system.experience.standard.value" value="{{system.experience.standard.value}}" type="text"
                  placeholder="Spent" />
                /
                <input name="system.experience.standard.total" value="{{system.experience.standard.total}}" type="text"
                  placeholder="Earned" />
              </div>
            </div>
          </div>
          <div class="resource-content flexrow flex-center flex-between">
            <div>
              <label class="resource-label">{{#if unifiedCharacterAdvancement}}{{localize
                "Ex3.Heroic"}}{{else}}{{localize "Ex3.Exalt"}}{{/if}} XP ({{system.experience.exalt.remaining}}
                {{localize "Ex3.Remaining"}})
                <!-- <a><i class="fas fa-info-circle exalt-xp cursor-pointer"></i></a></label> -->
                <div class="resource-content flexrow flex-center flex-between">
                  <input name="system.experience.exalt.value" value="{{system.experience.exalt.value}}" type="text"
                    placeholder="Spent" />
                  /
                  <input name="system.experience.exalt.total" value="{{system.experience.exalt.total}}" type="text"
                    placeholder="Earned" />
                </div>
            </div>
          </div>
        </div>
        <li>
          <textarea type="text" name="system.experience.trigger" rows="6">{{system.experience.trigger}}</textarea>
        </li>
        {{#if system.settings.iscrafter}}
        <div class="flex-center">
          <label class="resource-label">{{localize "Ex3.Craft"}} {{#if simplifiedCrafting}}{{else}}
            <a><i class="fas fa-info-circle show-craft cursor-pointer"></i></a>
            {{/if}}</label>

          {{#if simplifiedCrafting}}
          <div class="grid grid-2col flex-group-center">
            <div>
              <label class="resource-label">{{localize "Ex3.Craft"}}</label>
              <button class="roll-button craft-simple-project"><i class="fas fa-hammer"></i>{{localize
                "Ex3.Craft"}}</button>
            </div>
            <div>
              <label class="resource-label">{{localize "Ex3.CraftXP"}}</label>
              <input type="number" name="system.craft.experience.simple.value"
                value="{{system.craft.experience.simple.value}}" data-dtype="Number" />
            </div>
          </div>
          {{else}}
          <div class="grid grid-4col flex-group-center">
            <div>
              <button class="roll-button craft-project" data-type="basic"><i class="fas fa-hammer"></i>{{localize
                "Ex3.Basic"}}</button>
            </div>
            <div>
              <button class="roll-button craft-project" data-type="major"><i class="fas fa-hammer"></i>{{localize
                "Ex3.Major"}}</button>
            </div>
            <div>
              <button class="roll-button craft-project" data-type="superior"><i class="fas fa-hammer"></i>{{localize
                "Ex3.Superior"}}</button>
            </div>
            <div>
              <button class="roll-button craft-project" data-type="legendary"><i class="fas fa-hammer"></i>{{localize
                "Ex3.Legendary"}}</button>
            </div>
          </div>
          <div class="grid grid-3col flex-group-center">
            <div>
              <label class="resource-label">{{localize "Ex3.SilverXP"}}</label>
              <input type="number" name="system.craft.experience.silver.value"
                value="{{system.craft.experience.silver.value}}" data-dtype="Number" />
            </div>
            <div>
              <label class="resource-label">{{localize "Ex3.GoldXP"}}</label>
              <input type="number" name="system.craft.experience.gold.value"
                value="{{system.craft.experience.gold.value}}" data-dtype="Number" />
            </div>
            <div>
              <label class="resource-label">{{localize "Ex3.WhiteXP"}}</label>
              <input type="number" name="system.craft.experience.white.value"
                value="{{system.craft.experience.white.value}}" data-dtype="Number" />
            </div>
            <div>
              <label class="resource-label">{{localize "Ex3.Major"}}</label>
              <div class="resource-content flexrow flex-center flex-between">
                <input name="system.craft.slots.major.value" value="{{system.craft.slots.major.value}}" type="text"
                  placeholder="Available" />
                /
                <input name="system.craft.slots.major.total" value="{{system.craft.slots.major.total}}" type="text"
                  placeholder="Total" />
              </div>
            </div>
            <div>
              <label class="resource-label">{{localize "Ex3.Superior"}}</label>
              <div class="resource-content flexrow flex-center flex-between">
                <input name="system.craft.slots.superior.value" value="{{system.craft.slots.superior.value}}"
                  type="text" placeholder="Available" />
                /
                <input name="system.craft.slots.superior.total" value="{{system.craft.slots.superior.total}}"
                  type="text" placeholder="Total" />
              </div>
            </div>
            <div>
              <label class="resource-label">{{localize "Ex3.Legendary"}}</label>
              <div class="resource-content flexrow flex-center flex-between">
                <input name="system.craft.slots.legendary.value" value="{{system.craft.slots.legendary.value}}"
                  type="text" placeholder="Available" />
                /
                <input name="system.craft.slots.legendary.total" value="{{system.craft.slots.legendary.total}}"
                  type="text" placeholder="Total" />
              </div>
            </div>
          </div>
          {{/if}}
        </div>
        <div class="resource-label list-section-header d-flex flex-between">
          <div>
            {{localize "Ex3.CraftProjects"}}
          </div>
          <a class="item-control item-create" title="Create craftproject" data-type="craftproject"><i
              class="fas fa-plus"></i>{{localize "Ex3.Add"}}</a>
        </div>
        {{#each actor.projects as |item id|}}
        <li class="item flexrow item-row" data-item-id="{{item._id}}">
          <div class="item-image"><img class="list-item-image" src="{{item.img}}" title="{{item.name}}" width="24"
              height="24" /></div>
          <h4 class="item-name">{{item.name}}</h4>
          {{#if ../simplifiedCrafting}}
          <div>
            {{item.system.experience.completed}}/{{item.system.experience.required}}
          </div>
          {{/if}}
          <div class="item-controls">
            {{#if ../simplifiedCrafting}}
            <a class="item-control craft-simple-project" title="Craft Item" data-craftId="{{id}}"><i
                class="fas fa-hammer"></i></a>
            {{else}}
            <a class="item-control item-complete" title="Complete Item"><i class="fas fa-hammer"></i></a>
            {{/if}}
            <a class="item-control item-chat" title="Chat Item"><i class="fas fa-comment"></i></a>
            <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
          </div>
        </li>
        <li>
          <div>
            {{{enrichedHTMLItems ../this "description" item._id}}}
          </div>
        </li>
        {{/each}}
        {{/if}}
        <li>
          <label class="resource-label">{{localize "Ex3.LimitTrigger"}}</label>
          <input type="text" name="system.limit.trigger" value="{{system.limit.trigger}}" />
        </li>
        <li>
          <label class="resource-label">{{localize "Ex3.LoreBackgrounds"}}</label>
          <input type="text" name="system.lorebackgrounds" value="{{system.lorebackgrounds}}" />
        </li>
        {{#ifEquals system.details.exalt 'abyssal'}}
        <div class="mt-1">
          <label class="resource-label">{{localize "Ex3.Apocalyptic"}}:</label>
          <select name="system.details.apocalyptic" value="{{system.details.apocalyptic}}" data-type="String">
            {{selectOptions abilitySelectList selected=system.details.apocalyptic localize=true}}
          </select>
        </div>
        {{/ifEquals}}
        {{#ifEquals system.details.exalt 'solar'}}
        <div class="mt-1">
          <label class="resource-label">{{localize "Ex3.Supernal"}}:</label>
          <select name="system.details.supernal" value="{{system.details.supernal}}" data-type="String">
            {{selectOptions abilitySelectList selected=system.details.supernal localize=true}}
          </select>
        </div>
        {{/ifEquals}}
        {{#ifEquals system.details.exalt 'lunar'}}
        <div class="grid grid-2col flexrow">
          <div>
            <label class="resource-label">{{localize "Ex3.Tell"}}</label>
            <input type="text" name="system.details.tell" value="{{system.details.tell}}" />
          </div>
          <div>
            <label class="resource-label">{{localize "Ex3.SpiritShape"}}</label>
            <input type="text" name="system.details.spiritshape" value="{{system.details.spiritshape}}" />
          </div>
        </div>
        {{/ifEquals}}
        {{#ifEquals system.details.exalt 'alchemical'}}
        <div class="grid grid-2col flexrow">
          <div>
            <label class="resource-label">{{localize "Ex3.CharmSlots"}}</label>
            <input type="number" name="system.charmslots.value" value="{{system.charmslots.value}}" />
          </div>
        </div>
        {{/ifEquals}}
        {{#ifEquals system.details.exalt 'sidereal'}}
        <div class="grid grid-2col flexrow">
          <div>
            <label class="resource-label">{{localize "Ex3.BirthSign"}}: </label>
            <select name="system.details.birthsign" data-type="String">
              {{#each signList as |signCategory signCategoryType|}}
              <optgroup label="{{signCategory.label}}">
                {{selectOptions signCategory.signs selected=../system.details.birthsign localize=true}}
              </optgroup>
              {{/each}}
            </select>
          </div>
          <div>
            <label class="resource-label">{{localize "Ex3.ExaltationSign"}}: </label>
            <select name="system.details.exaltsign" data-type="String">
              {{#each signList as |signCategory signCategoryType|}}
              <optgroup label="{{signCategory.label}}">
                {{selectOptions signCategory.signs selected=../system.details.exaltsign localize=true}}
              </optgroup>
              {{/each}}
            </select>
          </div>
          <div>
            <button class="roll-button prophecy"><i class="fas fa-stars"></i>{{localize
              "Ex3.Prophecy"}}</button>
          </div>
        </div>
        {{/ifEquals}}
        {{#ifEquals system.details.exalt 'umbral'}}
        <div>
          <label class="resource-label">{{localize "Ex3.Penumbra"}}</label>
          <input type="number" name="system.penumbra.value" value="{{system.penumbra.value}}" />
        </div>
        {{/ifEquals}} {{#ifEquals system.details.exalt 'dreamsouled'}}
        <li>
          <label class="resource-label">{{localize "Ex3.Ideal"}}</label>
          <input type="text" name="system.details.ideal" value="{{system.details.ideal}}" />
        </li>
        {{/ifEquals}}
        <div>
          <label class="resource-label">{{localize "Ex3.SizeCategory"}}: </label>
          <select name="system.sizecategory" data-type="String">
            {{selectOptions selects.sizeCategory selected=system.sizecategory localize=true}}
          </select>
        </div>
        <!-- <div class="grid flex-group-center">
          <button id="import-stuff">Import</button>
        </div> -->
        <div class="mt-1">
          <label class="resource-label">{{localize "Ex3.Resonance"}} {{#if system.settings.editmode}} <a><i
                class="fas fa-calculator calculate-resonance cursor-pointer" title="Auto Set Resonance/Dissonance"
                style="margin-left:3px;"></i></a>{{/if}}</label>
          <a class="trait-selector" data-options="resonance" data-target="system.traits.resonance">
            <i class="fas fa-edit"></i>
          </a>
          <div class="mt-1">
            {{#each system.traits.resonance.selected as |v k|}}
            <li class="tag {{k}}">{{v}}</li>
            {{/each}}
          </div>
        </div>
        <div class="mt-1">
          <label class="resource-label">{{localize "Ex3.Dissonance"}}</label>
          <a class="trait-selector" data-options="dissonance" data-target="system.traits.dissonance">
            <i class="fas fa-edit"></i>
          </a>
          <div class="mt-1">
            {{#each system.traits.dissonance.selected as |v k|}}
            <li class="tag {{k}}">{{v}}</li>
            {{/each}}
          </div>
        </div>
        <div class="mt-1">
          <label class="resource-label">{{localize "Ex3.Classifications"}}</label>
          <a class="trait-selector" data-options="classifications" data-target="system.traits.classifications">
            <i class="fas fa-edit"></i>
          </a>
          <div class="mt-1">
            {{#each system.traits.classifications.selected as |v k|}}
            <li class="tag {{k}}">{{v}}</li>
            {{/each}}
          </div>
        </div>
        <div class="mt-1">
          <label class="resource-label">{{localize "Ex3.Languages"}}</label>
          <a class="trait-selector" data-options="languages" data-target="system.traits.languages">
            <i class="fas fa-edit"></i>
          </a>
          <div class="mt-1">
            {{#each system.traits.languages.selected as |v k|}}
            <li class="tag {{k}}">{{v}}</li>
            {{/each}}
          </div>
        </div>
        {{#if system.settings.issorcerer}}
        <div class="resource-label list-section-header d-flex flex-between">
          <div>
            {{localize "Ex3.ShapingRituals"}}
          </div>
          <a class="item-control item-create" title="Create ritual" data-type="ritual"><i
              class="fas fa-plus"></i>{{localize "Ex3.Add"}}</a>
        </div>
        {{#each actor.rituals as |item id|}}
        <li class="item flexrow item-row" data-item-id="{{item._id}}">
          <div class="item-image"><img class="list-item-image" src="{{item.img}}" title="{{item.name}}" width="24"
              height="24" /></div>
          <h4 class="item-name">{{item.name}}</h4>
          <div class="item-controls">
            {{#if item.system.active}}
            <a class="item-control item-spend" title="Deactivate Ritual"><i class="fas fa-lightbulb-on"></i></a>
            {{else}}
            <a class="item-control item-spend" title="Activate Ritual"><i class="fas fa-lightbulb"></i></a>
            {{/if}}
            <a class="item-control item-chat" title="Chat Item"><i class="fas fa-comment"></i></a>
            <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
          </div>
        </li>
        <li class="item-description">
          <div>
            {{{enrichedHTMLItems ../this "description" item._id}}}
          </div>
        </li>
        {{/each}}
        {{/if}}
        <div class="resource-label list-section-header d-flex flex-between">
          <div>
            {{localize "Ex3.Merits"}}
          </div>
          <a class="item-control item-create" title="Create merit" data-type="merit"><i
              class="fas fa-plus"></i>{{localize "Ex3.Add"}}</a>
        </div>
        {{#each actor.merits as |item id|}}
        <li class="item flexrow item-row" data-item-id="{{item._id}}">
          <div class="item-image"><img class="list-item-image" src="{{item.img}}" title="{{item.name}}" width="24"
              height="24" /></div>
          <h4 class="item-name">{{item.name}}</h4>
          <div class="resource-value-static" data-value="{{item.system.points}}" data-name="items.{{item._id}}">
            {{#numLoop 5}}
            <span class="resource-value-static-step" data-index="{{this}}"></span>
            {{/numLoop}}
          </div>
          <div class="item-controls">
            {{#if item.system.active}}
            <a class="item-control item-spend" title="Deactivate Merit"><i class="fas fa-lightbulb-on"></i></a>
            {{else}}
            <a class="item-control item-spend" title="Activate Merit"><i class="fas fa-lightbulb"></i></a>
            {{/if}}
            <a class="item-control item-chat" title="Chat Item"><i class="fas fa-comment"></i></a>
            <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
          </div>
        </li>
        <li class="item-description">
          <div>
            {{{enrichedHTMLItems ../this "description" item._id}}}
          </div>
        </li>
        {{/each}}
        <div class="resource-label list-section-header d-flex flex-between">
            <div>
                {{localize "Ex3.Items"}}
            </div>
            <a class="item-control item-create" title="Create item" data-type="item"><i class="fas fa-plus"></i>{{localize "Ex3.Add"}}</a>
        </div>
        {{#each actor.gear as |item id|}}
        <li class="item flexrow item-row" data-item-id="{{item._id}}">
            <div class="item-image"><img class="list-item-image" src="{{item.img}}" title="{{item.name}}" width="24"
                    height="24" /></div>
            <h4 class="item-name">{{item.name}}</h4>
            <div class="item-controls">
                {{#if item.system.activatable}}
                {{#if item.system.active}}
                <a class="item-control item-spend" title="Deactivate"><i class="fas fa-lightbulb-on"></i></a>
                {{else}}
                <a class="item-control item-spend" title="Activate"><i class="fas fa-lightbulb"></i></a>
                {{/if}}
                {{/if}}
                <a class="item-control item-chat" title="Chat Item"><i class="fas fa-comment"></i></a>
                <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
            </div>
        </li>
        <li class="item-description">
            <div>
                {{{enrichedHTMLItems ../this "description" item._id}}}
            </div>
        </li>
        {{/each}}
        {{#if system.settings.editmode}}
        <div class="flex-center" style="margin-bottom:10px;">
          Merits: {{system.charcreation.spent.merits}}/{{system.charcreation.available.merits}} {{#ifEquals
          system.details.exalt 'dragonblooded'}}(5 from background){{/ifEquals}}
        </div>
        {{/if}}
        {{#ifEquals system.details.exalt 'lunar'}}
        <div class="resource-label list-section-header d-flex flex-between">
          <div>
            {{localize "Ex3.LunarShapes"}}
          </div>
          <a class="item-control item-create" title="Create shape" data-type="shape"><i
              class="fas fa-plus"></i>{{localize "Ex3.Add"}}</a>
        </div>
        {{#each actor.shapes as |item id|}}
        <li class="item flexrow item-row" data-item-id="{{item._id}}">
          <div class="item-image"><img class="list-item-image" src="{{item.img}}" title="{{item.name}}" width="24"
              height="24" /></div>
          <h4 class="item-name">{{item.name}}</h4>
          <div class="item-controls">
            {{#if item.system.actorid}}
            <a class="item-control shape-edit" title="Character Sheet"><i class="fas fa-user-pen"></i></a>
            {{/if}}
            <a class="item-control item-chat" title="Chat Item"><i class="fas fa-comment"></i></a>
            <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
          </div>
        </li>
        <li>
          <div>
            {{{enrichedHTMLItems ../this "description" item._id}}}
          </div>
        </li>
        {{/each}}
        {{/ifEquals}}
        {{#ifEquals system.details.exalt 'sidereal'}}
        <div class="resource-label list-section-header d-flex flex-between">
          <div>
            {{localize "Ex3.ResplendentDestinies"}}
          </div>
          <a class="item-control item-create" title="Create destiny" data-type="destiny"><i
              class="fas fa-plus"></i>{{localize "Ex3.Add"}}</a>
        </div>
        {{#each actor.destinies as |item id|}}
        <li class="item flexrow item-row" data-item-id="{{item._id}}">
          <div class="item-image"><img class="list-item-image" src="{{item.img}}" title="{{item.name}}" width="24"
              height="24" /></div>
          <h4 class="item-name">{{item.name}}</h4>
          <div class="item-controls">
            {{#if item.system.frayed}}
            <a class="item-control toggle-item-value" data-key="frayed" title="Unfray"><i
                class="fas fa-heart-crack"></i></a>
            {{else}}
            <a class="item-control toggle-item-value" data-key="frayed" title="fray"><i class="fas fa-heart"></i></a>
            {{/if}}
            <a class="item-control item-chat" title="Chat Item"><i class="fas fa-comment"></i></a>
            <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
          </div>
        </li>
        <li>
          <div>
            {{{enrichedHTMLItems ../this "description" item._id}}}
          </div>
        </li>
        {{/each}}
        <div>
          <b>{{localize "Ex3.Charms"}}:</b> {{localize "Ex3.Journeys"}}: {{system.maidencharms.journeys}}, {{localize
          "Ex3.Serenity"}}:
          {{system.maidencharms.serenity}}, {{localize "Ex3.Battles"}}: {{system.maidencharms.battles}}, {{localize
          "Ex3.Secrets"}}: {{system.maidencharms.secrets}}, {{localize "Ex3.Endings"}}: {{system.maidencharms.endings}}
        </div>
        {{/ifEquals}}
      </ol>
    </div>

    {{!-- Biography Tab --}}
    <div class="tab biography" data-group="primary" data-tab="description">
      {{> systems/exaltedthird/templates/actor/biography-tab.html}}
    </div>

  </section>
</form>