<div class="grid grid-2col flex-group-center">
    <button class="roll-button rollAbility"><i class="fas fa-dice"></i>{{localize "Ex3.Ability"}}</button>
    <button class="roll-button join-battle"><i class="fas fa-bolt"></i>{{localize "Ex3.JoinBattle"}}</button>
    <button class="roll-button accuracy"><i class="fas fa-crosshairs"></i>{{localize "Ex3.Accuracy"}}</button>
    <button class="roll-button damage"><i class="fas fa-skull"></i>{{localize "Ex3.Damage"}}</button>
</div>
<div>
    <div id="character-combat-tab">
        <div class="grid grid-4col flex-group-center">
            <div>
                <label class="resource-label">{{localize "Ex3.Parry"}}{{#ifEquals data.type 'character'}}<i
                        class="fas fa-calculator calculate-parry cursor-pointer"
                        title="Auto Set Parry" style="margin-left:3px;"></i>{{/ifEquals}}</label>
                <input type="number" name="data.parry.value" value="{{data.data.parry.value}}" data-dtype="Number" />
            </div>
            <div>
                <label class="resource-label">{{localize "Ex3.Evasion"}}{{#ifEquals data.type 'character'}}<i
                    class="fas fa-calculator calculate-evasion cursor-pointer"
                    title="Auto Set Evasion" style="margin-left:3px;"></i>{{/ifEquals}}</label>
                <input type="number" name="data.evasion.value" value="{{data.data.evasion.value}}"
                    data-dtype="Number" />
            </div>
            <div>
                <label class="resource-label">{{localize "Ex3.SorcerousMotes"}} </label>
                <input type="number" name="data.sorcery.motes" value="{{data.data.sorcery.motes}}"
                    data-dtype="Number" />
            </div>
            <div>
                <label class="resource-label">{{localize "Ex3.ShapeSorcery"}}</label>
                <button class="roll-button shape-sorcery"><i class="fas fa-hat-wizard"></i>{{localize
                    "Ex3.Roll"}}</button>
            </div>
        </div>
        <div class="grid grid-2col flex-group-center">
            <div class="resource-content flexrow flex-center flex-between">
                <div class="resource-content flexrow flex-center flex-between">
                    <div>
                        <label class="resource-label">{{localize "Ex3.ArmoredSoak"}}</label>
                        <input type="number" name="data.armoredsoak.value" value="{{data.data.armoredsoak.value}}"
                            data-dtype="Number" />
                    </div>
                    <div>
                        <label class="resource-label">{{localize "Ex3.NaturalSoak"}}</label>
                        <input type="number" name="data.naturalsoak.value" value="{{data.data.naturalsoak.value}}"
                            data-dtype="Number" />
                    </div>
                </div>
            </div>
            <div class="resource-content flexrow flex-center flex-between">
                <div>
                    <label class="resource-label">{{localize "Ex3.TotalSoak"}}</label>
                    <input type="number" name="data.soak.value" value="{{data.data.soak.value}}" data-dtype="Number" />
                </div>
                <div>
                    <label class="resource-label">{{localize "Ex3.Hardness"}}</label>
                    <input type="number" name="data.hardness.value" value="{{data.data.hardness.value}}"
                        data-dtype="Number" />
                </div>
            </div>
        </div>
        {{#if data.data.battlegroup}}
        <div class="grid grid-3col flex-group-center">
            <div>
                <label class="resource-label">{{localize "Ex3.Size"}}</label>
                <input type="number" name="data.size.value" value="{{data.data.size.value}}" data-dtype="Number" />
            </div>
            <div>
                <label class="resource-label">{{localize "Ex3.Drill"}}</label>
                <input type="number" name="data.drill.value" value="{{data.data.drill.value}}" data-dtype="Number" />
            </div>
            <div>
                <label class="resource-label">{{localize "Ex3.Might"}}</label>
                <input type="number" name="data.might.value" value="{{data.data.might.value}}" data-dtype="Number" />
            </div>
        </div>
        {{/if}}
        {{> systems/exaltedthird/templates/actor/equipment-list.html}}
    </div>
</div>