<div class="resource flex-group-center d-flex">
    <div {{#if system.battlegroup}}{{else}}style="margin-right:20px;" {{/if}}>
        <div class="flexrow">
            <label for="system.health" class="resource-label">
                {{#if system.settings.editmode}}
                <a><i class="fas fa-calculator cursor-pointer" id="calculate-health" style="margin-right:3px;"
                        title="Calculate Health"></i></a>
                {{else}}
                <a><i class="fas fa-info-circle show-health cursor-pointer" style="margin-right:3px;"></i></a>
                {{/if}}
                {{#if system.battlegroup}}
                {{localize "Ex3.Magnitude"}}
                {{else}}
                {{localize "Ex3.Health"}}
                {{/if}}<a><i id="healDamage" title="Heal Damage" class="fas fa-plus-square cursor-pointer"
                        style="margin-left:3px;"></i></a></label>
        </div>
        <div class="resource-content flexrow flex-center flex-between">
            <div class="resource-counter" data-states="/:bashing,x:lethal,*:aggravated" data-max="{{system.health.max}}"
                data-bashing="{{system.health.bashing}}" data-lethal="{{system.health.lethal}}"
                data-aggravated="{{system.health.aggravated}}" data-name="system.health">
                {{#if system.battlegroup}}
                {{#numLoop system.health.max}}
                <span class="health-boxes resource-counter-step" data-index="{{this}}" data-state=""></span>
                {{/numLoop}}
                {{else}}
                {{#numLoop system.health.max}}
                <span class="health-boxes resource-counter-step" data-index="{{this}}" data-state="">
                    {{healthCheck this 'character'}}
                </span>
                {{/numLoop}}
                {{/if}}
            </div>
        </div>
    </div>
    {{#if system.battlegroup}}
    {{else}}
    <div>
        <div class="flex-center">
            <div class="resource-label">{{localize "Ex3.WoundPenalty"}}</div>
            <div>-{{system.health.penalty}}</div>
        </div>
    </div>
    {{/if}}
</div>
<div class="resource-content flexrow flex-center flex-between mt-1">
    <label class="resource-label"><a><i id="rollAbility" class="fas fa-dice-d10 cursor-pointer rollAbility"></i></a>
        {{localize "Ex3.Combat"}} <a><i class="fas fa-info-circle show-combat cursor-pointer"></i></a></label>
</div>
<div class="grid {{#if steadyAction}} grid-4col {{else}} grid-3col {{/if}} flex-group-center">
    <button class="roll-button attack-roll" data-attack-type="withering"><i class="fas fa-swords"></i>{{localize "Ex3.Withering"}}</button>
    <button class="roll-button attack-roll" data-attack-type="decisive"><i class="fas fa-axe-battle"></i>{{localize "Ex3.Decisive"}}</button>
    <button class="roll-button attack-roll" data-attack-type="gambit"><i class="fas fa-fist-raised"></i>{{localize "Ex3.Gambit"}}</button>
    {{#if steadyAction}}
    <button class="roll-button steady"><i class="fas fa-wave-pulse"></i>{{localize "Ex3.Steady"}}</button>
    {{/if}}
</div>
<div class="grid grid-4col flex-group-center">
    <div>
        <label class="resource-label">{{localize "Ex3.JoinBattle"}}</label>
        <button class="roll-button join-battle"><i class="fas fa-play"></i>{{localize
            "Ex3.Roll"}}</button>
    </div>
    <div>
        <label class="resource-label">{{localize "Ex3.Command"}}</label>
        <button class="roll-button command"><i class="fas fa-flag"></i>{{localize
            "Ex3.Roll"}}</button>
    </div>
    <div>
        <label class="resource-label">{{localize "Ex3.GrappleControl"}}</label>
        <button class="roll-button grapple-control"><i class="fas fa-hand-fist"></i>{{localize
            "Ex3.Roll"}}</button>
    </div>
    <div>
        <label class="resource-label">{{localize "Ex3.ControlRounds"}} </label>
        <input type="number" name="system.grapplecontrolrounds.value" value="{{system.grapplecontrolrounds.value}}"
            data-dtype="Number" />
    </div>
</div>
<div>
    <div id="character-combat-tab">
        <div class="grid grid-4col flex-group-center">
            <div {{#if system.parry.padding}}style="margin-bottom:17px" {{/if}}>
                <label class="resource-label">{{localize "Ex3.Parry"}}{{#ifEquals data.type 'character'}}
                    {{#if system.settings.editmode}}
                    <a><i class="fas fa-calculator calculate-parry cursor-pointer" title="Auto Set Parry"
                            style="margin-left:3px;"></i></a>
                    {{/if}}
                    {{/ifEquals}}{{#if system.aboveParryCap}} ({{system.aboveParryCap}} {{localize
                    "Ex3.AboveLunars"}}){{/if}}</label>
                <input type="number" name="system.parry.value" value="{{system.parry.value}}" data-dtype="Number" />
                <label>{{system.parry.cap}}</label>
            </div>
            <div {{#if system.evasion.padding}}style="margin-bottom:17px" {{/if}}>
                <label class="resource-label">{{localize "Ex3.Evasion"}}
                    {{#ifEquals data.type 'character'}}
                    {{#if system.settings.editmode}}
                    <a><i class="fas fa-calculator calculate-evasion cursor-pointer" title="Auto Set Evasion"
                            style="margin-left:3px;"></i></a>
                    {{/if}}
                    {{/ifEquals}} {{#if system.aboveEvasionCap}} ({{system.aboveEvasionCap}} {{localize
                    "Ex3.AboveLunars"}}){{/if}}</label>
                <input type="number" name="system.evasion.value" value="{{system.evasion.value}}" data-dtype="Number" />
                <label>{{system.evasion.cap}}</label>
            </div>
            <div {{#if system.defenseCapPadding}}style="margin-bottom:17px" {{/if}}>
                <label class="resource-label">{{localize "Ex3.Rush"}}</label>
                <button class="roll-button rush"><i class="fas fa-person-running"></i>{{localize
                    "Ex3.Roll"}}</button>
            </div>
            <div {{#if system.defenseCapPadding}}style="margin-bottom:17px" {{/if}}>
                <label class="resource-label">{{localize "Ex3.Disengage"}}</label>
                <button class="roll-button disengage"><i class="fas fa-person-running"></i>{{localize
                    "Ex3.Roll"}}</button>
            </div>
            <div {{#if system.soak.cap}}style="margin-bottom:17px" {{/if}}>
                <label class="resource-label">{{localize "Ex3.ArmoredSoak"}}
                    {{#if system.settings.editmode}}
                    <a><i class="fas fa-calculator calculate-armored-soak cursor-pointer" title="Auto Set Armored Soak"
                            style="margin-left:3px;"></i></a>
                    {{/if}}
                </label>
                <input type="number" name="system.armoredsoak.value" value="{{system.armoredsoak.value}}"
                    data-dtype="Number" />
            </div>
            <div {{#if system.soak.cap}}style="margin-bottom:17px" {{/if}}>
                <label class="resource-label">{{localize "Ex3.NaturalSoak"}}
                    {{#ifEquals data.type 'character'}}
                    {{#if system.settings.editmode}}
                    <a><i class="fas fa-calculator calculate-natural-soak cursor-pointer" title="Auto Set Natural Soak"
                            style="margin-left:3px;"></i></a>
                    {{/if}}
                    {{/ifEquals}}
                </label>
                <input type="number" name="system.naturalsoak.value" value="{{system.naturalsoak.value}}"
                    data-dtype="Number" />
            </div>
            <div>
                <label class="resource-label">{{localize "Ex3.TotalSoak"}}
                    {{#ifEquals data.type 'character'}}
                    {{#if system.settings.editmode}}
                    <a><i class="fas fa-calculator calculate-soak cursor-pointer" title="Auto Set Soak"
                            style="margin-left:3px;"></i></a>
                    {{/if}}
                    {{/ifEquals}}
                </label>
                <input type="number" name="system.soak.value" value="{{system.soak.value}}" data-dtype="Number" />
                <label>{{system.soak.cap}}</label>
            </div>
            <div {{#if system.soak.cap}}style="margin-bottom:17px" {{/if}}>
                <label class="resource-label">{{localize "Ex3.Hardness"}}{{#ifEquals data.type 'character'}}
                    {{#if system.settings.editmode}}
                    <a><i class="fas fa-calculator calculate-hardness cursor-pointer" title="Auto Set Hardness"
                            style="margin-left:3px;"></i></a>
                    {{/if}}
                    {{/ifEquals}}</label>
                <input type="number" name="system.hardness.value" value="{{system.hardness.value}}"
                    data-dtype="Number" />
            </div>
            {{#if bankableStunts}}
            <div>
                <label class="resource-label">{{localize "Ex3.StuntDice"}}</label>
                <input type="number" name="system.stuntdice.value" value="{{system.stuntdice.value}}"
                    data-dtype="Number" />
            </div>
            {{/if}}
        </div>
        {{#if system.settings.issorcerer}}
        <div class="grid grid-3col flex-group-center">
            <div>
                <label class="resource-label">{{localize "Ex3.SorcerousMotes"}} </label>
                <div class="resource-content flexrow flex-center flex-between">
                    <input type="number" name="system.sorcery.motes.value" value="{{system.sorcery.motes.value}}" data-dtype="Number" />
                    /
                    <input type="number" name="system.sorcery.motes.max" value="{{system.sorcery.motes.max}}" data-dtype="Number" />
                </div>
            </div>
            <div>
                <label class="resource-label">{{localize "Ex3.ShapeSorcery"}}</label>
                <button class="roll-button shape-sorcery"><i class="fas fa-hat-wizard"></i>{{localize
                    "Ex3.Roll"}}</button>
            </div>
            <div>
                <label class="resource-label">{{localize "Ex3.SorcerousWorking"}} <a><i class="fas fa-info-circle show-workings cursor-pointer"></i></a></label>
                <button class="roll-button sorcerous-working"><i class="fas fa-cauldron"></i>{{localize
                    "Ex3.Roll"}}</button>
            </div>
        </div>
        {{#if activeSpell}}
        <div class="mb-1">
            <b>{{localize "Ex3.ShapingSpell"}}:</b> {{activeSpell.name}}
        </div>
        {{/if}}
        {{/if}}
        {{#if system.battlegroup}}
        <div class="grid grid-5col flex-group-center">
            <div>
                <label class="resource-label">{{localize "Ex3.Size"}}</label>
                <input type="number" name="system.size.value" value="{{system.size.value}}" data-dtype="Number" />
            </div>
            <div>
                <label class="resource-label">{{localize "Ex3.Drill"}}</label>
                <div class="charname"> <select name="system.drill.value" value="{{system.drill.value}}">
                        {{selectOptions selects.drill selected=system.drill.value localize=true}}
                    </select></div>
            </div>
            <div>
                <label class="resource-label">{{localize "Ex3.Might"}}</label>
                <input type="number" name="system.might.value" value="{{system.might.value}}" data-dtype="Number" />
            </div>
            <div>
                <label class="resource-label">{{localize "Ex3.CommandBonus"}}</label>
                <input type="number" name="system.commandbonus.value" value="{{system.commandbonus.value}}"
                    data-dtype="Number" />
            </div>
            <div>
                <label class="resource-label">{{localize "Ex3.Rout"}} <a><i
                            class="fas fa-info-circle rout-modifiers cursor-pointer"></i></a></label>
                <button class="roll-button rout-check"><i class="fas fa-swords"></i>{{localize
                    "Ex3.Roll"}}</button>
            </div>
        </div>
        {{/if}}
        {{> systems/exaltedthird/templates/actor/equipment-list.html}}
    </div>
</div>