<div class="header-fields">
    <div class="resources grid grid-3col">
        {{#if gloryOverwhelming}}
        <div class="flex-center">
            <div style="margin-bottom:3px;">
                <label class="resource-label"> {{localize "Ex3.MoteCap"}} <a><i
                            class="fas fa-plus-square calculate-motes cursor-pointer"
                            title="Reset Cap"></i></a>
                </label>
                <div class="resource-content flexrow flex-center flex-between">
                    <input type="number" name="system.motes.glorymotecap.value" value="{{system.motes.glorymotecap.value}}"
                        data-dtype="Number" />
                    /
                    <input type="number" name="system.motes.glorymotecap.max" value="{{system.motes.glorymotecap.max}}"
                        data-dtype="Number" />
                </div>
            </div>
            <div>
                <label class="resource-label">{{localize "Ex3.Committed"}} {{#if system.settings.editmode}} <a><i
                    class="fas fa-calculator calculate-glorymotecap-commit cursor-pointer"
                    title="Auto Set Motes"></i></a>{{/if}}</label>
                <input type="number" name="system.motes.glorymotecap.committed" value="{{system.motes.glorymotecap.committed}}"
                    data-dtype="Number" />
            </div>
        </div>
        <div class="flex-center">
            <label class="resource-label">{{localize "Ex3.Fever"}}</label>
            <input type="number" name="system.fever.value"
                value="{{system.fever.value}}" data-dtype="Number" />
        </div>
        {{else}}
        <div class="flex-center">
            <div style="margin-bottom:3px;">
                <a><i class="fas fa-bolt set-pool-personal cursor-pointer" title="Spend motes from this pool"></i></a>
                <label class="resource-label"> {{localize "Ex3.Personal"}} <a><i
                            class="fas {{#if system.settings.editmode}} fa-calculator {{else}} fa-plus-square {{/if}} calculate-motes cursor-pointer"
                            title="{{#if system.settings.editmode}} Auto Set Motes {{else}} Restore Motes {{/if}}"></i></a>
                </label>
                <div class="resource-content flexrow flex-center flex-between">
                    <input type="number" name="system.motes.personal.value" value="{{system.motes.personal.value}}"
                        data-dtype="Number" />
                    /
                    <input type="number" name="system.motes.personal.max" value="{{system.motes.personal.max}}"
                        data-dtype="Number" />
                </div>
            </div>
            <div>
                <label class="resource-label">{{localize "Ex3.Committed"}} {{#if system.settings.editmode}} <a><i
                    class="fas fa-calculator calculate-personal-commit cursor-pointer"
                    title="Auto Set Motes"></i></a>{{/if}}</label>
                <input type="number" name="system.motes.personal.committed" value="{{system.motes.personal.committed}}"
                    data-dtype="Number" />
            </div>
        </div>
        {{#if isExalt}}
        <div class="flex-center">
            <div style="margin-bottom:3px;">
                <a><i class="fas fa-bolt set-pool-peripheral cursor-pointer"
                        title="Spend motes from this pool"></i></a><label class="resource-label"> {{localize
                    "Ex3.Peripheral"}}
                    <a><i class="fas {{#if system.settings.editmode}} fa-calculator {{else}} fa-plus-square {{/if}} calculate-motes cursor-pointer"
                            title="{{#if system.settings.editmode}} Auto Set Motes {{else}} Restore Motes {{/if}}"></i></a></label>
                <div class="resource-content flexrow flex-center flex-between">
                    <input type="number" name="system.motes.peripheral.value" value="{{system.motes.peripheral.value}}"
                        data-dtype="Number" />
                    /
                    <input type="number" name="system.motes.peripheral.max" value="{{system.motes.peripheral.max}}"
                        data-dtype="Number" />
                </div>
            </div>
            <div>
                <label class="resource-label">{{localize "Ex3.Committed"}} {{#if system.settings.editmode}} <a><i
                            class="fas fa-calculator calculate-peripheral-commit cursor-pointer"
                            title="Auto Set Motes"></i></a>{{/if}}</label>
                <input type="number" name="system.motes.peripheral.committed"
                    value="{{system.motes.peripheral.committed}}" data-dtype="Number" />
            </div>
        </div>
        {{/if}}
        {{/if}}
        <div class="flex-center">
            <label class="resource-label roll-ability" data-ability="willpower">{{localize "Ex3.Willpower"}}</label>
            {{#if system.settings.usedotsvalues}}
            <div class="resource-value" data-value="{{system.willpower.max}}" data-name="system.willpower.max">
                {{#numLoop 10}}
                <span class="resource-value-step" data-index="{{this}}"></span>
                {{/numLoop}}
            </div>
            <div class="resource-counter" data-states="x:value" data-value="{{system.willpower.value}}"
                data-name="system.willpower">
                {{#numLoop 10}}
                <span class="resource-counter-step non-health-boxes" data-type="willpower" data-index="{{this}}" data-state=""></span>
                {{/numLoop}}
            </div>
            {{else}}
            <div class="resource-content flexrow flex-center flex-between" style="margin-bottom:3px;">
                <input type="number" name="system.willpower.value" value="{{system.willpower.value}}"
                    data-dtype="Number" />/
                <input type="number" name="system.willpower.max" value="{{system.willpower.max}}" data-dtype="Number" />
            </div>
            {{/if}}
            {{#ifEquals actor.type 'character'}}
                {{#ifNotEquals system.details.exalt 'umbral'}}
                    {{#ifNotEquals system.details.exalt 'other'}}
                        {{#ifEquals system.details.exalt 'alchemical'}}
                        <label class="resource-label">{{localize "Ex3.Clarity"}}</label>
                        {{else}}
                        <label class="resource-label">{{localize "Ex3.Limit"}}</label>
                        {{/ifEquals}}
                        {{#if system.settings.usedotsvalues}}
                        <div>
                            <div class="resource-value" data-value="{{system.limit.value}}" data-name="system.limit.value">
                                {{#numLoop 10}}
                                <span class="resource-value-step" data-index="{{this}}"></span>
                                {{/numLoop}}
                            </div>
                        </div>
                        {{else}}
                        <div class="resource-content flexrow flex-center flex-between">
                            <input type="number" name="system.limit.value" value="{{system.limit.value}}"
                                data-dtype="Number" />
                        </div>
                        {{/if}}
                    {{/ifNotEquals}}
                {{else}}
                    <label class="resource-label">{{localize "Ex3.Penumbra"}}</label>
                    {{#if system.settings.usedotsvalues}}
                    <div>
                        <div class="resource-value" data-value="{{system.penumbra.value}}" data-name="system.penumbra.value">
                            {{#numLoop 10}}
                            <span class="resource-value-step" data-index="{{this}}"></span>
                            {{/numLoop}}
                        </div>
                    </div>
                    {{else}}
                    <div class="resource-content flexrow flex-center flex-between">
                        <input type="number" name="system.penumbra.value" value="{{system.penumbra.value}}"
                            data-dtype="Number" />
                    </div>
                    {{/if}}
                {{/ifNotEquals}}
            {{/ifEquals}}
        </div>
    </div>
</div>