<div style="padding-top:10px;">
    <label class="resource-label">{{localize "Ex3.Actions"}}</label>
    <a class="item-control" data-action="createItem" title="Create action" data-type="action"><i
            class="fas fa-plus"></i></a>
</div>
<div class="attributes grid grid-3col flex-group-center">
    {{#each system.pools as |pool key|}}
    <div class="pool flex-center">
        <label for="system.pools.{{key}}.value" class="resource-label vrollable roll-pool" data-rolltype="ability"
            data-roll="{{pool.value}}" data-pool="{{key}}" data-label="{{pool.name}}">{{localize
            pool.name}}</label>
        <input type="number" name="system.pools.{{key}}.value" value="{{pool.value}}" data-dtype="Number" />
    </div>
    {{/each}}
    {{#each actor.actions as |action key|}}
    <div class="item flex-center" data-item-id="{{action._id}}" data-document-class="Item"  data-drag="true">
        <label class="resource-label roll-action" data-action="rollAction">{{action.name}}</label>
        <a class="item-control" data-action="itemAction" data-actiontype="editItem" title="Edit Item"><i
                class="fas fa-edit"></i></a>
        <a class="item-control" data-action="itemAction" data-actiontype="deleteItem" title="Delete Item"><i
                class="fas fa-trash"></i></a>
        <input class="npc-action" type="number" name="action.system.value" value="{{action.system.value}}"
            data-dtype="Number" />
    </div>
    {{/each}}
</div>
{{#if system.settings.showescort}}
<div>
    <label class="resource-label">{{localize "Ex3.Escort"}}</label>
    <textarea type="text" name="system.escort" rows="6">{{system.escort}}</textarea>
</div>
{{/if}}
<div>
    <label class="resource-label">{{localize "Ex3.Qualities"}}</label>
</div>
<div class="grid grid-2col flex-group-center">
    <div>
        <div class="resource-label">{{localize "Ex3.Battlegroup"}}</div>
        <input data-dtype="Boolean" name="system.battlegroup" type="checkbox" {{checked
            system.battlegroup}}>
    </div>
    <div>
        <label class="resource-label">{{localize "Ex3.SpeedBonus"}}</label>
        <input type="number" name="system.speed.value" value="{{system.speed.value}}" data-dtype="Number" />
    </div>
</div>
<div>
    <textarea type="text" name="system.qualities" rows="12">{{system.qualities}}</textarea>
</div>