<form class="{{cssClass}} flexcol character-sheet-background" autocomplete="off">
    <header class="sheet-header">
        <div class="profile-img-wrapper">
            <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100"
                width="100" />
            <div class="flex-center">
                <label class="resource-label">{{localize "Ex3.Essence"}}</label>
                <input type="number" name="data.essence.value" value="{{data.data.essence.value}}"
                    data-dtype="Number" />
            </div>
            <div class="check-button">
                <label class="resource-label">{{localize "Ex3.Battlegroup"}}:</label>
                <input data-dtype="Boolean" name="data.battlegroup" type="checkbox" {{checked data.data.battlegroup}}>
            </div>
            <div class="check-button">
                <label class="resource-label">{{localize "Ex3.LegendarySize"}}:</label>
                <input data-dtype="Boolean" name="data.legendarysize" type="checkbox" {{checked data.data.legendarysize}}>
            </div>
        </div>
        <div class="header-fields">
            <div>
                <h1 class="charname"><input name="name" type="text" value="{{actor.name}}"
                        placeholder="{{localize 'Ex3.NameTitle'}}" /></h1>
            </div>
            <div class="grid grid-3col flexrow">
                <h1 class="charname"> <select name="data.creaturetype" data-type="String">
                        {{#select data.data.creaturetype}}
                        <option value="animal">{{localize "Ex3.Animal"}}</option>
                        <option value="demon">{{localize "Ex3.Demon"}}</option>
                        <option value="elemental">{{localize "Ex3.Elemental"}}</option>
                        <option value="exalt">{{localize "Ex3.Exalt"}}</option>
                        <option value="fae">{{localize "Ex3.Fae"}}</option>
                        <option value="god">{{localize "Ex3.God"}}</option>
                        <option value="mortal">{{localize "Ex3.Mortal"}}</option>
                        <option value="undead">{{localize "Ex3.Undead"}}</option>
                        <option value="other">{{localize "Ex3.Other"}}</option>
                        {{/select}}
                    </select></h1>
                {{#ifEquals data.data.creaturetype 'demon'}}
                <h1 class="charname"> <select name="data.details.exalt" data-type="String">
                        {{#select data.data.details.exalt}}
                        <option value="first">{{localize "Ex3.First"}} {{localize "Ex3.Circle"}}</option>
                        <option value="second">{{localize "Ex3.Second"}} {{localize "Ex3.Circle"}}</option>
                        <option value="third">{{localize "Ex3.Third"}} {{localize "Ex3.Circle"}}</option>
                        {{/select}}
                    </select></h1>
                {{/ifEquals}}

                {{#ifEquals data.data.creaturetype 'exalt'}}
                <h1 class="charname"> <select name="data.details.exalt" data-type="String">
                        {{#select data.data.details.exalt}}
                        <option value="abyssal">{{localize "Ex3.Abyssal"}}</option>
                        <option value="alchemical">{{localize "Ex3.Alchemical"}}</option>
                        <option value="dragonblooded">{{localize "Ex3.Dragonblooded"}}</option>
                        <option value="exigent">{{localize "Ex3.Exigent"}}</option>
                        <option value="getimian">{{localize "Ex3.Getimian"}}</option>
                        <option value="infernal">{{localize "Ex3.Infernal"}}</option>
                        <option value="liminal">{{localize "Ex3.Liminal"}}</option>
                        <option value="lunar">{{localize "Ex3.Lunar"}}</option>
                        <option value="sidereal">{{localize "Ex3.Sidereal"}}</option>
                        <option value="solar">{{localize "Ex3.Solar"}}</option>
                        <option value="other">{{localize "Ex3.Other"}}</option>
                        {{/select}}
                    </select></h1>
                <h1 class="charname"><input name="data.details.caste" type="text" value="{{data.data.details.caste}}"
                        placeholder="{{localize 'Ex3.CasteAspect'}}" /></h1>
                {{/ifEquals}}

                {{#ifEquals data.data.creaturetype 'fae'}}
                <h1 class="charname"> <select name="data.details.exalt" data-type="String">
                        {{#select data.data.details.exalt}}
                        <option value="creature">{{localize "Ex3.Creature"}}</option>
                        <option value="raksha">{{localize "Ex3.Raksha"}}</option>
                        {{/select}}
                    </select></h1>
                {{/ifEquals}}
            </div>
            <div class="resources grid grid-3col">
                <div class="resource-content flexrow flex-center flex-between">
                    <div>
                        <label class="resource-label">{{localize "Ex3.Personal"}} {{#ifEquals data.data.creaturetype 'exalt'}} <i class="fas fa-calculator calculate-personal-motes cursor-pointer" title="Auto Set Motes"></i> {{/ifEquals}}</label>
                        <div class="resource-content flexrow flex-center flex-between">
                            <input type="number" name="data.motes.personal.value"
                                value="{{data.data.motes.personal.value}}" data-dtype="Number" />
                            /
                            <input type="number" name="data.motes.personal.max"
                                value="{{data.data.motes.personal.max}}" data-dtype="Number" />
                        </div>
                    </div>
                    <div>
                        <label class="resource-label">{{localize "Ex3.Peripheral"}} {{#ifEquals data.data.creaturetype 'exalt'}} <i class="fas fa-calculator calculate-peripheral-motes cursor-pointer" title="Auto Set Motes"></i> {{/ifEquals}}</label>
                        <div class="resource-content flexrow flex-center flex-between">
                            <input type="number" name="data.motes.peripheral.value"
                                value="{{data.data.motes.peripheral.value}}" data-dtype="Number" />
                            /
                            <input type="number" name="data.motes.peripheral.max"
                                value="{{data.data.motes.peripheral.max}}" data-dtype="Number" />
                        </div>
                    </div>
                </div>
                <div class="resource-content flexrow flex-center flex-between">
                    <div>
                        <i id="anima-down" class="fas fa-caret-down cursor-pointer"></i><label
                            class="resource-label">{{localize
                            "Ex3.Anima"}}</label><i id="anima-up" class="fas fa-caret-up cursor-pointer"></i>
                        <div>{{data.data.anima.level}}</div>
                    </div>
                </div>
                <div class="resource-content flexrow flex-center flex-between">
                    {{#ifEquals data.data.details.exalt 'getimian'}}
                    <div>
                        <label class="resource-label">{{localize "Ex3.Flowing"}}</label>
                        <div class="resource-content flexrow flex-center flex-between">
                            <input type="number" name="data.flowing.value" value="{{data.data.flowing.value}}"
                                data-dtype="Number" />
                            /
                            <input type="number" name="data.flowing.total" value="{{data.data.flowing.total}}"
                                data-dtype="Number" />
                        </div>
                    </div>
                    <div>
                        <label class="resource-label">{{localize "Ex3.Still"}}</label>
                        <div class="resource-content flexrow flex-center flex-between">
                            <input type="number" name="data.still.value" value="{{data.data.still.value}}"
                                data-dtype="Number" />
                            /
                            <input type="number" name="data.still.total" value="{{data.data.still.total}}"
                                data-dtype="Number" />
                        </div>
                    </div>
                    {{/ifEquals}}
                    {{#ifEquals data.data.details.exalt 'lunar'}}
                    <div>
                        <label class="resource-label">{{localize "Ex3.Tell"}}</label>
                        <input type="text" name="data.details.tell" value="{{data.data.details.tell}}" />
                    </div>
                    {{/ifEquals}}

                </div>
            </div>
            <div class="resources grid grid-2col">
                <div class="resource flex-group-center d-flex">
                    <div style="margin-right:20px;">
                        <div class="flexrow">
                            <label for="data.health" class="resource-label"><i class="fas fa-calculator cursor-pointer"
                                    id="calculate-health" style="margin-right:3px;" title="Calculate Health"></i>
                                {{#if data.data.battlegroup}}
                                {{localize "Ex3.Magnitude"}}
                                {{else}}
                                {{localize "Ex3.Health"}}
                                {{/if}}
                                <i id="recoveryScene" title="Heal Damage" class="fas fa-plus-square cursor-pointer"
                                    style="margin-left:3px;"></i></label>
                        </div>
                        <div class="resource-content flexrow flex-center flex-between">
                            <div class="resource-counter" data-states="/:bashing,x:lethal,*:aggravated"
                                data-max="{{data.data.health.total}}" data-bashing="{{data.data.health.bashing}}"
                                data-lethal="{{data.data.health.lethal}}"
                                data-aggravated="{{data.data.health.aggravated}}" data-name="data.health">
                                {{#numLoop data.data.health.total}}
                                <span class="resource-counter-step" data-index="{{this}}" data-state=""></span>
                                {{/numLoop}}
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="flex-center">
                            <div class="resource-label">{{localize "Ex3.WoundPenalty"}}</div>
                            <div>-{{data.data.health.penalty}}</div>
                        </div>
                    </div>
                </div>
                <div class="resource-content flexrow flex-center flex-between">
                    <div>
                        <label class="resource-label">{{localize "Ex3.Willpower"}}</label>
                        <div class="resource-content flexrow flex-center flex-between">
                            <input type="number" name="data.willpower.value" value="{{data.data.willpower.value}}"
                                data-dtype="Number" />/
                            <input type="number" name="data.willpower.total" value="{{data.data.willpower.total}}"
                                data-dtype="Number" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="stats">{{localize "Ex3.Stats"}}</a>
        <a class="item" data-tab="combat">{{localize "Ex3.Combat"}}</a>
        <a class="item" data-tab="social">{{localize "Ex3.Social"}}</a>
        <a class="item" data-tab="charms">{{localize "Ex3.Charms"}}/{{localize "Ex3.Spells"}}</a>
        <a class="item" data-tab="effects">{{localize "Ex3.Effects"}}</a>
        <a class="item" data-tab="description">{{localize "Ex3.Description"}}</a>
    </nav>

    <section class="sheet-body">
        <div class="tab flex-center" data-group="primary" data-tab="stats">
            <div style="padding-top:10px;">
                <label class="resource-label">{{localize "Ex3.Actions"}}</label>
                <a class="item-control item-create" title="Create action" data-type="action"><i
                        class="fas fa-plus"></i></a>
            </div>
            <div class="attributes grid grid-3col flex-group-center">
                {{#each data.data.pools as |pool key|}}
                <div class="pool flex-center">
                    <label for="data.pools.{{key}}.value" class="resource-label vrollable roll-pool"
                        data-roll="{{pool.value}}" data-pool="{{key}}" data-label="{{pool.name}}">{{localize
                        pool.name}}</label>
                    <input type="number" name="data.pools.{{key}}.value" value="{{pool.value}}" data-dtype="Number" />
                </div>
                {{/each}}
                {{#each actor.actions as |action key|}}
                <div class="item flex-center" data-item-id="{{action._id}}">
                    <label class="resource-label roll-action">{{action.name}}</label>
                    <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                    <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                    <input class="npc-action" type="number" name="action.data.value" value="{{action.data.value}}"
                        data-dtype="Number" />
                </div>
                {{/each}}
            </div>
            <div>
                <textarea type="text" name="data.qualities" rows="12">{{data.data.qualities}}</textarea>
            </div>
        </div>

        {{!-- Combat Tab --}}
        <div class="tab flex-center" data-group="primary" data-tab="combat">
            {{> systems/exaltedthird/templates/actor/combat-tab.html}}
        </div>
        {{!-- Charms Tab --}}
        <div class="tab items" data-group="primary" data-tab="charms">
            <ol class="items-list">
                <div class="resource-label list-section-header d-flex flex-between">
                    <div>
                        {{localize "Ex3.SpecialAbilities"}}
                    </div>
                    <a class="item-control item-create" title="Create specialability" data-type="specialability"><i
                            class="fas fa-plus"></i>Add S-Ability</a>
                </div>
                {{#each actor.specialabilities as |item id|}}
                <li class="item flexrow item-row" data-item-id="{{item._id}}">
                    <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24" />
                    </div>
                    <h4 class="item-name">{{item.name}}</h4>
                    <div class="item-controls">
                        <a class="item-control item-chat" title="Chat Item"><i class="fas fa-comment"></i></a>
                        <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                        <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                    </div>
                </li>
                <li>
                    <div>
                        {{{item.data.description}}}
                    </div>
                </li>
                {{/each}}
                {{> systems/exaltedthird/templates/actor/charm-list.html}}
                <div class="resource-label list-section-header d-flex flex-between">
                    <div>
                        {{localize "Ex3.Initiations"}}
                    </div>
                    <a class="item-control item-create" title="Create initiation" data-type="initiation"><i
                            class="fas fa-plus"></i>Add Initiation</a>
                </div>
                {{#each actor.initiations as |item id|}}
                <li class="item flexrow item-row" data-item-id="{{item._id}}">
                    <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24" />
                    </div>
                    <h4 class="item-name">{{item.name}}</h4>
                    <div class="item-controls">
                        <a class="item-control item-chat" title="Chat Item"><i class="fas fa-comment"></i></a>
                        <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                        <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                    </div>
                </li>
                <li>
                    <div>
                        {{{item.data.description}}}
                    </div>
                </li>
                {{/each}}
            </ol>
        </div>

        <div class="tab effects" data-group="primary" data-tab="effects">
            {{> systems/exaltedthird/templates/actor/active-effects.html}}
        </div>

        {{!-- Intimacy Tab --}}
        <div class="tab social" data-group="primary" data-tab="social">
            {{> systems/exaltedthird/templates/actor/social-tab.html}}
        </div>

        {{!-- Biography Tab --}}
        <div class="tab biography" data-group="primary" data-tab="description">
            {{editor content=data.data.biography target="data.biography" button=true owner=owner editable=true}}
        </div>
    </section>
</form>