<form class="{{cssClass}} flexcol character-sheet-background" autocomplete="off">
    {{> systems/exaltedthird/templates/actor/actor-header.html}}

    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="stats">{{localize "Ex3.Stats"}}</a>
        <a class="item" data-tab="combat">{{localize "Ex3.Combat"}}</a>
        <a class="item" data-tab="social">{{localize "Ex3.Social"}}</a>
        <a class="item" data-tab="charms">{{localize "Ex3.Charms"}}/{{localize "Ex3.Spells"}}</a>
        <a class="item" data-tab="effects">{{localize "Ex3.Effects"}}</a>
        <a class="item" data-tab="description">{{localize "Ex3.Description"}}</a>
    </nav>

    <section class="sheet-body">
        {{> systems/exaltedthird/templates/actor/npc-stats.html}}
        {{> systems/exaltedthird/templates/actor/combat-tab.html}}
        {{> systems/exaltedthird/templates/actor/social-tab.html}}
        {{> systems/exaltedthird/templates/actor/charms-tab.html}}
        {{> systems/exaltedthird/templates/actor/biography-tab.html}}
    </section>
</form>