<div class="exaltedthird chat-card item-card" data-actor-id="{{actor.id}}" data-item-id="{{item.id}}" {{#if
    tokenId}}data-token-id="{{tokenId}}" {{/if}}>
    <header class="card-header flexrow item-row">
        <img src="{{item.img}}" title="{{item.name}}" width="36" height="36" />
        <h3 class="item-name">{{item.name}}</h3>
    </header>

    <div class="card-content item-description">
        {{#ifEquals item.type 'charm'}}
        <div>
            <b>Cost</b>: {{#ifGreater item.system.cost.motes 0}}{{ item.system.cost.motes }}m,{{/ifGreater}} {{#ifGreater item.system.cost.commitmotes 0}}{{ item.system.cost.commitmotes }}cm,{{/ifGreater}} {{#ifGreater item.system.cost.willpower 0}} {{ item.system.cost.willpower }}wp, {{/ifGreater}} {{#ifGreater item.system.cost.anima 0}}{{ item.system.cost.anima }}a, {{/ifGreater}}
            {{#ifGreater item.system.cost.initiative 0}}{{ item.system.cost.initiative }}i, {{/ifGreater}} {{#ifGreater item.system.cost.silverxp 0}}{{ item.system.cost.silverxp }}sxp, {{/ifGreater}} {{#ifGreater item.system.cost.goldxp 0}} {{
            item.system.cost.goldxp }}gxp, {{/ifGreater}}  {{#ifGreater item.system.cost.whitexp 0}}{{ item.system.cost.whitexp }}wxp; {{/ifGreater}}
        </div>
        {{#ifGreater item.system.cost.health 0}}
        <div>
            <b>Health cost</b>: {{ item.system.cost.health }} {{ item.system.cost.healthtype }}
        </div>
        {{/ifGreater}}
        <div>
            <b>Mins</b>: {{item.system.ability}} {{item.system.requirement}}, Essence {{item.system.essence}}
        </div>
        <div>
            <b>Type</b>: {{item.system.type}}
        </div>
        <div>
            <b>Keywords</b>: {{item.system.keywords}}
        </div>
        <div>
            <b>Duration</b>: {{item.system.duration}}
        </div>
        {{/ifEquals}}
        {{{item.system.description}}}
    </div>
</div>