<form class="{{cssClass}}" autocomplete="off">
    {{> systems/exaltedthird/templates/item/item-header.html}}

    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description">{{localize "Ex3.Description"}}</a>
        <a class="item" data-tab="costs">{{localize "Ex3.Costs"}}</a>
        <a class="item" data-tab="bonuses">{{localize "Ex3.Dice"}}</a>
        <a class="item" data-tab="automations">{{localize "Ex3.Automations"}}</a>
        <a class="item" data-tab="upgrades">{{localize "Ex3.Upgrades"}}</a>
        <a class="item" data-tab="other">{{localize "Ex3.Other"}}</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">
        {{> systems/exaltedthird/templates/item/description-tab.html}}
        {{> systems/exaltedthird/templates/item/cost-tab.html}}
        {{> systems/exaltedthird/templates/item/dice-bonuses-tab.html}}
        {{> systems/exaltedthird/templates/item/automations-tab.html}}
        {{> systems/exaltedthird/templates/item/charm-upgrades-tab.html}}
    </section>
</form>