<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
            <label class="resource-label">{{localize "Ex3.Points"}}: </label>
            <input type="number" name="system.points" value="{{system.points}}" />
        </div>
    </header>

    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description">{{localize "Ex3.Description"}}</a>
        <a class="item" data-tab="triggers">{{localize "Ex3.Triggers"}}</a>
        <a class="item" data-tab="effects">{{localize "Ex3.Effects"}}</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">
        {{!-- Description Tab --}}
        <div class="tab" data-group="primary" data-tab="description">
            <div class="flex-center">
                <div class="resource-label">{{localize "Ex3.Description"}}</div>
            </div>
            {{editor descriptionHTML target="system.description" button=true editable=editable engine="prosemirror"}}
        </div>

        <div class="tab" data-group="primary" data-tab="triggers">
            {{> systems/exaltedthird/templates/item/item-trigger-tab.html}}
        </div>

        <div class="tab" data-group="primary" data-tab="effects">
            <div class="grid grid-3col flex-group-center">
                <div>
                    <div class="resource-label">{{localize "Ex3.Type"}}</div>
                    <select name="system.merittype" data-type="String">
                        {{selectOptions selects.meritTypes selected=system.merittype localize=true blank=""}}
                    </select>
                </div>
                <div>
                    <div class="resource-label">{{localize "Ex3.EndTrigger"}}</div>
                    <select name="system.endtrigger" data-type="String">
                        {{selectOptions selects.endTriggers selected=system.endtrigger localize=true}}
                    </select>
                </div>
                <div>
                    <div class="resource-label">{{localize "Ex3.AutoAddToRolls"}}</div>
                    <select name="system.autoaddtorolls" data-type="String">
                        {{selectOptions selects.autoAddToRollOptions selected=system.autoaddtorolls localize=true}}
                    </select>
                </div>
            </div>
            {{#ifEquals system.merittype 'sorcery'}}
            <div>
                <div class="flex-center">
                    <div class="resource-label">{{localize "Ex3.Archetype"}}</div>
                </div>
                <input type="text" name="system.archetypename" value="{{system.archetypename}}" />
            </div>
            {{/ifEquals}}
            {{#ifEquals system.autoaddtorolls 'sameAbility'}}
            <div class="grid grid-2col flex-group-center">
                <div>
                    <div class="resource-label">{{localize "Ex3.Attribute"}}</div>
                    <select name="system.attribute" data-type="String">
                        {{selectOptions selects.attributes selected=system.attribute localize=true}}
                    </select>
                </div>
                <div>
                    <div class="resource-label">{{localize "Ex3.Ability"}}</div>
                    <select name="system.ability" data-type="String">
                        {{selectOptions abilityList selected=system.ability localize=true}}
                    </select>
                </div>
            </div>
            {{/ifEquals}}
            {{> systems/exaltedthird/templates/actor/active-effects.html}}
        </div>

    </section>
</form>
