<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name" /></h1>
            <label class="resource-label">{{localize "Ex3.Value"}}: </label>
            <input type="number" name="system.value" value="{{system.value}}" />
        </div>
    </header>

    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description">{{localize "Ex3.Description"}}</a>
        <a class="item" data-tab="effects">{{localize "Ex3.Effects"}}</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">
        {{!-- Description Tab --}}
        <div class="tab" data-group="primary" data-tab="description">
            <div class="flex-center">
                <div class="resource-label">{{localize "Ex3.Description"}}</div>
            </div>
            {{editor descriptionHTML target="system.description" button=true editable=editable engine="prosemirror"}}
        </div>

        <div class="tab" data-group="primary" data-tab="effects">
            <div class="resource-label list-section-header d-flex flex-between">
                <div>
                    {{localize "Ex3.LunarFormSettings"}}
                </div>
            </div>
            <div class="grid grid-3col flex-group-center">
                <div>
                    <div class="resource-label">{{localize "Ex3.Attribute"}}</div>
                    <select name="system.lunarstats.attribute" data-type="String">
                        {{selectOptions selects.attributes selected=system.lunarstats.attribute localize=true}}
                    </select>
                </div>
                <div>
                    <div class="resource-label">{{localize "Ex3.Ability"}}</div>
                    <select name="system.lunarstats.ability" data-type="String">
                        {{selectOptions selects.abilities selected=system.lunarstats.ability localize=true}}
                    </select>
                </div>
            </div>
            {{> systems/exaltedthird/templates/actor/active-effects.html}}
        </div>

    </section>
</form>