<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
            <label class="resource-label">{{localize "Ex3.Points"}}: </label>
            <input type="number" name="system.points" value="{{system.points}}" />
        </div>
    </header>

    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description">{{localize "Ex3.Description"}}</a>
        <a class="item" data-tab="effects">{{localize "Ex3.Effects"}}</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">
        {{!-- Description Tab --}}
        <div class="tab" data-group="primary" data-tab="description">
            <div class="flex-center">
                <div class="resource-label">{{localize "Ex3.Description"}}</div>
            </div>
            {{editor descriptionHTML target="system.description" button=true editable=editable engine="prosemirror"}}
        </div>

        <div class="tab" data-group="primary" data-tab="effects">
            <div class="grid grid-2col flex-group-center">
                <div>
                    <div class="resource-label">{{localize "Ex3.Type"}}</div>
                    <select name="system.merittype" data-type="String">
                        {{#select system.merittype}}
                        <option value="">{{localize "Ex3.None"}}</option>
                        <option value="story">{{localize "Ex3.Story"}}</option>
                        <option value="innate">{{localize "Ex3.Innate"}}</option>
                        <option value="purchased">{{localize "Ex3.Purchased"}}</option>
                        <option value="sorcery">{{localize "Ex3.Sorcery"}}</option>
                        {{/select}}
                    </select>
                </div>
                <div>
                    <div class="resource-label">{{localize "Ex3.EndTrigger"}}</div>
                    <select name="system.endtrigger" data-type="String">
                        {{#select system.endtrigger}}
                        <option value="none">{{localize "Ex3.None"}}</option>
                        <option value="startturn">{{localize "Ex3.StartTurn"}}</option>
                        <option value="endturn">{{localize "Ex3.EndTurn"}}</option>
                        <option value="endscene">{{localize "Ex3.EndScene"}}</option>
                        {{/select}}
                    </select>
                </div>
            </div>
            {{> systems/exaltedthird/templates/actor/active-effects.html}}
        </div>

    </section>
</form>
