<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name" /></h1>
            <div>
                <label class="resource-label">{{localize "Ex3.Ability"}}: </label>
                <select name="data.ability" data-type="String">
                    {{#select data.data.ability}}
                    <option value="strength">{{localize "Ex3.Strength"}}</option>
                    <option value="dexterity">{{localize "Ex3.Dexterity"}}</option>
                    <option value="stamina">{{localize "Ex3.Stamina"}}</option>
                    <option value="charisma">{{localize "Ex3.Charisma"}}</option>
                    <option value="manipulation">{{localize "Ex3.Manipulation"}}</option>
                    <option value="appearance">{{localize "Ex3.Appearance"}}</option>
                    <option value="perception">{{localize "Ex3.Perception"}}</option>
                    <option value="intelligence">{{localize "Ex3.Intelligence"}}</option>
                    <option value="wits">{{localize "Ex3.Wits"}}</option>
                    <option value="archery">{{localize "Ex3.Archery"}}</option>
                    <option value="athletics">{{localize "Ex3.Athletics"}}</option>
                    <option value="awareness">{{localize "Ex3.Awareness"}}</option>
                    <option value="brawl">{{localize "Ex3.Brawl"}}</option>
                    <option value="bureaucracy">{{localize "Ex3.Bureaucracy"}}</option>
                    <option value="craft">{{localize "Ex3.Craft"}}</option>
                    <option value="dodge">{{localize "Ex3.Dodge"}}</option>
                    <option value="integrity">{{localize "Ex3.Integrity"}}</option>
                    <option value="investigation">{{localize "Ex3.Investigation"}}</option>
                    <option value="larceny">{{localize "Ex3.Larceny"}}</option>
                    <option value="linguistics">{{localize "Ex3.Linguistics"}}</option>
                    <option value="lore">{{localize "Ex3.Lore"}}</option>
                    <option value="martialarts">{{localize "Ex3.MartialArts"}}</option>
                    <option value="medicine">{{localize "Ex3.Medicine"}}</option>
                    <option value="melee">{{localize "Ex3.Melee"}}</option>
                    <option value="occult">{{localize "Ex3.Occult"}}</option>
                    <option value="performance">{{localize "Ex3.Performance"}}</option>
                    <option value="presence">{{localize "Ex3.Presence"}}</option>
                    <option value="resistance">{{localize "Ex3.Resistance"}}</option>
                    <option value="ride">{{localize "Ex3.Ride"}}</option>
                    <option value="sail">{{localize "Ex3.Sail"}}</option>
                    <option value="socialize">{{localize "Ex3.Socialize"}}</option>
                    <option value="stealth">{{localize "Ex3.Stealth"}}</option>
                    <option value="survival">{{localize "Ex3.Survival"}}</option>
                    <option value="thrown">{{localize "Ex3.Thrown"}}</option>
                    <option value="war">{{localize "Ex3.War"}}</option>
                    <option value="evocation">{{localize "Ex3.Evocation"}}</option>
                    <option value="universal">{{localize "Ex3.Universal"}}</option>
                    <option value="other">{{localize "Ex3.Other"}}</option>
                    {{/select}}
                </select>
                <label class="resource-label">{{localize "Ex3.Requirement"}}: </label>
                <select name="data.requirement" data-type="String">
                    {{#select data.data.requirement}}
                    <option value="0">0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    {{/select}}
                </select>
                <label class="resource-label">{{localize "Ex3.Essence"}}: </label>
                <select name="data.essence" data-type="String">
                    {{#select data.data.essence}}
                    <option value="0">0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    {{/select}}
                </select>
            </div>
        </div>
    </header>

    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description">{{localize "Ex3.Description"}}</a>
        <a class="item" data-tab="effects">{{localize "Ex3.Effects"}}</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Description Tab --}}
        <div class="tab" data-group="primary" data-tab="description">
            <div class="flex-center">
                <div class="resource-label">{{localize "Ex3.Prerequisites"}} (Comma Separated)</div>
            </div>
            <input type="text" name="data.prerequisites" value="{{data.data.prerequisites}}" />
            <div class="flex-center mt-1">
                <div class="resource-label">{{localize "Ex3.Keywords"}}</div>
            </div>
            <textarea type="text" name="data.keywords" rows="2">{{data.data.keywords}}</textarea>
            <div class="grid grid-2col flex-group-center">
                <div>
                    <div class="resource-label">{{localize "Ex3.Type"}}</div>
                    <input type="text" name="data.type" value="{{data.data.type}}" />
                </div>
                <div>
                    <div class="resource-label">{{localize "Ex3.Duration"}}</div>
                    <input type="text" name="data.duration" value="{{data.data.duration}}" />
                </div>
            </div>
            <div class="flex-center">
                <div class="resource-label">{{localize "Ex3.Cost"}}</div>
            </div>
            <div class="d-flex flex-center resources">
                <div>
                    <div class="resource-label">{{localize "Ex3.Motes"}}</div>
                    <input type="number" name="data.cost.motes" value="{{data.data.cost.motes}}" data-dtype="Number" />
                </div>
                <div>
                    <div class="resource-label">{{localize "Ex3.Initiative"}}</div>
                    <input type="number" name="data.cost.initiative" value="{{data.data.cost.initiative}}"
                        data-dtype="Number" />
                </div>
                <div>
                    <div class="resource-label">{{localize "Ex3.Anima"}}</div>
                    <input type="number" name="data.cost.anima" value="{{data.data.cost.anima}}" data-dtype="Number" />
                </div>
                <div>
                    <div class="resource-label">{{localize "Ex3.Willpower"}}</div>
                    <input type="number" name="data.cost.willpower" value="{{data.data.cost.willpower}}"
                        data-dtype="Number" />
                </div>
            </div>
            <div class="grid grid-4col flex-group-center">
                <div>
                    <div class="resource-label">{{localize "Ex3.Health"}}</div>
                    <input type="number" name="data.cost.health" value="{{data.data.cost.health}}"
                        data-dtype="Number" />
                </div>
                <div>
                    <div class="resource-label">{{localize "Ex3.HealthType"}}</div>
                    <select name="data.cost.healthtype" data-type="String">
                        {{#select data.data.cost.healthtype}}
                        <option value="bashing">{{localize "Ex3.Bashing"}}</option>
                        <option value="lethal">{{localize "Ex3.Lethal"}}</option>
                        <option value="aggravated">{{localize "Ex3.Aggravated"}}</option>
                        {{/select}}
                    </select>
                </div>
                <div>
                    <div class="resource-label">{{localize "Ex3.Aura"}}</div>
                    <select name="data.cost.aura" data-type="String">
                        {{#select data.data.cost.aura}}
                        <option value=""></option>
                        <option value="any">{{localize "Ex3.Any"}}</option>
                        <option value="air">{{localize "Ex3.Air"}}</option>
                        <option value="earth">{{localize "Ex3.Earth"}}</option>
                        <option value="fire">{{localize "Ex3.Fire"}}</option>
                        <option value="water">{{localize "Ex3.Water"}}</option>
                        <option value="wood">{{localize "Ex3.Wood"}}</option>
                        {{/select}}
                    </select>
                </div>
                <div>
                    <div class="resource-label">{{localize "Ex3.XP"}}</div>
                    <input type="number" name="data.cost.xp" value="{{data.data.cost.xp}}" data-dtype="Number" />
                </div>
            </div>
            <div class="flex-center">
                <div class="resource-label">{{localize "Ex3.Craft"}} {{localize "Ex3.Cost"}}</div>
            </div>
            <div class="grid grid-3col flex-group-center">
                <div>
                    <div class="resource-label">{{localize "Ex3.Silver"}}</div>
                    <input type="number" name="data.cost.silverxp" value="{{data.data.cost.silverxp}}"
                        data-dtype="Number" />
                </div>
                <div>
                    <div class="resource-label">{{localize "Ex3.Gold"}}</div>
                    <input type="number" name="data.cost.goldxp" value="{{data.data.cost.goldxp}}"
                        data-dtype="Number" />
                </div>
                <div>
                    <div class="resource-label">{{localize "Ex3.White"}}</div>
                    <input type="number" name="data.cost.whitexp" value="{{data.data.cost.whitexp}}"
                        data-dtype="Number" />
                </div>
            </div>
            {{editor content=data.data.description target="data.description" button=true owner=owner editable=true}}
        </div>

        <div class="tab" data-group="primary" data-tab="effects">
            {{> systems/exaltedthird/templates/actor/active-effects.html}}
        </div>

    </section>
</form>