<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
        <div class="header-fields">
            <h1 class="itemname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/>
                <a class="trait-selector" data-options="armortags" data-target="system.traits.armortags">
                    <i class="fas fa-edit"></i>
                </a>
            </h1>
            <div class="mt-1">
                <div class="mt-1">
                    {{#each system.traits.armortags.selected as |v k|}}
                    <li class="tag {{k}}">{{v}}</li>
                    {{/each}}
                </div>
            </div>
        </div>
    </header>

    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description">{{localize "Ex3.Description"}}</a>
        <a class="item" data-tab="effects">{{localize "Ex3.Effects"}}</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Description Tab --}}
        <div class="tab" data-group="primary" data-tab="description">
            <div class="grid grid-4col flex-group-center">
                <div>
                    <div class="resource-label">{{localize "Ex3.Soak"}}</div>
                    <input type="number" name="system.soak" value="{{system.soak}}" data-dtype="Number" />
                </div>
                <div>
                    <div class="resource-label">{{localize "Ex3.Penalty"}}</div>
                    <input type="number" name="system.penalty" value="{{system.penalty}}" data-dtype="Number" />
                </div>
                <div>
                    <div class="resource-label">{{localize "Ex3.Hardness"}}</div>
                    <input type="number" name="system.hardness" value="{{system.hardness}}" data-dtype="Number" />
                </div>
                <div>
                    <label class="resource-label">{{localize "Ex3.Equipped"}}</label>
                    <div>
                        <input name="system.equipped" type="checkbox" {{checked system.equipped}}>
                    </div>
                </div>
            </div>
            <div class="flex-center">
                <div class="resource-label">{{localize "Ex3.Description"}}</div>
            </div>
            {{editor descriptionHTML target="system.description" button=true editable=editable engine="prosemirror"}}
        </div>

        <div class="tab" data-group="primary" data-tab="effects">
            <div class="grid grid-2col flex-group-center">
                <div>
                    <div class="resource-label">{{localize "Ex3.Type"}}</div>
                    <select name="system.weighttype" data-type="String">
                        {{selectOptions selects.armorWeights selected=system.weighttype localize=true}}
                    </select>
                </div>
                <div class="resource">
                    <label class="resource-label">{{localize "Ex3.Cost"}}</label>
                    <input type="text" name="system.cost" value="{{system.cost}}" data-dtype="Number" />
                </div>
                <div class="resource">
                    <label class="resource-label">{{localize "Ex3.Attunement"}}</label>
                    <input type="text" name="system.attunement" value="{{system.attunement}}" data-dtype="Number" />
                </div>
                <div class="resource">
                    <label class="resource-label">{{localize "Ex3.Hearthstones"}}</label>
                    <div class="resource-content flexrow flex-center flex-between">
                        <input type="text" name="system.hearthstones.value" value="{{system.hearthstones.value}}" data-dtype="Number" />/
                        <input type="text" name="system.hearthstones.max" value="{{system.hearthstones.max}}" data-dtype="Number" />
                    </div>
                </div>
                <div>
                    <label class="resource-label">{{localize "Ex3.HasEvocations"}} </label>
                    <div>
                        <input type="checkbox" name="system.hasevocations" {{checked system.hasevocations}}>
                    </div>
                </div>
            </div>
            {{> systems/exaltedthird/templates/actor/active-effects.html}}
        </div>
    </section>
</form>
