<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
        <div class="header-fields">
            <h1 class="itemname"><input name="name" type="text" value="{{item.name}}" placeholder="Name" />
                <a class="trait-selector" data-options="weapontags" data-target="system.traits.weapontags">
                    <i class="fas fa-edit"></i>
                </a>
            </h1>
            <div class="mt-1">
                <div class="mt-1">
                    {{#each system.traits.weapontags.selected as |v k|}}
                    <li class="tag {{k}}">{{v}}</li>
                    {{/each}}
                </div>
            </div>
        </div>
    </header>

    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description">{{localize "Ex3.Description"}}</a>
        <a class="item" data-tab="effects">{{localize "Ex3.Effects"}}</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Description Tab --}}
        <div class="tab" data-group="primary" data-tab="description">
            <div class="grid grid-4col flex-group-center">
                <div>
                    <div class="resource-label">{{localize "Ex3.Attribute"}}</div>
                    <select name="system.attribute" data-type="String">
                        {{#select system.attribute}}
                        <option value="strength">{{localize "Ex3.Strength"}}</option>
                        <option value="dexterity">{{localize "Ex3.Dexterity"}}</option>
                        <option value="stamina">{{localize "Ex3.Stamina"}}</option>
                        <option value="charisma">{{localize "Ex3.Charisma"}}</option>
                        <option value="manipulation">{{localize "Ex3.Manipulation"}}</option>
                        <option value="appearance">{{localize "Ex3.Appearance"}}</option>
                        <option value="perception">{{localize "Ex3.Perception"}}</option>
                        <option value="intelligence">{{localize "Ex3.Intelligence"}}</option>
                        <option value="wits">{{localize "Ex3.Wits"}}</option>
                        <option value="none">{{localize "Ex3.None"}}</option>
                        {{/select}}
                    </select>
                </div>
                <div>
                    <div class="resource-label">{{localize "Ex3.Ability"}}</div>
                    <select name="system.ability" data-type="String">
                        {{#select system.ability}}
                        <option value="archery">{{localize "Ex3.Archery"}}</option>
                        <option value="athletics">{{localize "Ex3.Athletics"}}</option>
                        <option value="awareness">{{localize "Ex3.Awareness"}}</option>
                        <option value="brawl">{{localize "Ex3.Brawl"}}</option>
                        <option value="bureaucracy">{{localize "Ex3.Bureaucracy"}}</option>
                        <option value="craft">{{localize "Ex3.Craft"}}</option>
                        <option value="dodge">{{localize "Ex3.Dodge"}}</option>
                        <option value="integrity">{{localize "Ex3.Integrity"}}</option>
                        <option value="investigation">{{localize "Ex3.Investigation"}}</option>
                        <option value="larceny">{{localize "Ex3.Larceny"}}</option>
                        <option value="linguistics">{{localize "Ex3.Linguistics"}}</option>
                        <option value="lore">{{localize "Ex3.Lore"}}</option>
                        <option value="martialarts">{{localize "Ex3.MartialArts"}}</option>
                        <option value="medicine">{{localize "Ex3.Medicine"}}</option>
                        <option value="melee">{{localize "Ex3.Melee"}}</option>
                        <option value="occult">{{localize "Ex3.Occult"}}</option>
                        <option value="performance">{{localize "Ex3.Performance"}}</option>
                        <option value="presence">{{localize "Ex3.Presence"}}</option>
                        <option value="resistance">{{localize "Ex3.Resistance"}}</option>
                        <option value="ride">{{localize "Ex3.Ride"}}</option>
                        <option value="sail">{{localize "Ex3.Sail"}}</option>
                        <option value="socialize">{{localize "Ex3.Socialize"}}</option>
                        <option value="stealth">{{localize "Ex3.Stealth"}}</option>
                        <option value="survival">{{localize "Ex3.Survival"}}</option>
                        <option value="thrown">{{localize "Ex3.Thrown"}}</option>
                        <option value="war">{{localize "Ex3.War"}}</option>
                        <option value="none">{{localize "Ex3.None"}}</option>
                        {{/select}}
                    </select>
                </div>
                <div>
                    <div class="resource-label">{{localize "Ex3.Damage"}}</div>
                    <select name="system.damageattribute" data-type="String">
                        {{#select system.damageattribute}}
                        <option value="strength">{{localize "Ex3.Strength"}}</option>
                        <option value="dexterity">{{localize "Ex3.Dexterity"}}</option>
                        <option value="stamina">{{localize "Ex3.Stamina"}}</option>
                        <option value="charisma">{{localize "Ex3.Charisma"}}</option>
                        <option value="manipulation">{{localize "Ex3.Manipulation"}}</option>
                        <option value="appearance">{{localize "Ex3.Appearance"}}</option>
                        <option value="perception">{{localize "Ex3.Perception"}}</option>
                        <option value="intelligence">{{localize "Ex3.Intelligence"}}</option>
                        <option value="wits">{{localize "Ex3.Wits"}}</option>
                        <option value="none">{{localize "Ex3.None"}}</option>
                        {{/select}}
                    </select>
                </div>
                <div>
                    <div class="resource-label">{{localize "Ex3.Type"}}</div>
                    <select name="system.weapontype" data-type="String">
                        {{#select system.weapontype}}
                        <option value="melee">{{localize "Ex3.Melee"}}</option>
                        <option value="bolt">{{localize "Ex3.Bolt"}}</option>
                        <option value="ranged">{{localize "Ex3.Ranged"}}</option>
                        <option value="siege">{{localize "Ex3.Siege"}}</option>
                        <option value="thrown">{{localize "Ex3.Thrown"}}</option>
                        {{/select}}
                    </select>
                </div>
            </div>
            <div class="check-button flex-center mb-1">
                <label class="resource-label">{{localize "Ex3.Equipped"}}: </label>
                <input name="system.equiped" type="checkbox" value="system.equiped" {{checked system.equiped}}>
            </div>
            <div class="d-flex flex-center resources">
                <div>
                    <div class="resource-label">{{localize "Ex3.Accuracy"}} </div>
                    <input type="number" name="system.witheringaccuracy" value="{{system.witheringaccuracy}}"
                        data-dtype="Number" />
                </div>
                <div>
                    <div class="resource-label">{{localize "Ex3.Damage"}}</div>
                    <input type="number" name="system.witheringdamage" value="{{system.witheringdamage}}"
                        data-dtype="Number" />
                </div>
            </div>
            <div class="d-flex flex-center mt-1 mb-1">
                Use short range for ranged weapon accuracy.
            </div>
            <div class="d-flex flex-center resources">
                <div>
                    <div class="resource-label">{{localize "Ex3.Defense"}}</div>
                    <input type="number" name="system.defence" value="{{system.defence}}" data-dtype="Number" />
                </div>
                <div>
                    <div class="resource-label">{{localize "Ex3.Overwhelming"}}</div>
                    <input type="number" name="system.overwhelming" value="{{system.overwhelming}}"
                        data-dtype="Number" />
                </div>
            </div>
            {{editor system.description target="system.description" button=true owner=owner editable=true}}
        </div>

        <div class="tab" data-group="primary" data-tab="effects">
            <div>
                <div class="d-flex flex-center resources">
                    <label class="resource-label mr-1">{{localize "Ex3.AttackEffect"}} </label>
                </div>
                <div>
                    <label class="resource-label mr-1">{{localize "Ex3.Preset"}}: </label>
                    <select name="system.attackeffectpreset" data-type="String">
                        {{#select system.attackeffectpreset}}
                        <option value="arrow">{{localize "Ex3.Arrow"}}</option>
                        <option value="bite">{{localize "Ex3.Bite"}}</option>
                        <option value="brawl">{{localize "Ex3.Brawl"}}</option>
                        <option value="claws">{{localize "Ex3.Claws"}}</option>
                        <option value="fireball">{{localize "Ex3.Fireball"}}</option>
                        <option value="firebreath">{{localize "Ex3.Firebreath"}}</option>
                        <option value="flamepiece">{{localize "Ex3.Flamepiece"}}</option>
                        <option value="glaive">{{localize "Ex3.Glaive"}}</option>
                        <option value="goremaul">{{localize "Ex3.Goremaul"}}</option>
                        <option value="greatsaxe">{{localize "Ex3.Greataxe"}}</option>
                        <option value="greatsword">{{localize "Ex3.Greatsword"}}</option>
                        <option value="handaxe">{{localize "Ex3.Handaxe"}}</option>
                        <option value="lightning">{{localize "Ex3.Lightning"}}</option>
                        <option value="quarterstaff">{{localize "Ex3.Quarterstaff"}}</option>
                        <option value="rapier">{{localize "Ex3.Rapier"}}</option>
                        <option value="scimitar">{{localize "Ex3.Scimitar"}}</option>
                        <option value="shortsword">{{localize "Ex3.Shortsword"}}</option>
                        <option value="spear">{{localize "Ex3.Spear"}}</option>
                        <option value="sword">{{localize "Ex3.Sword"}}</option>
                        <option value="throwdagger">{{localize "Ex3.ThrownDagger"}}</option>
                        <option value="none">{{localize "Ex3.None"}}</option>
                        {{/select}}
                    </select>
                    <div>
                        <label class="resource-label mr-1">{{localize "Ex3.CustomInput"}}: </label>
                        <input type="text" name="system.attackeffect" value="{{system.attackeffect}}"
                            placeholder="jb2a.quarterstaff.melee.01.white" />
                    </div>
                </div>
            </div>
            {{> systems/exaltedthird/templates/actor/active-effects.html}}
        </div>

    </section>
</form>