<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <div class="profile-img-wrapper">
            <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
            <div class="check-button flex-center mb-1">
                <label class="resource-label">{{localize "Ex3.Equipped"}}: </label>
                <input name="system.equipped" type="checkbox" {{checked system.equipped}}>
            </div>
        </div>
        <div class="header-fields">
            <h1 class="itemname"><input name="name" type="text" value="{{item.name}}" placeholder="Name" />
                <a class="trait-selector" data-options="weapontags" data-target="system.traits.weapontags">
                    <i class="fas fa-edit"></i>
                </a>
            </h1>
            <div class="mt-1">
                <div class="mt-1">
                    {{#each system.traits.weapontags.selected as |v k|}}
                    <li class="tag {{k}}">{{v}}</li>
                    {{/each}}
                </div>
            </div>
        </div>
    </header>

    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description">{{localize "Ex3.Description"}}</a>
        <a class="item" data-tab="details">{{localize "Ex3.Details"}}</a>
        <a class="item" data-tab="triggers">{{localize "Ex3.Triggers"}}</a>
        <a class="item" data-tab="effects">{{localize "Ex3.Effects"}}</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Description Tab --}}
        <div class="tab" data-group="primary" data-tab="description">
            <div class="grid grid-4col flex-group-center">
                <div>
                    <div class="resource-label">{{localize "Ex3.Attribute"}}</div>
                    <select name="system.attribute" data-type="String">
                        {{selectOptions selects.attributes selected=system.attribute localize=true}}
                    </select>
                </div>
                <div>
                    <div class="resource-label">{{localize "Ex3.Ability"}}</div>
                    <select name="system.ability" data-type="String">
                        {{selectOptions abilityList selected=system.ability localize=true}}
                    </select>
                </div>
                <div>
                    <div class="resource-label">{{localize "Ex3.Damage"}}</div>
                    <select name="system.damageattribute" data-type="String">
                        {{selectOptions selects.attributes selected=system.damageattribute localize=true}}
                    </select>
                </div>
                <div>
                    <div class="resource-label">{{localize "Ex3.Type"}}</div>
                    <select name="system.weapontype" data-type="String">
                        {{selectOptions selects.weaponTypes selected=system.weapontype localize=true}}
                    </select>
                </div>
            </div>
            <div class="d-flex flex-center resources">
                <div>
                    <div class="resource-label">{{localize "Ex3.Accuracy"}} </div>
                    <input type="number" name="system.witheringaccuracy" value="{{system.witheringaccuracy}}"
                        data-dtype="Number" />
                </div>
                <div>
                    <div class="resource-label">{{localize "Ex3.Damage"}}</div>
                    <input type="number" name="system.witheringdamage" value="{{system.witheringdamage}}"
                        data-dtype="Number" />
                </div>
                <div>
                    <div class="resource-label">{{localize "Ex3.Defense"}}</div>
                    <input type="number" name="system.defense" value="{{system.defense}}" data-dtype="Number" />
                </div>
                <div>
                    <div class="resource-label">{{localize "Ex3.Overwhelming"}}</div>
                    <input type="number" name="system.overwhelming" value="{{system.overwhelming}}"
                        data-dtype="Number" />
                </div>
            </div>
            <div class="d-flex flex-center mt-1 mb-1">
                Use short range for ranged weapon accuracy.
            </div>
            <div class="grid grid-3col flex-group-center">
                <div>
                    <div class="resource-label">{{localize "Ex3.DecisiveDamageDice"}}</div>
                    <select name="system.decisivedamagetype" data-type="String">
                        {{selectOptions selects.decisiveDamageTypes selected=system.decisivedamagetype localize=true}}
                    </select>
                </div>
                {{#ifEquals system.decisivedamagetype 'static'}}
                <div>
                    <div class="resource-label">{{localize "Ex3.StaticDamage"}}</div>
                    <input type="number" name="system.staticdamage" value="{{system.staticdamage}}"
                        data-dtype="Number" />
                </div>
                {{/ifEquals}}
                <div>
                    <label class="resource-label">{{localize "Ex3.ResetInitiative"}}</label>
                    <div>
                        <input name="system.resetinitiative" type="checkbox" {{checked
                            system.resetinitiative}}>
                    </div>
                </div>
            </div>
            <div class="flex-center">
                <div class="resource-label">{{localize "Ex3.Description"}}</div>
            </div>
            {{editor descriptionHTML target="system.description" button=true editable=editable engine="prosemirror"}}
        </div>

        <div class="tab" data-group="primary" data-tab="details">
            <div>
                <div class="grid grid-2col flex-group-center">
                    <div>
                        <div class="resource-label">{{localize "Ex3.Type"}}</div>
                        <select name="system.weighttype" data-type="String">
                            {{selectOptions selects.weaponWeightTypes selected=system.weighttype localize=true}}
                        </select>
                    </div>
                    <div class="resource">
                        <label class="resource-label">{{localize "Ex3.Cost"}}</label>
                        <input type="text" name="system.cost" value="{{system.cost}}" data-dtype="Number" />
                    </div>
                    <div class="resource">
                        <label class="resource-label">{{localize "Ex3.Attunement"}}</label>
                        <input type="text" name="system.attunement" value="{{system.attunement}}" data-dtype="Number" />

                        <div class="resource-content flexrow flex-center flex-between">

                        </div>
                    </div>
                    <div class="resource">
                        <label class="resource-label">{{localize "Ex3.Hearthstones"}}</label>
                        <div class="resource-content flexrow flex-center flex-between">
                            <input type="text" name="system.hearthstones.value" value="{{system.hearthstones.value}}"
                                data-dtype="Number" />/
                            <input type="text" name="system.hearthstones.max" value="{{system.hearthstones.max}}"
                                data-dtype="Number" />
                        </div>
                    </div>
                    <div>
                        <label class="resource-label">{{localize "Ex3.HasEvocations"}} </label>
                        <div>
                            <input type="checkbox" name="system.hasevocations" {{checked system.hasevocations}}>
                        </div>
                    </div>
                    <div>
                        <div class="resource-label">{{localize "Ex3.TargetStat"}}</div>
                        <select name="system.targetstat" data-type="String">
                            {{selectOptions selects.targetDefenseStats selected=system.targetstat localize=true}}
                        </select>
                    </div>
                </div>
                <div class="d-flex flex-center resource-label">
                    <div class="resource-label mr-1">{{localize "Ex3.PoisonRoundTrigger"}} </div>
                    <input name="system.poison.apply" type="checkbox" {{checked
                        system.poison.apply}}>
                </div>
                <div class="grid grid-3col flex-group-center">
                    <div class="resource">
                        <label class="resource-label">{{localize "Ex3.Name"}}</label>
                        <input type="text" name="system.poison.name" value="{{system.poison.name}}"/>
                    </div>
                    <div class="resource">
                        <label class="resource-label">{{localize "Ex3.Damage"}}</label>
                        <input type="text" name="system.poison.damage" value="{{system.poison.damage}}" data-dtype="Number" />
                    </div>
                    <div class="resource">
                        <label class="resource-label">{{localize "Ex3.Penalty"}}</label>
                        <input type="text" name="system.poison.penalty" value="{{system.poison.penalty}}" data-dtype="Number" />
                    </div>
                    <div class="resource">
                        <label class="resource-label">{{localize "Ex3.Duration"}}</label>
                        <input type="text" name="system.poison.duration" value="{{system.poison.duration}}" data-dtype="Number" />
                    </div>
                    <div>
                        <div class="resource-label">{{localize "Ex3.DamageType"}}</div>
                        <select name="system.poison.damagetype" data-type="String">
                            {{selectOptions selects.poisonDamageTypes selected=system.poison.damagetype localize=true}}
                        </select>
                    </div>
                </div>
                <div class="d-flex flex-center resources">
                    <label class="resource-label mr-1">{{localize "Ex3.AttackEffect"}} </label>
                </div>
                <div>
                    <label class="resource-label mr-1">{{localize "Ex3.Preset"}}: </label>
                    <select name="system.attackeffectpreset" data-type="String">
                        {{selectOptions selects.attackEffectPresets selected=system.attackeffectpreset localize=true}}
                    </select>
                    <div>
                        <label class="resource-label mr-1">{{localize "Ex3.CustomInput"}}: </label>
                        <input type="text" name="system.attackeffect" value="{{system.attackeffect}}"
                            placeholder="jb2a.quarterstaff.melee.01.white" />
                    </div>
                    <div class="resource-label list-section-header d-flex flex-between">
                        <div>
                            {{localize "Ex3.AttackMacro"}}
                        </div>
                    </div>
                    <div class="flex-group-center d-flex flex-col">
                        <textarea type="text" name="system.attackmacro" rows="16"
                            placeholder='{{localize "Ex3.AttackMacroHint"}}'>{{system.attackmacro}}</textarea>
                    </div>
                </div>
            </div>
        </div>

        <div class="tab" data-group="primary" data-tab="triggers">
            {{> systems/exaltedthird/templates/item/item-trigger-tab.html}}
        </div>

        <div class="tab" data-group="primary" data-tab="effects">
            {{> systems/exaltedthird/templates/actor/active-effects.html}}
        </div>

    </section>
</form>