<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <div class="profile-img-wrapper">
            <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
        </div>
        <div class="header-fields">
            <h1 class="itemname"><input name="name" type="text" value="{{item.name}}" placeholder="Name" />
                {{#ifEquals system.abilitytype 'martialart'}}
                <a class="trait-selector" data-options="weapons" data-target="system.traits.weapons">
                    <i class="fas fa-edit"></i>
                </a>
                {{/ifEquals}}
            </h1>
            <div class="mt-1">
                <div class="mt-1">
                    {{#each system.traits.weapons.selected as |v k|}}
                    <li class="tag {{k}}">{{v}}</li>
                    {{/each}}
                </div>
            </div>
        </div>
    </header>
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description">{{localize "Ex3.Description"}}</a>
        <a class="item" data-tab="details">{{localize "Ex3.Details"}}</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">
        {{!-- Description Tab --}}
        <div class="tab" data-group="primary" data-tab="description">
            {{editor descriptionHTML target="system.description" button=true editable=editable engine="prosemirror"}}
        </div>

        <div class="tab" data-group="primary" data-tab="details">
            <div class="grid grid-3col flex-group-center">
                <div>
                    <div class="resource-label">{{localize "Ex3.Type"}}</div>
                    <select name="system.abilitytype" data-type="String">
                        {{#select system.abilitytype}}
                        <option value="craft">{{localize "Ex3.Craft"}}</option>
                        <option value="martialart">{{localize "Ex3.MartialArt"}}</option>
                        <option value="other">{{localize "Ex3.Other"}}</option>
                        {{/select}}
                    </select>
                </div>
                {{#ifEquals system.abilitytype 'martialart'}}
                    <div>
                        <div class="resource-label">{{localize "Ex3.ArmorAllowance"}}</div>
                        <select name="system.armorallowance" data-type="String">
                            {{#select system.armorallowance}}
                            <option value="none">{{localize "Ex3.NoArmor"}}</option>
                            <option value="light">{{localize "Ex3.Light"}}</option>
                            <option value="medium">{{localize "Ex3.Medium"}}</option>
                            <option value="heavy">{{localize "Ex3.Heavy"}}</option>
                            <option value="">{{localize "Ex3.NotSet"}}</option>
                            {{/select}}
                        </select>
                    </div>
                {{/ifEquals}}
                <div>
                    <div class="resource-label">{{localize "Ex3.Points"}}</div>
                    <input type="number" name="system.points" value="{{system.points}}"/>
                </div>
                <div>
                    <div class="resource-label">{{localize "Ex3.Favored"}}</div>
                    <input name="system.favored" type="checkbox" {{checked system.favored}}>
                </div>
                <div>
                    <div class="resource-label">{{localize "Ex3.Excellency"}}</div>
                    <input name="system.excellency" type="checkbox" {{checked system.excellency}}>
                </div>
                <div>
                    <div class="resource-label">{{localize "Ex3.SiderealMartialArt"}}</div>
                    <input name="system.siderealmartialart" type="checkbox" {{checked system.siderealmartialart}}>
                </div>
                {{#if system.siderealmartialart}}
                <div>
                    <div class="resource-label">{{localize "Ex3.Nature"}}</div>
                    <select name="system.nature" data-type="String">
                        {{#select system.nature}}
                        <option value="">{{localize "Ex3.None"}}</option>
                        <option value="flowing">{{localize "Ex3.Flowing"}}</option>
                        <option value="still">{{localize "Ex3.Still"}}</option>
                        <option value="both">{{localize "Ex3.Both"}}</option>
                        {{/select}}
                    </select>
                </div>
                {{/if}}
                <div>
                    <div class="resource-label">{{localize "Ex3.Maiden"}}</div>
                    <select name="system.maiden" data-type="String">
                        {{#select system.maiden}}
                        <option value="">{{localize "Ex3.None"}}</option>
                        <option value="journeys">{{localize "Ex3.Journeys"}}</option>
                        <option value="serenity">{{localize "Ex3.Serenity"}}</option>
                        <option value="battles">{{localize "Ex3.Battles"}}</option>
                        <option value="secrets">{{localize "Ex3.Secrets"}}</option>
                        <option value="endings">{{localize "Ex3.Endings"}}</option>
                        {{/select}}
                    </select>
                </div>
            </div>
            {{> systems/exaltedthird/templates/actor/active-effects.html}}
        </div>

    </section>
</form>
