<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <div class="profile-img-wrapper">
            <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
        </div>
        <div class="header-fields">
            <h1 class="itemname"><input name="name" type="text" value="{{item.name}}" placeholder="Name" />
                {{#ifEquals system.abilitytype 'martialart'}}
                <a class="trait-selector" data-options="weapons" data-target="system.traits.weapons">
                    <i class="fas fa-edit"></i>
                </a>
                {{/ifEquals}}
            </h1>
            <div class="mt-1">
                <div class="mt-1">
                    {{#each system.traits.weapons.selected as |v k|}}
                    <li class="tag {{k}}">{{v}}</li>
                    {{/each}}
                </div>
            </div>
        </div>
    </header>
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description">{{localize "Ex3.Description"}}</a>
        <a class="item" data-tab="details">{{localize "Ex3.Details"}}</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">
        {{!-- Description Tab --}}
        <div class="tab" data-group="primary" data-tab="description">
            {{editor descriptionHTML target="system.description" button=true editable=editable engine="prosemirror"}}
        </div>

        <div class="tab" data-group="primary" data-tab="details">
            <div class="grid grid-3col flex-group-center">
                <div>
                    <div class="resource-label">{{localize "Ex3.Type"}}</div>
                    <select name="system.abilitytype" data-type="String">
                        {{selectOptions selects.customAbilityTypes selected=system.abilitytype localize=true}}
                    </select>
                </div>
                <div>
                    <div class="resource-label">{{localize "Ex3.Attribute"}}</div>
                    <select name="system.attribute" data-type="String">
                        {{selectOptions selects.customAbilityattributes selected=system.attribute localize=true}}
                    </select>
                </div>
                {{#ifEquals system.abilitytype 'martialart'}}
                    <div>
                        <div class="resource-label">{{localize "Ex3.ArmorAllowance"}}</div>
                        <select name="system.armorallowance" data-type="String">
                            {{selectOptions selects.martialArtsArmorAllowances selected=system.armorallowance localize=true}}
                        </select>
                    </div>
                {{/ifEquals}}
                <div>
                    <div class="resource-label">{{localize "Ex3.Points"}}</div>
                    <input type="number" name="system.points" value="{{system.points}}"/>
                </div>
                <div>
                    <div class="resource-label">{{localize "Ex3.Favored"}}</div>
                    <input name="system.favored" type="checkbox" {{checked system.favored}}>
                </div>
                <div>
                    <div class="resource-label">{{localize "Ex3.Excellency"}}</div>
                    <input name="system.excellency" type="checkbox" {{checked system.excellency}}>
                </div>
                <div>
                    <div class="resource-label">{{localize "Ex3.SiderealMartialArt"}}</div>
                    <input name="system.siderealmartialart" type="checkbox" {{checked system.siderealmartialart}}>
                </div>
                {{#if system.siderealmartialart}}
                <div>
                    <div class="resource-label">{{localize "Ex3.Nature"}}</div>
                    <select name="system.nature" data-type="String">
                        {{selectOptions selects.smaNatures selected=system.nature localize=true}}
                    </select>
                </div>
                {{/if}}
                <div>
                    <div class="resource-label">{{localize "Ex3.Maiden"}}</div>
                    <select name="system.maiden" data-type="String">
                        {{selectOptions selects.maidens selected=system.maiden localize=true}}
                    </select>
                </div>
                <div>
                    <div class="resource-label">{{localize "Ex3.FormulaKey"}}</div>
                    <input type="text" name="system.formulakey" value="{{system.formulakey}}" placeholder="{{formulaKeyPlaceholder}}"/>
                </div>
            </div>
            {{> systems/exaltedthird/templates/actor/active-effects.html}}
        </div>

    </section>
</form>
