<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <div class="profile-img-wrapper">
            <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
            <div class="check-button flex-center mb-1">
                <label class="resource-label">{{localize "Ex3.Equipped"}}: </label>
                <input name="system.equipped" type="checkbox" value="system.equipped" {{checked system.equipped}}>
            </div>
        </div>
        <div class="header-fields">
            <h1 class="itemname"><input name="name" type="text" value="{{item.name}}" placeholder="Name" />
                <a class="trait-selector" data-options="weapontags" data-target="system.traits.weapontags">
                    <i class="fas fa-edit"></i>
                </a>
            </h1>
            <div class="mt-1">
                <div class="mt-1">
                    {{#each system.traits.weapontags.selected as |v k|}}
                    <li class="tag {{k}}">{{v}}</li>
                    {{/each}}
                </div>
            </div>
        </div>
    </header>

    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description">{{localize "Ex3.Description"}}</a>
        <a class="item" data-tab="details">{{localize "Ex3.Details"}}</a>
        <a class="item" data-tab="effects">{{localize "Ex3.Effects"}}</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Description Tab --}}
        <div class="tab" data-group="primary" data-tab="description">
            <div class="grid grid-4col flex-group-center">
                <div>
                    <div class="resource-label">{{localize "Ex3.Attribute"}}</div>
                    <select name="system.attribute" data-type="String">
                        {{#select system.attribute}}
                        {{#each attributeList as |label attribute|}}
                        <option value="{{attribute}}">{{localize label}}</option>
                        {{/each}}
                        <option value="none">{{localize "Ex3.None"}}</option>
                        {{/select}}
                    </select>
                </div>
                <div>
                    <div class="resource-label">{{localize "Ex3.Ability"}}</div>
                    <select name="system.ability" data-type="String">
                        {{#select system.ability}}
                        {{#each abilityList as |label ability|}}
                        <option value="{{ability}}">{{localize label}}</option>
                        {{/each}}
                        <option value="none">{{localize "Ex3.None"}}</option>
                        {{/select}}
                    </select>
                </div>
                <div>
                    <div class="resource-label">{{localize "Ex3.Damage"}}</div>
                    <select name="system.damageattribute" data-type="String">
                        {{#select system.damageattribute}}
                        {{#each attributeList as |label ability|}}
                        <option value="{{ability}}">{{localize label}}</option>
                        {{/each}}
                        <option value="none">{{localize "Ex3.None"}}</option>
                        {{/select}}
                    </select>
                </div>
                <div>
                    <div class="resource-label">{{localize "Ex3.Type"}}</div>
                    <select name="system.weapontype" data-type="String">
                        {{#select system.weapontype}}
                        <option value="melee">{{localize "Ex3.Melee"}}</option>
                        <option value="bolt">{{localize "Ex3.Bolt"}}</option>
                        <option value="ranged">{{localize "Ex3.Ranged"}}</option>
                        <option value="siege">{{localize "Ex3.Siege"}}</option>
                        <option value="thrown">{{localize "Ex3.Thrown"}}</option>
                        {{/select}}
                    </select>
                </div>
            </div>
            <div class="d-flex flex-center resources">
                <div>
                    <div class="resource-label">{{localize "Ex3.Accuracy"}} </div>
                    <input type="number" name="system.witheringaccuracy" value="{{system.witheringaccuracy}}"
                        data-dtype="Number" />
                </div>
                <div>
                    <div class="resource-label">{{localize "Ex3.Damage"}}</div>
                    <input type="number" name="system.witheringdamage" value="{{system.witheringdamage}}"
                        data-dtype="Number" />
                </div>
                <div>
                    <div class="resource-label">{{localize "Ex3.Defense"}}</div>
                    <input type="number" name="system.defense" value="{{system.defense}}" data-dtype="Number" />
                </div>
                <div>
                    <div class="resource-label">{{localize "Ex3.Overwhelming"}}</div>
                    <input type="number" name="system.overwhelming" value="{{system.overwhelming}}"
                        data-dtype="Number" />
                </div>
            </div>
            <div class="d-flex flex-center mt-1 mb-1">
                Use short range for ranged weapon accuracy.
            </div>
            <div class="grid grid-3col flex-group-center">
                <div>
                    <div class="resource-label">{{localize "Ex3.DecisiveDamageDice"}}</div>
                    <select name="system.decisivedamagetype" data-type="String">
                        {{#select system.decisivedamagetype}}
                        <option value="initiative">{{localize "Ex3.Initiative"}}</option>
                        <option value="static">{{localize "Ex3.Static"}}</option>
                        {{/select}}
                    </select>
                </div>
                {{#ifEquals system.decisivedamagetype 'static'}}
                <div>
                    <div class="resource-label">{{localize "Ex3.StaticDamage"}}</div>
                    <input type="number" name="system.staticdamage" value="{{system.staticdamage}}"
                        data-dtype="Number" />
                </div>
                {{/ifEquals}}
                <div>
                    <label class="resource-label">{{localize "Ex3.ResetInitiative"}}</label>
                    <div>
                        <input name="system.resetinitiative" type="checkbox" value="system.resetinitiative" {{checked
                            system.resetinitiative}}>
                    </div>
                </div>
            </div>
            {{editor descriptionHTML target="system.description" button=true editable=editable engine="prosemirror"}}
        </div>

        <div class="tab" data-group="primary" data-tab="details">
            <div>
                <div class="grid grid-2col flex-group-center">
                    <div>
                        <div class="resource-label">{{localize "Ex3.Type"}}</div>
                        <select name="system.weighttype" data-type="String">
                            {{#select system.weighttype}}
                            <option value="light">{{localize "Ex3.Light"}}</option>
                            <option value="medium">{{localize "Ex3.Medium"}}</option>
                            <option value="heavy">{{localize "Ex3.Heavy"}}</option>
                            <option value="bolt">{{localize "Ex3.Bolt"}}</option>
                            <option value="siege">{{localize "Ex3.Siege"}}</option>
                            <option value="other">{{localize "Ex3.Other"}}</option>
                            {{/select}}
                        </select>
                    </div>
                    <div class="resource">
                        <label class="resource-label">{{localize "Ex3.Cost"}}</label>
                        <input type="text" name="system.cost" value="{{system.cost}}" data-dtype="Number" />
                    </div>
                    <div class="resource">
                        <label class="resource-label">{{localize "Ex3.Attunement"}}</label>
                        <input type="text" name="system.attunement" value="{{system.attunement}}" data-dtype="Number" />

                        <div class="resource-content flexrow flex-center flex-between">

                        </div>
                    </div>
                    <div class="resource">
                        <label class="resource-label">{{localize "Ex3.Hearthstones"}}</label>
                        <div class="resource-content flexrow flex-center flex-between">
                            <input type="text" name="system.hearthstones.value" value="{{system.hearthstones.value}}"
                                data-dtype="Number" />/
                            <input type="text" name="system.hearthstones.max" value="{{system.hearthstones.max}}"
                                data-dtype="Number" />
                        </div>
                    </div>
                </div>
                <div class="d-flex flex-center resource-label">
                    <div class="resource-label mr-1">{{localize "Ex3.PoisonRoundTrigger"}} </div>
                    <input name="system.poison.apply" value="system.poison.apply" type="checkbox" {{checked
                        system.poison.apply}}>
                </div>
                <div class="grid grid-3col flex-group-center">
                    <div class="resource">
                        <label class="resource-label">{{localize "Ex3.Name"}}</label>
                        <input type="text" name="system.poison.name" value="{{system.poison.name}}"/>
                    </div>
                    <div class="resource">
                        <label class="resource-label">{{localize "Ex3.Damage"}}</label>
                        <input type="text" name="system.poison.damage" value="{{system.poison.damage}}" data-dtype="Number" />
                    </div>
                    <div class="resource">
                        <label class="resource-label">{{localize "Ex3.Penalty"}}</label>
                        <input type="text" name="system.poison.penalty" value="{{system.poison.penalty}}" data-dtype="Number" />
                    </div>
                    <div class="resource">
                        <label class="resource-label">{{localize "Ex3.Difficulty"}}</label>
                        <input type="text" name="system.poison.difficulty" value="{{system.poison.difficulty}}" data-dtype="Number" />
                    </div>
                    <div>
                        <div class="resource-label">{{localize "Ex3.DamageType"}}</div>
                        <select name="system.poison.damagetype" data-type="String">
                            {{#select system.poison.damagetype}}
                            <option value="none">{{localize "Ex3.None"}}</option>
                            <option value="initiative">{{localize "Ex3.Initiative"}}</option>
                            <option value="bashing">{{localize "Ex3.Bashing"}}</option>
                            <option value="lethal">{{localize "Ex3.Lethal"}}</option>
                            <option value="none">{{localize "Ex3.Aggravated"}}</option>
                            {{/select}}
                        </select>
                    </div>
                </div>
                <div class="d-flex flex-center resources">
                    <label class="resource-label mr-1">{{localize "Ex3.AttackEffect"}} </label>
                </div>
                <div>
                    <label class="resource-label mr-1">{{localize "Ex3.Preset"}}: </label>
                    <select name="system.attackeffectpreset" data-type="String">
                        {{#select system.attackeffectpreset}}
                        <option value="arrow">{{localize "Ex3.Arrow"}}</option>
                        <option value="bite">{{localize "Ex3.Bite"}}</option>
                        <option value="brawl">{{localize "Ex3.Brawl"}}</option>
                        <option value="claws">{{localize "Ex3.Claws"}}</option>
                        <option value="fireball">{{localize "Ex3.Fireball"}}</option>
                        <option value="firebreath">{{localize "Ex3.Firebreath"}}</option>
                        <option value="flamepiece">{{localize "Ex3.Flamepiece"}}</option>
                        <option value="glaive">{{localize "Ex3.Glaive"}}</option>
                        <option value="goremaul">{{localize "Ex3.Goremaul"}}</option>
                        <option value="greatsaxe">{{localize "Ex3.Greataxe"}}</option>
                        <option value="greatsword">{{localize "Ex3.Greatsword"}}</option>
                        <option value="handaxe">{{localize "Ex3.Handaxe"}}</option>
                        <option value="lightning">{{localize "Ex3.Lightning"}}</option>
                        <option value="quarterstaff">{{localize "Ex3.Quarterstaff"}}</option>
                        <option value="rapier">{{localize "Ex3.Rapier"}}</option>
                        <option value="scimitar">{{localize "Ex3.Scimitar"}}</option>
                        <option value="shortsword">{{localize "Ex3.Shortsword"}}</option>
                        <option value="spear">{{localize "Ex3.Spear"}}</option>
                        <option value="sword">{{localize "Ex3.Sword"}}</option>
                        <option value="throwdagger">{{localize "Ex3.ThrownDagger"}}</option>
                        <option value="none">{{localize "Ex3.None"}}</option>
                        {{/select}}
                    </select>
                    <div>
                        <label class="resource-label mr-1">{{localize "Ex3.CustomInput"}}: </label>
                        <input type="text" name="system.attackeffect" value="{{system.attackeffect}}"
                            placeholder="jb2a.quarterstaff.melee.01.white" />
                    </div>
                    <div class="resource-label list-section-header d-flex flex-between">
                        <div>
                            {{localize "Ex3.AttackMacro"}}
                        </div>
                    </div>
                    <div class="flex-group-center d-flex flex-col">
                        <textarea type="text" name="system.attackmacro" rows="16"
                            placeholder='{{localize "Ex3.AttackMacroHint"}}'>{{system.attackmacro}}</textarea>
                    </div>
                </div>
            </div>
        </div>

        <div class="tab" data-group="primary" data-tab="effects">
            {{> systems/exaltedthird/templates/actor/active-effects.html}}
        </div>

    </section>
</form>