<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
            <div>
                <label class="resource-label">{{localize "Ex3.Type"}}: </label>
                <select name="system.type" data-type="String">
                    {{#select system.type}}
                    <option value="basic">{{localize "Ex3.Basic"}}</option>
                    <option value="major">{{localize "Ex3.Major"}}</option>
                    <option value="superior">{{localize "Ex3.Superior"}}</option>
                    <option value="legendary">{{localize "Ex3.Legendary"}}</option>
                    {{/select}}
                </select>
                <label class="resource-label">{{localize "Ex3.Rating"}}: </label>
                <input type="number" name="system.rating" value="{{system.rating}}" style="width:55px;" />
            </div>
        </div>
    </header>

    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description">{{localize "Ex3.Description"}}</a>
        <a class="item" data-tab="effects">{{localize "Ex3.Effects"}}</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">
        {{!-- Description Tab --}}
        <div class="tab" data-group="primary" data-tab="description">
            {{editor system.description target="system.description" button=true owner=owner editable=true}}
        </div>

        <div class="tab" data-group="primary" data-tab="effects">
            {{> systems/exaltedthird/templates/actor/active-effects.html}}
        </div>

    </section>
</form>
