<div class="tab flex-center {{tab.cssClass}}" data-group="primary" data-tab="abilities" data-drop="true">
  <div class="resource-content flexrow flex-center flex-between mt-2">
    <label class="resource-label" style="font-size: 24px;">{{localize "Ex3.Abilities"}}<a data-action="randomAbilities"><i id="randomAbilities"
          class="fas fa-dice cursor-pointer"></i></a></label>
  </div>
  <div class="resource grid grid-3col flex-center" style="align-items:start">
    {{#each data.character.abilities as |ability key|}}
    {{#ifNotEquals key 'martialarts'}}
    <div>
      <div class="resource-label flexrow flex-center">
        {{localize ability.name}}{{#if ability.caste}}*{{/if}}<input class="dots-checkbox"
          name="object.character.abilities.{{key}}.favored" type="checkbox" {{checked ability.favored}}></div>
      {{#ifEquals ../data.characterType 'character'}}
      <div class="resource-value" data-value="{{ability.value}}" data-name="object.abilities.{{key}}.value">
        {{#numLoop 5}}
        {{#ifGreater ability.value this}}
        <span class="resource-value-step" data-type="abilities" data-name="{{key}}" data-index="{{this}}"
          style="background-color:black;"></span>
        {{else}}
        <span class="resource-value-step" data-type="abilities" data-name="{{key}}" data-index="{{this}}"></span>
        {{/ifGreater}}
        {{/numLoop}}
        {{#ifEquals ../data.character.exalt 'sidereal'}}
        <img class="borderless-image" src="systems/exaltedthird/assets/caste-marks/{{ability.maiden}}.png"
          title="{{ability.maiden}}" height="14" width="14" />
        {{/ifEquals}}
      </div>
      {{/ifEquals}}
      {{#if ../data.character.showAbilityCharms}}
      <div class="resource-label flexrow flex-center"><span>{{localize "Ex3.Charms"}} <a><i
              class="fas fa-dice cursor-pointer random-item" data-type="charms" data-item="charm"
              data-ability="{{key}}"></i></a> <a data-action="importItem" class="item-control import-item" title="Import charm"
            data-type="charms" data-item="charm" data-ability="{{key}}"><i class="fas fa-edit"></i></a></span>
      </div>
      {{/if}}
      <ol class="items-list" style="align-items:start;max-height:150px;">
        {{#each ability.charms as |item index|}}
        <li class="item flexrow item-row" data-item-id="{{item._id}}">
          <div class="item-image"><img class="list-item-image" src="{{item.img}}" title="{{item.name}}" width="24"
              height="24" /></div>
          <h4 class="item-name">{{item.name}}
          </h4>
          <div class="item-image" data-action="deleteSublistCharm" data-sublistkey="{{key}}" data-index="{{index}}" data-type="abilities"><a class="item-control delete-sublist-charm" title="Delete"
              ><i
                class="fas fa-trash"></i></a></div>
        </li>
        <li class="item-description" style="text-align: start;">
          <div>
            {{{charmCostDisplay item.system}}}
          </div>
          <div>
            <b>{{localize "Ex3.Mins"}}</b>: {{#ifNotEquals item.system.requirement "0"}}<span class="capitalize">{{item.system.ability}}</span>
            {{item.system.requirement}}, {{/ifNotEquals}} Essence {{item.system.essence}}
          </div>
          <div>
            <b>{{localize "Ex3.Type"}}</b>: {{item.system.type}}
          </div>
          {{#if item.system.keywords}}
          <div>
            <b>{{localize "Ex3.Keywords"}}</b>: {{item.system.keywords}}
          </div>
          {{/if}}
          <div>
            <b>{{localize "Ex3.Duration"}}</b>: {{item.system.duration}}
          </div>
          <div>
            <b>{{localize "Ex3.Prerequisites"}}</b>: {{#each item.system.charmprerequisites as |prereq
            id|}}<span>{{prereq.name}},</span>{{/each}} {{item.system.prerequisites}}
          </div>
          <div>
            {{{item.enritchedHTML}}}
          </div>
        </li>
        {{/each}}
      </ol>
    </div>
    {{/ifNotEquals}}
    {{/each}}
  </div>
  {{#if data.character.showAbilityCharms}}
  {{#if data.creationData.available.casteAbilities}}
  <div>
    {{data.creationData.spent.casteAbilities}}/{{data.creationData.available.casteAbilities}} Caste
  </div>
  {{/if}}
  <div>
    {{data.creationData.spent.favoredAbilities}}/{{data.creationData.available.favoredAbilities}} Favored
  </div>
  {{/if}}
  <div>
    {{data.creationData.spent.abilities}}/{{data.creationData.available.abilities}}
    ({{data.creationData.spent.abovethree}} Above 3)
  </div>
  {{#ifEquals data.characterType 'character'}}
  <div class="resource-content flex-center mt-2" style="font-size: 24px;">
    <label class="resource-label">{{localize "Ex3.Crafts"}}</label>
    <a data-action="addItem" class="item-control add-item" title="Create craft" data-type="crafts"><i class="fas fa-plus"></i></a>
  </div>
  <div class="resource grid grid-3col flex-center">
    {{#each data.character.crafts as |craft index|}}
    <input name="object.character.crafts.{{index}}.name" type="text" value="{{craft.name}}" />
    <input name="object.character.crafts.{{index}}.system.points" type="number" value="{{craft.system.points}}" />
    <a class="item-control delete-item" data-action="deleteItem" title="Delete" data-type="crafts" data-index="{{index}}"><i
        class="fas fa-trash"></i></a>
    {{/each}}
  </div>
  {{/ifEquals}}
  <div class="resource-content flex-center mt-2" style="font-size: 24px;">
    <label class="resource-label"><input name="object.character.abilities.martialarts.favored" type="checkbox"
        {{checked data.character.abilities.martialarts.favored}}>{{localize "Ex3.MartialArts"}}</label>
    <a data-action="randomItem" data-type="martialArts"
    data-item="customability"><i class="fas fa-dice cursor-pointer random-item" title="Random Martial Art"></i></a>
    <a data-action="addItem" class="item-control add-item" title="Create Martial Art" data-type="martialArts"><i
        class="fas fa-plus"></i></a>
    <a data-action="importItem" class="item-control import-item" title="Import" data-type="martialArts" data-item="customability"><i
        class="fas fa-edit"></i></a>
  </div>
  <div class="resource grid grid-3col flex-center">
    {{#each data.character.martialArts as |martialart index|}}
    <input name="object.character.martialArts.{{index}}.name" type="text" type="text"
      value="{{martialart.name}}" />
    <input name="object.character.martialArts.{{index}}.system.points" type="text" type="number"
      value="{{martialart.system.points}}" />
    <a class="item-control delete-item" data-action="deleteItem" title="Delete" data-type="martialArts" data-index="{{index}}"><i
        class="fas fa-trash"></i></a>
    {{/each}}
  </div>
  {{#ifEquals data.characterType 'character'}}
  <div class="resource-content flex-center mt-2" style="font-size: 24px;">
    <label class="resource-label">{{localize "Ex3.Specialties"}}</label>
    <a data-action="addItem" class="item-control add-item" title="Create specialty" data-type="specialties"><i
        class="fas fa-plus"></i></a>
  </div>
  <div class="resource grid grid-3col flex-center">
    {{#each data.character.specialties as |specialty index|}}
    <input name="object.character.specialties.{{index}}.name" type="text" value="{{specialty.name}}" />
    <select name="object.character.specialties.{{index}}.system.ability" data-type="String">
      {{selectOptions ../data.abilityList selected=specialty.system.ability localize=true}}
    </select>
    <a class="item-control delete-item" data-action="deleteItem" title="Delete" data-type="specialties" data-index="{{index}}"><i
        class="fas fa-trash"></i></a>
    {{/each}}
  </div>
  <div>
    {{data.creationData.spent.specialties}}/{{data.creationData.available.specialties}}
  </div>
  {{/ifEquals}}
</div>