<div class="tab flex-center {{tab.cssClass}}" data-group="primary" data-tab="charms" data-drop="true">
  <div class="resource-content flexrow flex-center flex-between mt-2">
    <label class="resource-label" style="font-size: 24px;">{{localize "Ex3.Charms"}}<a data-action="randomItem" data-type="charms"
      data-item="charm"><i class="fas fa-dice cursor-pointer random-item" title="Random Charm" ></i></a>
      <a class="item-control import-item" data-action="importItem" title="Import charm" data-type="charms" data-item="charm"><i
          class="fas fa-edit"></i></a></label>
  </div>
  <ol class="items-list" style="text-align:start;">
    {{#each data.character.charms as |item index|}}
    <li class="item flexrow item-row" data-item-id="{{item._id}}">
      <div class="item-image"><img class="list-item-image" src="{{item.img}}" title="{{item.name}}" width="24"
          height="24" /></div>
      <h4 class="item-name">{{item.name}}
        <a class="item-control lower-charm-count" data-action="lowerCharmCount" title="Lower Charm Count" data-type="charms"
          data-index="{{index}}"><i class="fas fa-minus"></i></a>
        {{item.itemCount}}
        <a class="item-control add-charm-count" data-action="addCharmCount" title="Add Charm Count" data-type="charms"
          data-index="{{index}}"><i class="fas fa-plus"></i></a>
      </h4>
      <div class="item-controls"><a class="item-control delete-item" data-action="deleteItem" title="Remove Charm" data-type="charms"
          data-index="{{index}}"><i class="fas fa-trash"></i></a>
    </li>
    <li class="item-description" style="    text-align: start;">
      <div>
        {{{charmCostDisplay item.system}}}
      </div>
      <div>
        <b>{{localize "Ex3.Mins"}}</b>: {{#ifNotEquals item.system.requirement "0"}}<span class="capitalize">{{item.system.ability}}</span>
        {{item.system.requirement}}, {{/ifNotEquals}} Essence {{item.system.essence}}
      </div>
      <div>
        <b>{{localize "Ex3.Type"}}</b>: {{item.system.type}}
      </div>
      {{#if item.system.keywords}}
      <div>
        <b>{{localize "Ex3.Keywords"}}</b>: {{item.system.keywords}}
      </div>
      {{/if}}
      <div>
        <b>{{localize "Ex3.Duration"}}</b>: {{item.system.duration}}
      </div>
      <div>
        <b>{{localize "Ex3.Prerequisites"}}</b>: {{#each item.system.charmprerequisites as |prereq
        id|}}<span>{{prereq.name}},</span>{{/each}} {{item.system.prerequisites}}
      </div>
      <div>
        {{{item.enritchedHTML}}}
      </div>
    </li>
    {{/each}}
    {{#ifEquals data.character.exalt 'sidereal'}}
    <li>
      <b>{{localize "Ex3.Charms"}}:</b> {{localize "Ex3.Journeys"}}: {{data.character.maidenCharms.journeys}},
      {{localize
      "Ex3.Serenity"}}:
      {{data.character.maidenCharms.serenity}}, {{localize "Ex3.Battles"}}:
      {{data.character.maidenCharms.battles}}, {{localize
      "Ex3.Secrets"}}: {{data.character.maidenCharms.secrets}}, {{localize "Ex3.Endings"}}:
      {{data.character.maidenCharms.endings}}
    </li>
    {{/ifEquals}}
  </ol>
  <div class="resource-content flexrow flex-center flex-between mt-2">
    <label class="resource-label" style="font-size: 24px;">{{localize "Ex3.Evocations"}}
      <a data-action="randomItem" data-type="evocations"
      data-item="evocation"><i class="fas fa-dice cursor-pointer random-item" title="Random Evocation" ></i></a>
      <a class="item-control import-item" data-action="importItem" title="Import evocation" data-type="evocations" data-item="evocation"><i
          class="fas fa-edit"></i></a></label>
  </div>
  <ol class="items-list" style="text-align:start;">
    {{#each data.character.evocations as |item index|}}
    <li class="item flexrow item-row" data-item-id="{{item._id}}">
      <div class="item-image"><img class="list-item-image" src="{{item.img}}" title="{{item.name}}" width="24"
          height="24" /></div>
      <h4 class="item-name">{{item.name}}
        <a class="item-control lower-charm-count" data-action="lowerCharmCount" title="Lower Charm Count" data-type="evocations"
        data-index="{{index}}"><i class="fas fa-minus"></i></a>
      {{item.itemCount}}
      <a class="item-control add-charm-count" data-action="addCharmCount" title="Add Charm Count" data-type="evocations"
        data-index="{{index}}"><i class="fas fa-plus"></i></a>
      </h4>
      <div class="item-controls"><a class="item-control delete-item" data-action="deleteItem" title="Remove Charm" data-type="evocations"
          data-index="{{index}}"><i class="fas fa-trash"></i></a>
    </li>
    <li class="item-description" style="    text-align: start;">
      <div>
        {{{charmCostDisplay item.system}}}
      </div>
      <div>
        <b>{{localize "Ex3.Mins"}}</b>: {{#ifNotEquals item.system.requirement "0"}}<span class="capitalize">{{item.system.ability}}</span>
        {{item.system.requirement}}, {{/ifNotEquals}} Essence {{item.system.essence}}
      </div>
      <div>
        <b>{{localize "Ex3.Type"}}</b>: {{item.system.type}}
      </div>
      {{#if item.system.keywords}}
      <div>
        <b>{{localize "Ex3.Keywords"}}</b>: {{item.system.keywords}}
      </div>
      {{/if}}
      <div>
        <b>{{localize "Ex3.Duration"}}</b>: {{item.system.duration}}
      </div>
      <div>
        <b>{{localize "Ex3.Prerequisites"}}</b>: {{#each item.system.charmprerequisites as |prereq
        id|}}<span>{{prereq.name}},</span>{{/each}} {{item.system.prerequisites}}
      </div>
      <div>
        {{{item.enritchedHTML}}}
      </div>
    </li>
    {{/each}}
  </ol>
  <div class="resource-content flexrow flex-center flex-between mt-2">
    <label class="resource-label" style="font-size: 24px;">{{localize "Ex3.MartialArts"}} {{localize
      "Ex3.Charms"}}
      <a data-action="randomItem" data-type="martialArtsCharms"
      data-item="martialArtCharm"><i class="fas fa-dice cursor-pointer random-item" title="Random MA Charm" ></i></a>
      <a class="item-control import-item" data-action="importItem" title="Import MA charm" data-type="martialArtsCharms"
        data-item="martialArtCharm"><i class="fas fa-edit"></i></a></label>
  </div>
  <ol class="items-list" style="text-align:start;">
    {{#each data.character.martialArtsCharms as |item index|}}
    <li class="item flexrow item-row" data-item-id="{{item._id}}">
      <div class="item-image"><img class="list-item-image" src="{{item.img}}" title="{{item.name}}" width="24"
          height="24" /></div>
      <h4 class="item-name">{{item.name}}
        <a class="item-control lower-charm-count" data-action="lowerCharmCount" title="Lower Charm Count" data-type="martialArtsCharms"
        data-index="{{index}}"><i class="fas fa-minus"></i></a>
      {{item.itemCount}}
      <a class="item-control add-charm-count" data-action="addCharmCount" title="Add Charm Count" data-type="martialArtsCharms"
        data-index="{{index}}"><i class="fas fa-plus"></i></a>
      </h4>
      <div class="item-controls"><a class="item-control delete-item" data-action="deleteItem" title="Remove Charm"
          data-type="martialArtsCharms" data-index="{{index}}"><i class="fas fa-trash"></i></a>
    </li>
    <li class="item-description" style="    text-align: start;">
      <div>
        {{{charmCostDisplay item.system}}}
      </div>
      <div>
        <b>{{localize "Ex3.Mins"}}</b>: {{#ifNotEquals item.system.requirement "0"}}<span class="capitalize">{{item.system.ability}}</span>
        {{item.system.requirement}}, {{/ifNotEquals}} Essence {{item.system.essence}}
      </div>
      <div>
        <b>{{localize "Ex3.Type"}}</b>: {{item.system.type}}
      </div>
      {{#if item.system.keywords}}
      <div>
        <b>{{localize "Ex3.Keywords"}}</b>: {{item.system.keywords}}
      </div>
      {{/if}}
      <div>
        <b>{{localize "Ex3.Duration"}}</b>: {{item.system.duration}}
      </div>
      <div>
        <b>{{localize "Ex3.Prerequisites"}}</b>: {{#each item.system.charmprerequisites as |prereq
        id|}}<span>{{prereq.name}},</span>{{/each}} {{item.system.prerequisites}}
      </div>
      <div>
        {{{item.enritchedHTML}}}
      </div>
    </li>
    {{/each}}
  </ol>
  <div class="resource-content flexrow flex-center flex-between mt-2">
    <label class="resource-label" style="font-size: 24px;">{{localize "Ex3.Other"}}/{{localize "Ex3.Eclipse"}}
      {{localize "Ex3.Charms"}}
      <a data-action="randomItem" data-type="otherCharms"
      data-item="otherCharm"><i class="fas fa-dice cursor-pointer random-item" title="Random eclipse"></i></a>
      <a class="item-control import-item" data-action="importItem" title="Import evocation" data-type="otherCharms"
        data-item="otherCharm"><i class="fas fa-edit"></i></a></label>
  </div>
  <ol class="items-list" style="text-align:start;">
    {{#each data.character.otherCharms as |item index|}}
    <li class="item flexrow item-row" data-item-id="{{item._id}}">
      <div class="item-image"><img class="list-item-image" src="{{item.img}}" title="{{item.name}}" width="24"
          height="24" /></div>
      <h4 class="item-name">{{item.name}}
        <a class="item-control lower-charm-count" data-action="lowerCharmCount" title="Lower Charm Count" data-type="otherCharms"
        data-index="{{index}}"><i class="fas fa-minus"></i></a>
      {{item.itemCount}}
      <a class="item-control add-charm-count" data-action="addCharmCount" title="Add Charm Count" data-type="otherCharms"
        data-index="{{index}}"><i class="fas fa-plus"></i></a>
      </h4>
      <div class="item-controls"><a class="item-control delete-item" data-action="deleteItem" title="Remove Charm" data-type="otherCharms"
          data-index="{{index}}"><i class="fas fa-trash"></i></a>
    </li>
    <li class="item-description" style="    text-align: start;">
      <div>
        {{{charmCostDisplay item.system}}}
      </div>
      <div>
        <b>{{localize "Ex3.Mins"}}</b>: {{#ifNotEquals item.system.requirement "0"}}<span class="capitalize">{{item.system.ability}}</span>
        {{item.system.requirement}}, {{/ifNotEquals}} Essence {{item.system.essence}}
      </div>
      <div>
        <b>{{localize "Ex3.Type"}}</b>: {{item.system.type}}
      </div>
      {{#if item.system.keywords}}
      <div>
        <b>{{localize "Ex3.Keywords"}}</b>: {{item.system.keywords}}
      </div>
      {{/if}}
      <div>
        <b>{{localize "Ex3.Duration"}}</b>: {{item.system.duration}}
      </div>
      <div>
        <b>{{localize "Ex3.Prerequisites"}}</b>: {{#each item.system.charmprerequisites as |prereq
        id|}}<span>{{prereq.name}},</span>{{/each}} {{item.system.prerequisites}}
      </div>
      <div>
        {{{item.enritchedHTML}}}
      </div>
    </li>
    {{/each}}
  </ol>
  <div class="resource-content flexrow flex-center flex-between mt-2" style="font-size: 24px;">
    <label class="resource-label">{{localize "Ex3.Sorcery"}}</label>
  </div>
  <div class="resource grid grid-4col">
    <div>
      <div class="resource-label">{{localize "Ex3.Sorcerer"}}</div>
      <select name="object.character.sorcerer" data-type="String">
        {{selectOptions selects.sorceryCircles selected=data.character.sorcerer localize=true}}
      </select>
    </div>
    <div>
      <div class="resource-label">{{localize "Ex3.Necromancer"}}</div>
      <select name="object.character.necromancer" data-type="String">
        {{selectOptions selects.necromancyCircles selected=data.character.necromancer localize=true}}
      </select>
    </div>
    <div>
      <div class="resource-label">{{localize "Ex3.SorceryRitual"}} <a data-action="randomItem" data-type="rituals"
        data-item="ritual" data-ritual="sorcery"><i
            class="fas fa-dice cursor-pointer random-item" title="Random ritual" ></i></a> <a class="item-control import-item"
            data-action="importItem" title="Import ritual" data-type="rituals" data-item="ritual" data-ritual="sorcery"><i
            class="fas fa-edit"></i></a>
        <a class="item-control delete-item" data-action="deleteItem" title="Remove ritual" data-type="ritual" data-ritual="sorcery"><i
            class="fas fa-trash"></i></a>
      </div>
      <input name="object.character.ritual.name" value="{{data.character.ritual.name}}" type="text">
      {{#if data.character.ritual.enritchedHTML}}
      <div class="item d-flex flex-between mb-1 item-row cursor-pointer">
        <li class="flexrow item-header">
          <div class="item-name">{{localize "Ex3.Description"}}</div>
        </li>
        <div>
          <i class="fas fa-caret-down"></i>
        </div>
      </div>
      <div style="display:none;text-align:start;">
        {{{data.character.ritual.enritchedHTML}}}
      </div>
      {{/if}}
    </div>
    <div>
      <div class="resource-label">{{localize "Ex3.NecromancyRitual"}} <a data-action="randomItem" data-type="rituals"
        data-item="ritual" data-ritual="necromancy"><i
            class="fas fa-dice cursor-pointer random-item" title="Random ritual" ></i></a> <a class="item-control import-item" data-action="importItem"
          title="Import ritual" data-type="rituals" data-item="ritual" data-ritual="necromancy"><i
            class="fas fa-edit"></i></a>
        <a class="item-control delete-item" data-action="deleteItem" title="Remove ritual" data-type="ritual" data-ritual="necromancy"><i
            class="fas fa-trash"></i></a>
      </div>
      <input name="object.character.necromancyRitual.name" value="{{data.character.necromancyRitual.name}}"
        type="text">
      {{#if data.character.necromancyRitual.enritchedHTML}}
      <div class="item d-flex flex-between mb-1 item-row cursor-pointer">
        <li class="flexrow item-header">
          <div class="item-name">{{localize "Ex3.Description"}}</div>
        </li>
        <div>
          <i class="fas fa-caret-down"></i>
        </div>
      </div>
      <div style="display:none;text-align:start;">
        {{{data.character.necromancyRitual.enritchedHTML}}}
      </div>
      {{/if}}
    </div>
  </div>
  <div class="resource-content flexrow flex-center flex-between mt-2">
    <label class="resource-label" style="font-size: 24px;">{{localize "Ex3.Spells"}} <a data-action="randomItem" data-type="spells" data-item="spell"><i
          class="fas fa-dice cursor-pointer random-item"></i></a>
      <a class="item-control import-item" data-action="importItem" title="Import spell" data-type="spells" data-item="spell"><i
          class="fas fa-edit"></i></a></label>
  </div>
  <ol class="items-list" style="text-align:start;">
    {{#each data.character.spells as |item index|}}
    <li class="item flexrow item-row" data-item-id="{{item._id}}">
      <div class="item-image"><img class="list-item-image" src="{{item.img}}" title="{{item.name}}" width="24"
          height="24" /></div>
      <h4 class="item-name">{{item.name}}</h4>
      <div class="item-controls"><a class="item-control delete-item" data-action="deleteItem" title="Remove Spell" data-type="spells"
          data-index="{{index}}"><i class="fas fa-trash"></i></a>
    </li>
    <li class="item-description" style="    text-align: start;">
      <div>
        {{{item.enritchedHTML}}}
      </div>
    </li>
    {{/each}}
  </ol>
  <div>
    {{data.creationData.spent.charms}}/{{data.creationData.available.charms}}
  </div>
</div>